/*
Theme Name: RETRO SCROLL - Version:  1
Description:  Designed by <a href="http://themeforest.net/user/josweb">josweb</a>.
Author:  <a href="http://www.spiralpixel.com">Jo</a>

01. GENERAL
1. Reset
2. General Styling

02. SECTIONS
1. Drop Down Panel
2. About Me
3. Featured Projects
4. Portfolio
5. Services
6. Contact
7. Blog
8. Footer
9. STYLING

 */
/* RESET */
html,body,div,span,applet,object,iframe,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 14px;
	vertical-align: baseline;
	background: transparent;
	text-align: left;
}


/***************************************************
GENERAL STYLING
 ***************************************************/
* {
	margin: 0;
	padding: 0;
}

body {
	background: #fefefe url(style/images/bodybg.png) repeat;
	margin: 0 auto;
	text-shadow:0 1px 0 #FFFFFF;
	font-family:"DINPro-Medium", Arial, Helvetica, sans-serif; font-weight:normal;
	color: #555;
}

p { margin: 0; text-align: left; padding: 0 0 15px 0; }
.clear { clear: both; }
.center { margin: 0 auto 20px auto; text-align: center; }
.highlight { padding: 2px 2px; background-color: #980000; color: #fff; text-shadow: none; }


/* LINKS ++++++++++++++++++++++++++++++++++++++++++++ */

a,a.pirobox {
	color: #980000;
	text-decoration: none;
	-webkit-transition: background-color .2s linear, color .2s linear;
	-moz-transition: background-color .2s linear, color .2s linear;
	-o-transition: background-color .2s linear, color .2s linear;
	-ms-transition: background-color .2s linear, color .2s linear;
	transition: background-color .2s linear, color .2s linear;
	outline: 0;
}

a:hover {
	color: #333;
	text-align: left;
}

/* DIVIDERS ++++++++++++++++++++++++++++++++++++++++++++ */

.divider {
	background: url(style/images/dividers/divider1.png) 1% 0%;
	height: 5px;
	margin: 10px 0px 20px 0px;
}

.divider2 {
	background: url(style/images/dividers/divider2.png) repeat;
	height: 8px;
	margin: 0px 0px 45px 0px;
}

.divider3 {
	background: url(style/images/dividers/divider2.png) repeat;
	height: 4px;
	margin: 0px 0px 45px 0px;
}

/* LISTS ++++++++++++++++++++++++++++++++++++++++++++ */

ul.bullet,ul.pointer {
	padding: 0;
	display: block;
	overflow: hidden;
	margin: 0;
}

/* Bullet List */
ul.bullet li {
	line-height: 1.5em;
	list-style: none;
	background: transparent url(style/images/bullet.jpg) no-repeat;
	background-position: 0px 8px;
	padding: 0px 0px 10px 24px; 
}

/* Disc List */
ul.disc li {
	line-height: 1.5em;
	list-style: none;
	background: transparent url(style/images/bullet2.png) no-repeat;
	background-position: -5px -1px;
	padding: 0px 0px 10px 21px;
}

/* Arrows List */
ul.pointer li {
	line-height: 1.5em;
	list-style: none;
	display: block;
	background: transparent url(style/images/list-arrow.png) no-repeat;
	background-position: -4px 2px;
	padding: 0px 0px 10px 21px;
}

/* Star List */
ul.star li {
	text-align: left;
	line-height: 1.5em;
	list-style: none;
	display: block;
	background: transparent url(style/images/star.png) no-repeat;
	background-position: -2px 1px;
	padding: 0px 0px 10px 24px;
}

/* Briefcase List */
ul.briefcase li {
	text-align: left;
	line-height: 1.5em;
	list-style: none;
	display: block;
	background: transparent url(style/images/briefcase.png) no-repeat;
	background-position: 0px 3px;
	padding: 0px 0px 10px 25px;
	margin-left: -3px;
}

/* Ribbon List */
ul.ribbon li {
	text-align: left;
	line-height: 1.5em;
	list-style: none;
	display: block;
	background: transparent url(style/images/ribbon.png) no-repeat;
	background-position: -1px 3px;
	padding: 0px 0px 10px 24px;
	margin-left: -2px;
}

.list { margin: 4px 0px 0px 0px; }

/* Ordered List */
ol {
	font-family: 13px "DIN1451StdEngschrift", Arial, Helvetica, sans-serif;
	color: #B7A99D;
	padding: 4px 0px 0px 20px;
}

ol p { font-family: 12px "DIN1451StdEngschrift", Arial, Helvetica, sans-serif;Arial, Helvetica, sans-serif;
color: #515255; }


/* DROP CAPS - QUOTES ++++++++++++++++++++++++++++++++++++++++++++ */
.dropcap {
	font-family: "DIN1451StdEngschrift", Arial, Helvetica, sans-serif;
	font-weight: 500;
	font-size: 52px;
	color: #980000;
	display: block;
	float: left;
	line-height: 1;
	margin: 0px 5px 0px 0;
}

/* Circle Dropcap */
.dropcap2 {
	font-family:"DIN1451StdEngschrift", Arial, Helvetica, sans-serif;
	font-weight: 500;
	color: #fff;
	background-color: #980000;
	float: left;
	display: block;
	margin: 5px 10px 0px 0;
	font-size: 28px;
	line-height: 45px;
	text-shadow: none;
	width: 45px;
	text-align: center;
	-webkit-border-radius: 45px;
	-moz-border-radius: 45px;
	border-radius: 45px;
}

/* Pull Quote */
.pullleft,.pullright {
	float: right;
	font-size: 13px;
	line-height: 1.6em;
	font-style: italic;
	color: #666;
	width: 33%;
	margin: 20px 0px 10px 10px;
	padding: 0px 0px 5px 12px;
	border-left: 5px solid #980000;
}

.pullleft { float: left; margin-left: 0px; margin-right: 10px; }

/* Rotating Quotes */
blockquote {
	text-shadow: 0 1px 0 #FFFFFF;
	font: 12px/18px  Arial, Helvetica, sans-serif;
	color: #515255; margin: 0px 0px 0px 40px;
}

#quote_wrap {
	background: url(style/images/quote-mark.png) no-repeat 0px 0px;
	margin: 0px 0; padding: 0px 0px 0px 20px;
}

/* IMAGE STYLES ++++++++++++++++++++++++++++++++++++++++++++ */
img.left {
	border: 1px solid #ccc;
	padding: 5px;
	background-color: #FEFFFF;
	float: left;
	margin: 4px 10px 0px 0px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
	box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

img.right {
	border: 1px solid #ccc;
	padding: 5px;
	background-color: #FEFFFF;
	float: right;
	margin: 4px 0px 0px 10px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
	box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

img.icon_left {
	border: 1px solid #bbb;
	padding: 5px;
	background: #ddd url(style/images/noise.png);
	float: left;
	margin: 3px 10px 0px 0px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

/* TYPOGRAPHY ++++++++++++++++++++++++++++++++++++++++++++ */

h1,h2,h3,h4,h5,h6 {
	font-family: "AdobeCaslonProBold", Georgia, Times New Roman, Times, serif;
	
	text-transform: uppercase;
	letter-spacing: 0.02em;
	font-weight: 300;
	color: #444;
        text-shadow: 1px 1px 1px rgba(255,255,255,0.6);
	margin-bottom: 1.0em;
	text-align: left;
}

h1 {
	font-size: 30px;
	color: #980000;
	text-align: center;
	font-weight: 700;
	padding: 0;
	margin-bottom: 1.5em;
}

h2 {
	font-size: 18px;
	line-height: 12px;
	color: #980000;
}
h3 {
	font-size: 16px;
	line-height: 12px;
}
h4 { font-size: 15px; line-height: 12px; }
h5 { font-size: 14px; line-height: 12px; }
h6 { font-size: 13px; line-height: 12px; }

h5.center { margin: -10px 0 20px 0; }


/* COLUMNS ++++++++++++++++++++++++++++++++++++++++++++ */

/* Two Columns */
.col2 {
	float: left;
	position: relative;
	width: 910px;
	margin-top: 0px;
	margin-right: 40px;
	margin-bottom: 30px;
	margin-left: 0px;
	text-align: left;
}

/* Three Columns */
.col3 {
	float: left;
	position: relative;
	width: 290px;
	margin: 0px 40px 25px 0px;
	text-align: left;
}

/* Four Columns */
.col4 {
	float: left;
	position: relative;
	width: 207px;
	margin: 0px 40px 25px 0px;
}

/* Four Columns */
.col5 {
	float: left;
	position: relative;
	width: 172px;
	margin: 0px 10px 25px 0px;
	text-align: left;
}

.last {
	margin-right: 0px;
	text-align: left;
}

/* FEATURED & BLOG COLUMNS ++++++++++++++++++++++++++++++++++++++++++++ */

.sidebar {
	margin-right: 20px;
	float: left;
	width: 210px;
}

.featured_right_col,.blog_col {
	width: 720px;
	margin-right: 0px;
	float: left;
}

.small_col {
	float: left;
	position: relative;
	width: 200px;
	margin: 5px 20px 20px 0px;
}

.small_col2 {
	float: left;
	position: relative;
	width: 720px;
	margin: 5px 0px 25px 0px;
}

.blog_col h3 a { color: #444; }

.blog_col h3 a:hover { color: #980000; }

.sidebar ul.pointer li { padding: 0px 0px 15px 24px; }


/* LAYOUT ++++++++++++++++++++++++++++++++++++++++++++ */

#wrapper {
	width: 960px;
	margin: 0 auto;
}

#home,#about,#work,#contact,#services,#portfolio,#faq,#blog,#extras {
	display: inline-block;
	width: 950px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 100px;
	padding-left: 0px;
}

#home { padding-top: 110px; }
#work { padding-top: 15px; }
#blog { padding-top: 15px; }
#bios { padding-top: 15px; }
#abstracts { padding-top: 15px; }
#services { padding-top: 15px; }
#agenda { padding-top: 15px; }
#local { padding-top: 15px; }
#extras { padding-top: 15px; }
#registration { padding-top: 15px; }
#cap { padding-top: 15px; }
#video { padding-top: 15px; }
#pmaher { padding-top: 15px; }

#content { width: 950px; margin: 0 auto; }

/* LOGO ++++++++++++++++++++++++++++++++++++++++++++ */
#logo {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 140px;
	margin: 0px auto 0px auto;
	text-indent: -5000px;
	z-index: 5;
}

.logo {
	display: block;
	/*height: 140px;
	width: 263px; */
	height: 140px;
	width: 960px;
	margin: 5px auto 0px auto;
}

/* MAIN MENU NAVIGATION ++++++++++++++++++++++++++++++++++++++++++++ */

#main {
	position: fixed;
	top: 10px;
	width: 1024px;
	height: 80px;
	padding-top: 10px;
	background: #fff url(style/images/bodybg.png) repeat;
	z-index: 5000;
}

#main ul {
	padding-top: 0px;
	display: block;
	margin: 0px auto;
	height: 80px;
	background-image: url(style/images/diagonal_line.png);
	background-repeat: repeat-x;
	background-position: 0px 75px;
	text-align: center;
}

#main ul li a:hover { color: #980000; }
#main ul li { display: inline; }

#main ul li a {
	display: inline-block;
	margin: 0px 0px 0px 0px;
	font-family: 'Oswald', Arial, serif;
	font-size: 16px;
	font-weight: 300;
	 text-shadow: 1px 1px 1px rgba(255,255,255,0.6);
	text-transform: uppercase;
	text-decoration: none;
	color: #222;
	background-image: url(style/images/menuline.png);
	background-repeat: no-repeat;
	background-position: right top;
	padding: 10px 25px 8px 20px;
	-webkit-transition: color .3s ease-in;
	-moz-transition: color .3s ease-in;
	-o-transition: color .3s ease-in;
	-ms-transition: color .3s ease-in;
	transition: color .3s ease-in;
}

#main ul li.last a { background-image: none; }


/* =============================================================================
    SECTIONS
   ========================================================================== */

/* 1. DROP DOWN PANEL ++++++++++++++++++++++++++++++++++++++++++++ */

#dropdownpanel {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 9000;
	visibility: hidden;
}

#dropdownpanel .contentdiv { padding: 10px; background: #222 url(style/images/dropdown_bg.png); }

#dropdownpanel .control {
	border-top: 2px solid #222;
	background: transparent url("style/images/panel.png") right center no-repeat;
	height: 60px;
	margin-top: -2px;
}

.dd {
	width: 950px;
	display: block;
	clear: both;
	text-align: center;
	margin: 0px auto 0px auto;
	padding: 20px 0px;
}

#dropdownpanel h4 {
	padding: 0;
	color: #FFF;
	text-align: left;
	font-weight: 400;
	text-shadow: none;
	margin-bottom: 10px;
}

#dropdownpanel p {
	padding: 0;
	color: #bbb;
	text-shadow: none;
	text-align: left;
	font: 12px/18px  Arial, Helvetica, sans-serif;
	padding: 0 0 15px 0;
}

.dd img.left { float: left; margin: 4px 0px 8px 0px; }

#dropdownpanel .continue :after {
	content: "\2192";
	margin-left: 5px;
	color: #999;
	text-shadow: none;
	float: right;
}

#dropdownpanel .continue a:hover,#dropdownpanel a:hover { color: #ccc; }
#dropdownpanel .continue { color: #999; text-shadow: none; float: left; }



/* 2. ABOUT ME ++++++++++++++++++++++++++++++++++++++++++++ */

/********************
 * SKILLS CHART *
 ********************/
ul.my_skills {
	float: left;
	width: 450px;
	padding: 0;
	margin-top: 0px;
}

.my_skills li {
	float: left;
	width: 450px;
	height: 27px;
	padding: 0;
	margin-bottom: 7px;
	list-style: none;
	border: 1px solid #999;
	background: #ccc url("style/images/light_lines.png") left top repeat;
}

.my_skills { float: left; width: 25px; height: 27px; }
.my_skills p span { color: #fff; float: right; padding: 4px 12px; text-shadow: none; }

/*SKILLS -ADD YOUR PERCENTAGES HERE */
.my_skills.photoshop {
	width: 90%;
	color: #222;
	background: #555 url("style/images/light_lines.png") repeat;
	border-right: 1px solid #444;
}

.my_skills.html {
	width: 80%;
	color: #bbb;
	background: #555 url("style/images/light_lines.png") repeat;
	border-right: 1px solid #444;
}

.my_skills.illustrator {
	width: 60%;
	color: #bbb;
	background: #555 url("style/images/light_lines.png") repeat;
	border-right: 1px solid #444;
}

.my_skills.jquery {
	width: 80%;
	color: #bbb;
	background: #555 url("style/images/light_lines.png") repeat;
	border-right: 1px solid #444;
}

/* 3. FEATURED PROJECTS ++++++++++++++++++++++++++++++++++++++++++++ */

/********************
 * FEATURED MENU *
 ********************/

#menu_nav {
	position: relative;
	margin: 0px 0 30px 0;
	padding-bottom: 0px;
	text-shadow: 0px 1px 0px #333;
	border: 3px solid #111;
}

#menu_nav ul {
	margin-top: 0px;
	background: url(style/images/featured_menu.jpg);
	padding: 0px;
	border: 1px dashed #555;
}

#menu_nav ul li { display: block; border-bottom: 1px dashed #555; }

#menu_nav ul li a {
	display: block;
	padding: 8px 10px;
	font-size: 14px;
	color: #ccc;
	text-align: left;
	background: url(style/images/arrow-right.png) 95% 50% no-repeat;
}

#menu_nav ul li a span { font-size: 12px; }
#menu_nav ul li.last { border-bottom: 0px solid #444; }

#menu_nav ul li a:hover,#menu_nav ul li a:active {
	color: #bbb;
	cursor: pointer;
	background: url(style/images/arrow-right.png) 95% 50% no-repeat;
	filter: 0;
	-moz-opacity: 0.85;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
	filter: alpha(opacity=85);
	opacity: 0.85;
	-khtml-opacity: 0.85;
	text-decoration: none;
}

/********************
 * BACK TO TOP LINKS *
 ********************/

/* back to top */
.back_to_top {
	display: block;
	clear: both;
	text-align: right;
	margin: 0px 0px 60px 0px;
	padding: 0px 0px;
	text-transform: lowercase;
	line-height: 30px;
	background: url(style/images/dividers/divider1.png) 0% 0%;
	height: 6px;
}

/* back to top arrow*/
a#back_to_top_side {
	display: block;
	width: 192px;
	height: 110px;
	margin: 0 0 0 0px;
	text-indent: -5000px;
	cursor: pointer;
	background: url(style/images/back_to_top.png) 0 0 no-repeat;
}

a#back_to_top_side:hover { background-position: 0px -117px; }

/* arrow stop */
.finish { display: block; float: left; width: 700px;margin: 0 auto; }

/* featured image borders */
.featured_video { background: #000; border: 4px solid #222;}
.featured_image { background: #000; border: 4px solid #222; margin-bottom: 18px; }
.border { background: #000; border: 4px solid #222; }

/********************
 * PROJECT 1 *
 ********************/

/* gallery */

#featured1 { display: none; }

.gv_galleryWrap { position: relative; background: #222; font-size: 10pt; text-shadow: none; }
.gv_gallery { overflow: hidden; position: relative; }
.gv_imageStore { visibility: hidden; position: absolute; top: -10000px; left: -10000px; }
.gv_panelWrap { filter: inherit; position: absolute; overflow: hidden; }
.gv_panel-loading { background: url(style/images/img-loader.gif) 50% 50% no-repeat #aaa; }
.gv_frame-loading { background: url(style/images/img-loader.gif) 50% 50% no-repeat #aaa; }
/* panels */
.gv_panel { filter: inherit; position: absolute; top: 0; left: 0;overflow: hidden; z-index: 100; }
.gv_panel img { position: absolute; }
.gv_overlay { position: absolute; background: #222; color: white; z-index: 200; }
.gv_showOverlay { position: absolute; width: 20px; height: 20px; background: url(style/images/project_slider/info.png) #222; cursor: pointer; z-index: 200; }
.gv_overlay h4 { color: white; margin: 10px 30px; text-shadow: none; text-transform: none; font: 12px/18px  Arial, Helvetica, sans-serif; }
.gv_overlay p { color: white; margin: 0px 30px; }
.gv_infobar {
	background: #222;
	padding: 0 0.5em;
	line-height: 1.5em;
	height: 1.5em;
	font-size: 10pt;
	font-weight: bold;
	color: white;
	position: absolute;
	bottom: 0;
	right: 0;
	display: none;
	vertical-align: middle;
	z-index: 2000;
}
.gv_filmstripWrap { overflow: hidden; position: absolute; }
/* filmstrip */
.gv_filmstrip { margin: 0; padding: 0; position: absolute; top: 0; left: 0; }
/* film strip frames (contains both images and captions) */
.gv_frame { cursor: pointer; float: left; position: relative; margin: 0; padding: 0; }
.gv_frame .gv_thumbnail { position: relative; overflow: hidden !important; }
.gv_frame img { border: none; position: absolute; }
/* caption */
.gv_frame .gv_caption {
	height: 14px;
	line-height: 14px;
	font-size: 10px;
	text-align: center;
	color: white;
}
.gv_pointer { border-color: black; }
.gv_navWrap { text-align: center; position: absolute; }
.gv_navPlay,.gv_navPause,.gv_navNext,.gv_navPrev {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.3;
	-moz-opacity: 0.3;
	-khtml-opacity: 0.3;
	display: -moz-inline-stack;
	display: inline-block;
	zoom: 1;
	*display: inline;
	vertical-align: middle;
}
.gv_navPlay:hover,.gv_navPause:hover,.gv_navNext:hover,.gv_navPrev:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	opacity: 0.8;
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8;
}
.gv_panelNavPrev,.gv_panelNavNext {
	position: absolute;
	display: none;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	opacity: 0.50;
	-moz-opacity: 0.50;
	-khtml-opacity: 0.50;
	z-index: 200;
}
.gv_panelNavPrev:hover,.gv_panelNavNext:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	opacity: 0.9;
	-moz-opacity: 0.9;
	-khtml-opacity: 0.9;
}
.gv_navPlay {
	height: 30px;
	width: 30px;
	cursor: pointer;
	background: url(style/images/project_slider/play-big.png) top left no-repeat;
}
.gv_navPause {
	height: 30px;
	width: 30px;
	cursor: pointer;
	background: url(style/images/project_slider/pause-big.png) top left no-repeat;
}

.gv_navNext {
	height: 20px;
	width: 20px;
	cursor: pointer;
	background: url(style/images/project_slider/next.png) top left no-repeat;
}
.gv_navPrev {
	height: 20px;
	width: 20px;
	cursor: pointer;
	background: url(style/images/project_slider/prev.png) top right no-repeat;
}
.gv_panelNavNext {
	height: 42px;
	width: 42px;
	cursor: pointer;
	background: url(style/images//panel-next.png) top left no-repeat;
}
.gv_panelNavPrev {
	height: 42px;
	width: 42px;
	cursor: pointer;
	background: url(style/images/panel-prev.png) top right no-repeat;
}

/**********************
 * PROJECT 2 - SLIDER *
 **********************/

#slide .bx-wrapper { margin: 0 auto -5px 0; }

#slide .bx-prev {
	position: relative;
	top: 8px;
	left: -15px;
	float: right;
	background: url("style/images/prev.png") repeat;
	text-indent: -9000px;
	width: 16px;
	height: 16px;
}

#slide .bx-next {
	position: relative;
	top: 8px;
	right: -18px;
	float: right;
	background: url("style/images/forward.png") repeat;
	text-indent: -9000px;
	width: 16px;
	height: 16px;
}

#slide .bx-next:hover,#slide .bx-prev:hover {
	filter: 0;
	-moz-opacity: 0.6;
	-khtml-opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	opacity: 0.6;
	text-decoration: none;
}

/*******************************
 * PROJECT 5 - SKITTER SLIDER *
 *******************************/

.box_skitter {
	position: relative;
	width: 71px;
	height: 300px;
	background: #000;
	border: 4px solid #222;
}

.box_skitter img { max-width: none; }
.box_skitter ul { display: none; }
.box_skitter .container_skitter { overflow: hidden; position: relative; max-width: none; }
.box_skitter .image { overflow: hidden; }
.box_skitter .image img { display: none; }

/* box clone */
.box_skitter .box_clone {
	position: absolute;
	top: 0;
	left: 0;
	width: 100px;
	overflow: hidden;
	display: none;
	z-index: 20;
}
.box_skitter .box_clone img { position: absolute; top: 0; left: 0; z-index: 20; }

/* navigation */
.box_skitter .prev_button {
	position: absolute;
	top: 45%;
	left: 10px;
	z-index: 100;
	width: 42px;
	height: 42px;
	overflow: hidden;
	text-indent: -9999em;
	background: url(style/images/panel-prev.png) no-repeat left top;
}

.box_skitter .next_button {
	position: absolute;
	top: 45%;
	right: 10px;
	z-index: 100;
	width: 42px;
	height: 42px;
	overflow: hidden;
	text-indent: -9999em;
	background: url(style/images/panel-next.png) no-repeat left top;
}

/* loading */
.loading {
	position: absolute;
	top: 50%;
	right: 50%;
	z-index: 10000;
	margin: -16px -16px;
	color: #fff;
	text-indent: -9999em;
	overflow: hidden;
	background: url(style/images/ajax-loader.gif) no-repeat left top;
	width: 32px;
	height: 32px;
}

.box_skitter a { color: #333; padding: 0px 0px; }
.box_skitter_large { width: 712px; height: 300px; }

/* 4. PORTFOLIO / GALLERY ++++++++++++++++++++++++++++++++++++++++++++ */

.view {
	width: 200px;
	height: 180px;
	margin: -2px 25px 25px 2px;
	float: left;
	border: 8px solid #fff;
	overflow: hidden;
	position: relative;
	text-align: center;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
	box-shadow: 0 1px 2px rgba(0,0,0,.15);
	cursor: default;
	background: #fff url(style/images/bgimg.jpg) no-repeat center center;
}

.view .mask,.view .content {
	width: 200px;
	height: 180px;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
}

.view-tenth img {
	display: block;
	position: relative;
	-webkit-transform: scaleY(1);
	-moz-transform: scaleY(1);
	-o-transform: scaleY(1);
	-ms-transform: scaleY(1);
	transform: scaleY(1);
	-webkit-transition: all 0.7s ease-in-out;
	-moz-transition: all 0.7s ease-in-out;
	-o-transition: all 0.7s ease-in-out;
	-ms-transition: all 0.7s ease-in-out;
	transition: all 0.7s ease-in-out;
}

.view-tenth .mask {
	background-color: rgba(175, 154, 129, 0.3);
	-webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	-ms-transition: all 0.5s linear;
	transition: all 0.5s linear;
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
}

.view-tenth h2 {
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
	background: transparent;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	-webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	-ms-transition: all 0.5s linear;
	transition: all 0.5s linear;
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	text-shadow: none;
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	position: relative;
	font-size: 14px;
	font-weight:normal;
	text-rendering: optimizeLegibility; 
	padding: 5px 8px 3px 8px;
	background: rgba(0, 0, 0, 0.8);
	margin: 18px 0 14px 0;
}

.view-tenth p {
	color: #555;
	font-size: 11px;
	text-align: center;
	text-shadow: none;
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	-webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	-ms-transition: all 0.5s linear;
	transition: all 0.5s linear;
}

.view-tenth a.info {
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	-webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	-ms-transition: all 0.5s linear;
	transition: all 0.5s linear;
	display: inline-block;
	text-decoration: none;
	padding: 2px 10px 6px 10px;
	background: #000;
	font-size: 10px;
	color: #fff;
	font-weight:normal;
	margin-right: 5px;
	margin-top: 5px;
	text-transform: uppercase;
	height: 14px;
	text-shadow: none;
	font-weight:700; 
}

.view-tenth a.pirobox_gall1 {
	height: 14px;
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	-webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	-ms-transition: all 0.5s linear;
	transition: all 0.5s linear;
	display: inline-block;
	text-decoration: none;
	padding: 2px 10px 6px 10px;
	background: #000;
	font-size: 10px;
	color: #fff;
	font-weight:normal;
	margin-right: 5px;
	text-transform: uppercase;
	margin-top: 5px;
	text-shadow: none;
	font-weight:700;  
}

.view-tenth:hover img {
	-webkit-transform: scale(10);
	-moz-transform: scale(10);
	-o-transform: scale(10);
	-ms-transform: scale(10);
	transform: scale(10);
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
}

.view-tenth:hover .mask {
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}

.view-tenth:hover h2,.view-tenth:hover p,.view-tenth:hover a.info,.view-tenth:hover a.pirobox_gall1 {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}

/* gallery pagination */
.gallery {
	text-align: center;
	width: 989px;
	height: 655px;
	position: relative;
	padding: 4px 0px;
	display: block;
}

#pagination {
	text-align: center;
	width: 940px;
	padding: 4px 0px;
}

ol#pagination {
	float: left;
	list-style: none;
	cursor: pointer;
	margin: 0px auto;
	font-family: 'Oswald', Arial, serif;
	color: #444;
	text-transform: uppercase;
	font-weight: 300;
	text-shadow: 0px 1px 0px #fff;
	line-height: 1.0em;
	margin-left: 0px;
	margin-bottom: 1.0em;
	font-size: 20px;
}

ol#pagination li {
	float: left;
	list-style: none;
	cursor: pointer;
	padding: 0px 10px;
	border-right: 2px dotted #ccc;
}

ol#pagination li.current { color: #e25d33; }
ol#pagination li.next { border-right: 0px dotted #ccc; text-indent: -9000px; }


/* 5. SERVICES ++++++++++++++++++++++++++++++++++++++++++++ */

/************
 * FAQ *
 ************/
#faq {
	width: 445px;
	text-align: left;
	overflow: auto;
	position: relative;
	margin-bottom: 30px;
	margin-top: 0px;
	padding: 0px;
	background: url(style/images/noise.png) repeat;
	border: 5px solid #FEFFFF;
	-webkit-box-shadow: 1px 2px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 1px 2px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 1px 2px 0px rgba(0, 0, 0, 0.2);
}
#faq a { text-decoration: none; color: #666;}
#faq a:hover { text-decoration: none; color: #333; background: transparent;}
#faq dt.first { margin-top: 0px; }
#faq dl { padding: 15px; }
#faq dt { margin-top: 5px; padding-bottom: 5px; border-bottom: 1px dashed #aaa; }
#faq dd p { color: #444; padding: 10px; margin: 0; }
#faq dd p a { color: #980000; }
#faq dd p a:hover { color: #333; }
#faq dl dd { display: none; padding: 0 5px 0px 5px; }
#faq dd.open { display: block; }


/*******************************
 * SERVICE PANELS *
 *******************************/
@font-face {
    font-family: 'WebSymbolsRegular';
    src: url('style/websymbols/websymbols-regular-webfont.eot');
    src: url('style/websymbols/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('style/websymbols/websymbols-regular-webfont.woff') format('woff'),
        url('style/websymbols/websymbols-regular-webfont.ttf') format('truetype'),
        url('style/websymbols/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

#animation{
	width: 950px;
	height: 650px;
	position: relative;
	display: block;
	border: 0px solid;
	visibility: visible;
}

.ca-menu{
    padding:0;
    margin:20px auto;
    width: 950px;
}

.ca-menu li{margin-right:46px;
    width: 200px;
    height: 260px;
    overflow: hidden;
    position: relative;
    float:left;
    background: url(style/images/texture.png) repeat;
	border:1px solid #ccc;
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
	-webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}

.ca-menu li.last  { margin-right: 0px; }

.ca-menu li a{
    text-align: left;
    width: 100%;
    height: 100%;
    display: block;
    color: #333;
    position: relative;
}

.ca-icon{
    font-family: 'WebSymbolsRegular', cursive;
    font-size: 60px;
    color: #444;
    text-shadow: 0px 0px 1px #333;
    line-height: 120px;
    position: absolute;
    width: 100%;
    height: 50%;
    left: 0px;
    top: 0px;
    text-align: center;
    -webkit-transition: all 400ms linear;
    -moz-transition: all 400ms linear;
    -o-transition: all 400ms linear;
    -ms-transition: all 400ms linear;
    transition: all 400ms linear;
}

.ca-content{
    position: absolute;
    left: 0px;
    width: 100%;
    height: 50%;
    top: 45%;
}

.ca-main{
    font-size: 23px;
	line-height:1.2em;
    opacity: 0.8;
 	color: #333;
    text-align: center;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
}

.ca-sub{
    text-align:center;
    font-size: 14px;
    color: #666;
    line-height: 30px;
    opacity: 0.8;
    position: absolute;
    bottom: 0;
    width: 100%; 
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
}

.ca-menu li:hover{ background-color: #000; }
.ca-menu li:hover .ca-icon{
    color: #e25d33;
    -webkit-animation: moveFromBottom 300ms ease;
    -moz-animation: moveFromBottom 300ms ease;
    -ms-animation: moveFromBottom 300ms ease;
}
.ca-menu li:hover .ca-main{
    color: #222;
    -webkit-animation: smallToBig 300ms ease;
    -moz-animation: smallToBig 300ms ease;
    -ms-animation: smallToBig 300ms ease;
}
.ca-menu li:hover .ca-sub{
    color: #fff;
    background-color: #222; text-shadow:none;
    -webkit-animation: moveFromBottom 500ms ease;
    -moz-animation: moveFromBottom 500ms ease;
    -ms-animation: moveFromBottom 500ms ease;
}
@-webkit-keyframes smallToBig{
    from {
        -webkit-transform: scale(0.1);
    }
    to {
        -webkit-transform: scale(1);
    }
}
@-moz-keyframes smallToBig{
    from {
        -moz-transform: scale(0.1);
    }
    to {
        -moz-transform: scale(1);
    }
}
@-ms-keyframes smallToBig{
    from {
        -ms-transform: scale(0.1);
    }
    to {
        -ms-transform: scale(1);
    }
}

@-webkit-keyframes moveFromBottom {
    from {
        -webkit-transform: translateY(100%);
    }
    to {
        -webkit-transform: translateY(0%);
    }
}
@-moz-keyframes moveFromBottom {
    from {
        -moz-transform: translateY(100%);
    }
    to {
        -moz-transform: translateY(0%);
    }
}
@-ms-keyframes moveFromBottom {
    from {
        -ms-transform: translateY(100%);
    }
    to {
        -ms-transform: translateY(0%);
    }
}

/*******************************
 * TESTIMONIALS BX SLIDER *
 *******************************/

#slide2 .bx-prev {
	position: relative;
	top: 53px;
	left: -5px;
	float: right;
	background: url("style/images/prev.png") repeat;
	text-indent: -9000px;
	width: 16px;
	height: 16px;
}

#slide2 .bx-next {
	position: relative;
	top: 53px;
	right: -25px;
	float: right;
	background: url("style/images/forward.png") repeat;
	text-indent: -9000px;
	width: 16px;
	height: 16px;
}

#slide2 .bx-next:hover,#slide2 .bx-prev:hover {
	filter: 0;
	-moz-opacity: 0.6;
	-khtml-opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	opacity: 0.6;
	text-decoration: none;
}

#slide2 {
	float: left;
	width: 928px;
	height: 180px;
	background: url(style/images/texture.png)repeat;
	padding: 10px 10px;
	border: 1px solid #ccc;
	margin-bottom: 220px;
}

#slide2 h3 {
	padding: 0px;
	text-align: center;
	color: #e25d33;
	font-weight: normal;
	letter-spacing: 1px;
	font-size: 16px;
	margin-top: 25px;
	line-height: 20%;
	text-shadow: 0 1px 0 #FFFFFF;
}

#slide2 h5 {
	padding: 0;
	font-size: 14px;
	text-align: center;
	line-height: 170%;
	text-shadow: 0 1px 0 #FFFFFF;
}

#slide2 p {
	text-align: center;
	font-size: 13px;
	line-height: 170%;
	padding: 10px 30px;
	color: #555;
}

/* 6. CONTACT ++++++++++++++++++++++++++++++++++++++++++++ */

/********************
 * SOCIAL ICONS *
 ********************/

#social {
	margin: 0px 0px 20px 0px;
	width: 450px;
	padding: 0;
	list-style-type: none;
	float: left;
}

#social ul {
	display: inline;
	padding: 0px 0px;
	overflow: hidden;
}

#social li {
	display: inline;
	list-style-type: none;
	padding-right: 0px;
}

#social a {
	filter: 0;
	-moz-opacity: 0.6;
	-khtml-opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	opacity: 0.6;
	text-decoration: none;
}

#social a:hover {
	border-style: none;
	filter: 90;
	-moz-opacity: 0.9;
	-khtml-opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	opacity: 0.9;
}


#social a:active{
	-webkit-transform: translateY(1px);
	-moz-transform: translateY(1px);
	-o-transform: translateY(1px);
	-ms-transform: translateY(1px);
	transform: translateY(1px);
}


/********************
 * CONTACT FORM *
 ********************/

#contact_form {
	margin-top: 0px;
	float: left;
	padding: 0px 0px 10px 0px;
	width: 440px;
}

.success {
	font: 20px/30px "Oswald", Helvetica, Arial, sans-serif;
	color: #777;
	text-shadow:0 1px 0 #FFFFFF;
}

.error {
	color: #999;
	font-size: 12px;
	position: relative;
	float: right;
}

#contact_form ul { margin: 0; }

#contact_form li {
	float: left;
	margin-left: 0px;
	margin-bottom: 10px;
	position: relative;
	height: 55px;
	color: #666;font-size: 12px;
	list-style-type: none;
	text-shadow:0 1px 0 #FFFFFF;
}

#contact_form label {
	width: 454px;
	height: 23px;
	display: block;
}

#contact_form li.textarea { height: 185px; }

#contact_form li.button_form {
	float: left;
	margin-bottom: 8px;
	position: relative;
	height: 35px;
	list-style-type: none;
}

#contact_form input,textarea {
	width: 440px;
	margin-bottom: 4px;
	background-color: #ebeaea;
	color: #666666;
	border: 1px solid #FFFFFF;
	padding: 10px 5px;
	-webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1);
}

#contact_form textarea {
	height: 130px;
	width: 438px;
	font-family:  Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding: 6px;
	margin-bottom: 15px;
	border: 1px solid #fff;
}

#contact_form input:focus,textarea:focus {
	background-color: #f4f4f4;
	color: #333333;
	border: 1px solid #fff;
}

#contact_form input.submit {
	margin: 0px 10px 0px 0px;
	float: left;
	width: 100px; height:34px;
	padding: 4px 0px 6px 0px;
	border: 2px solid #ccc;
	background: #444 url(style/images/light_lines.png) repeat;
	color: #fff;
	line-height: 1;
	text-align: center;
	text-shadow: 0px 1px 1px #555;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}

#contact_form input.submit:hover {
	text-shadow: 0px 1px 1px #555;
	color: #fff;
	background: #333 url(style/images/light_lines.png) repeat;
}

#contact_form .required { color: #e25d33;font-size: 1.2em; }

/********************
 * MAP *
 ********************/

#map {
	float: left;
	margin: 5px 0px 18px 0px;
	background-color: #FEFFFF;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
	box-shadow: 0 1px 2px rgba(0,0,0,.15);
	border: 1px solid #ccc;
	padding: 5px;
}

/* 7. BLOG ++++++++++++++++++++++++++++++++++++++++++++ */

.blog_image {
	background: #000;
	border: 4px solid #222;
	margin-bottom: 10px;
}

.meta {
	height: 15px;
	text-transform: uppercase;
	margin-top: -14px;
	font-size: 11px;
}

.posted { float: left; padding-right: 40px; }
.by { float: left; padding-right: 40px; }
.comments { float: left; }

.continue :after {
	content: "\2192";
	margin-left: 5px;
	color: #222;
	
	float: right;
}

.continue a {
	
	
}

.continue { float: right; }

/********************
 * TAGS *
 ********************/
.arrow {
	width:15px;
	height:25px;
	float:left;
	margin-bottom:8px;
	background:url(style/images/arrow.png) no-repeat;
}

.text {
	height:25px;
	float:left;
	padding-left: 4px;
	padding-right: 4px;
	background:url(style/images/text.png) repeat-x;
	font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size:0.75em;
	font-weight:bold;
	color:#fff;
	line-height:23px; text-shadow:none;
}

.end {margin-bottom:8px;
	width:4px;
	height:25px;
	float:left;
	margin-right:5px;
	background:url(style/images/end.png) no-repeat;
}

.tag:hover .arrow { background-image:url(style/images/arrow_hover.png); }
.tag:hover .text { background-image:url(style/images/text_hover.png); }
.tag:hover .end { background-image:url(style/images/end_hover.png); }


/* 8. FOOTER ++++++++++++++++++++++++++++++++++++++++++++ */

.footer {
	background: url(style/images/strip.jpg) repeat;
	height: 70px;
	margin: 0 auto;
	font: 12px/18px  Arial, Helvetica, sans-serif;
	border-top: 3px solid #ccc;
	color: #eceae2;
}

.footer_inner {
	width: 960px;
	height: 70px;
	margin: 0 auto;
}

.footer ul {
	float: left;
	margin: 25px 0px 0 -15px;
}

.footer ul li {
	list-style-type: none;
	float: left;
	margin-left: 20px;
}

.footer ul li:before {
	content: "\2192";
	margin-right: 8px;
	color: #777;
	text-shadow: 0 1px 1px #000000;
}

.footer ul li a {
	text-shadow: 0 1px 1px #000000;
	color: #bbb;
}

.footer ul li a:hover {
	color: #fff;
}

.copyright {
	float: right;
	color: #9d9d9d;
	text-shadow: 0 1px 1px #000000;
	margin: 18px 5px 0 0px;
	font-size: 11px;
	line-height: 16px;
	text-align: right;
}

.copyright a {  }
.copyright a:hover { color: #777; }

/* 9. EXTRA STYLING ++++++++++++++++++++++++++++++++++++++++++++ */

/********************
 * BUTTONS *
 ********************/
.button {
	background: #222 url(style/images/overlay-button.png) repeat-x 0 0;
	display: inline-block;
	padding: 7px 10px 8px;
	color: #fff !important;
	line-height: 1;
	text-decoration: none;
	font: 11px Arial, Helvetica, sans-serif;
    font-weight: bold;
	 -webkit-border-radius: 3px; 
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 1px 0px #bfbfbf;
    -moz-box-shadow: 0 1px 1px 0px #bfbfbf;
    box-shadow: 0 1px 1px 0px #bfbfbf;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;
	overflow: visible;
	width: auto;
}

button::-moz-focus-inner { border: 0; padding: 0; }
.button:hover { background-color: #111; color: #fff; }

.button:active {
	-webkit-transform: translateY(1px);
	-moz-transform: translateY(1px);
	-o-transform: translateY(1px);
	-ms-transform: translateY(1px);
	transform: translateY(1px);
}

/* Colours for buttons */
.green.button {
	background-color: #9dbb40;
}

.green.button:hover {
	background-color: #749a02;
}

.blue.button {
	background-color: #86b8b1;
}

.blue.button:hover {
	background-color: #007d9a;
}

.red.button {
	background-color: #db2c2c;
}

.red.button:hover {
	background-color: #872300;
}

.pink.button {
	background-color: #cc2277;
}

.pink.button:hover {
	background-color: #a6125c;
}

.orange.button {
	background-color: #e25d33;
}

.orange.button:hover {
	background-color: #d45500;
}

.yellow.button {
	background-color: #cfba58;
}

.yellow.button:hover {
	background-color: #b19b32;
}

.olive.button {
	background-color: #898a75;
}

.olive.button:hover {
	background-color: #6c6e48;
}

.black.button {
	background-color: #222;
}

.black.button:hover {
	background-color: #444;
}

.grey.button {
	background-color: #666;
}

.grey.button:hover {
	background-color: #555;
}

/***************************************************
DIVIDERS FOR DEMO
 ***************************************************/

.dividerdemo {
	background: url(style/images/dividers/divider1.png) 1% 0%;
	height: 5px;
	margin: 10px 0px 10px 0px;
}

.divider2demo {
	background: url(style/images/dividers/divider2.png) repeat;
	height: 8px;
	margin: 0px 0px 10px 0px;
}

.divider3 {
	background: url(style/images/dividers/divider3.png) repeat;
	height: 5px;
	margin: 0px 0px 10px 0px;
}

.divider4 {
	background: url(style/images/dividers/divider4.png) repeat;
	height: 5px;
	margin: 0px 0px 10px 0px;
}

.divider5 {
	background: url(style/images/dividers/divider5.png) repeat;
	height: 5px;
	margin: 0px 0px 10px 0px;
}

.divider6 {
	background: url(style/images/dividers/divider6.png) repeat;
	height: 5px;
	margin: 0px 0px 10px 0px;
}

.divider7 {
	background: url(style/images/dividers/divider7.png) repeat;
	height: 5px;
	margin: 0px 0px 10px 0px;
}

.divider8 {
	background: url(style/images/dividers/divider8.png) repeat;
	height: 5px;
	margin: 0px 0px 10px 0px;
}

.divider9 {
	background: url(style/images/dividers/divider9.png) repeat;
	height: 5px;
	margin: 0px 0px 10px 0px;
}

.divider10 {
	background: url(style/images/dividers/divider10.png) repeat;
	height: 5px;
	margin: 0px 0px 10px 0px;
}
#wrapper #content #services #animation table {
	font-size: 14px;
}
#wrapper #content #services #animation table {
	font-size: 14px;
	text-align: center;
}
#wrapper #content #services #animation table thead tr th {
	font-size: 16px;
	font-weight: normal;
	text-align: center;
}
#wrapper #content #services #extras .col2 table tr td {
	font-weight: normal;
	text-align: left;
}
