
<div class="dd">
<div class="col4">
<h4>Text Widget</h4>
<p>Saliquam purus massa eget elit. Sed cursus tristique neque, ac commodo sapien imperdiet nec. Fusce tincidunt, sapien in dignissim porta, Morbi libero risus, adipiscing eu convallis quis, mattis in libero liquam purus massa.</p> 
<p>Leo velit egestas lorem, ac mattis lorem sapien a magna.Nam ut purus nisi. Maecenas viverra cras. Maecenas viverra est et nisl aliquam Et viverra est et nisl aliquam Nam ut purus nisi.</p>
</div>

<div class="col4">
<h4>Recent Project</h4>
<p><img src="style/images/work/mo.jpg" class="left" width="195" height="99" alt="" />
<br/>Leo velit egestas lorem, ac mattis lorem sapien a magna. Nam ut purus nisi. Maecenas viverra cras mae</p>
<div class="continue">
Read <a class="internal" href="#work">More</a>
</div>
</div>

<div class="col4">
<h4>Recent Posts</h4>
<p><strong>JOURNAL ENTRY 1</strong><br/>
3 comments | by Admin | posted on 24 June 2012</p>
<div class="continue">
Read <a class="internal" href="#blog">More</a>
</div><br/><br/>
<p><strong>JOURNAL ENTRY 2</strong><br/>
17 comments | by Admin | posted on 23rd April 2012</p>
<div class="continue">
Read <a class="internal" href="#blog">More</a>
</div>
</div>

<div class="col4 last">
<h4>Get In Touch</h4>
<p>
Saliquam purus massa eget elit. Sed cursus tristique neque, ac commodo sapien imperdiet nec. Fusce tincidunt, sapien in dignissim porta,</p>
<p><strong>
CONTACT DETAILS</strong></p>
<p>Tel: 01958 468 421<br/>
Address: 2 Plantin Way, Ampersand, Html County, CM9 8SB<br/>
E-mail: <a href="#">me@mysite.com</a></p>
</div>
</div>