/* One container to bind them... */
.dk_container { background:#9d1c32 url(../../img/front_images/filter-arrow.gif) no-repeat 88% 10px; line-height: 14px; margin-bottom: 18px; border-radius:30px; -moz-border-radius:30px; -webkit-border-radius:30px; }
.dk_container:hover {  background: #e0dfda url(../../img/front_images/readmore-icon02-down.gif) no-repeat 88% 10px;}
.dk_container:hover a span { color: #9d1c32;}
.form_field .dk_container { background:#9d1c32 url(../../img/front_images/filter-arrow.gif) no-repeat 95% 10px ; margin-top:10px }
.form_field .dk_container:hover {  background: #e0dfda url(../../img/front_images/readmore-icon02-down.gif) no-repeat 95% 10px;}
.form_field .dk_container:hover a span {color: #9d1c32;}
#left_colum .dk_container { background:#9d1c32 url(../../img/front_images/filter-arrow.gif) no-repeat 94% 10px; margin-top:10px; margin-bottom:0;}
#left_colum .dk_container:hover {  background: #e0dfda url(../../img/front_images/readmore-icon02-down.gif) no-repeat 94% 10px;}
#left_colum .dk_container:hover a span{color: #9d1c32;}


.dk_container:focus { outline: 0; }
.dk_label { font-family:"PFDinDisplayProBold", Arial, Helvetica, sans-serif; text-transform:uppercase; font-size: 12px; }
.dk_container a { cursor: pointer; min-width:90px !important; text-decoration: none; }
/* Opens the dropdown and holds the menu label */
.dk_toggle { /**
   * Help: Arrow image not appearing
   * Try updating this property to your correct dk_arrows.png path
   */
  background-repeat: no-repeat; background-position: 80% center; color: #deddd9; padding:8px 20px 11px 15px; border-radius:30px; -moz-border-radius:30px; -webkit-border-radius: 30px;  
text-transform:uppercase; }
/***************************
Only Mac's Safari Style
****************************/
.mac.safari .dk_toggle { min-width:100px }
.form_field .dk_toggle { padding: 8px 21px 8px 15px; width:127px !important }
/* Applied when the dropdown is focused */  

/* Applied whenever the dropdown is open */
.dk_open { z-index: 10;}
.dk_open .dk_toggle { background: #e0dfda url(../../img/front_images/readmore-icon02-down.gif) no-repeat 88% 10px; color: #9f1b33; border-radius: 17px 17px 0 0; -moz-border-radius: 17px 17px 0 0; -webkit-border-radius: 17px 17px 0 0; /*border:1px solid #e0dfda; border-width:1px 1px 0px 1px; */ margin-top:-1px;}
.form_field .dk_open .dk_toggle { background: #e0dfda url(../../img/front_images/readmore-icon02-down.gif) no-repeat 94% 10px; width:127px !important }
#left_colum .dk_open .dk_toggle { background: #e0dfda url(../../img/front_images/readmore-icon02-down.gif) no-repeat 94% 10px; }
/* The outer container of the options */

.dk_options { border-radius: 0 0 17px 17px; -moz-border-radius: 0 0 17px 17px; background:#e0dfda; -webkit-border-radius: 0 0 17px 17px; padding: 0 0 10px 0; }

.dk_options a { background-color: #e0dfda; padding:5px 0px; color:#5d6363; border-bottom:1px dotted #cfcec9; font-family:"PFDinDisplayProBold", Arial, Helvetica, sans-serif; text-transform:uppercase; font-size: 10px;}
.dk_options li:last-child a { border-bottom: none; }
.dk_options a:hover /*.dk_option_current a*/ { color: #9a9994 !important; text-decoration: none; }
.dk_options a:active { color: #1e1e1e !important; text-decoration: none; }

.dk_options_inner { margin:0; padding:0; color: #333; max-height:250px; border-radius:20px; -moz-border-radius:15px; -webkit-border-radius: 0 0 15px 15px; list-style:none; }
.dk_options_inner li { padding-bottom:0!important; background:none !important; padding-left:0 !important; margin:0 16px; }
.dk_options_inner /* Set a max-height on the options inner */
.dk_options_inner, .dk_touch .dk_options { max-height: 250px; }

.school_affi .dk_container { top:0; float:left !important; margin-right:6px !important; margin-top:10px !important; }
.dk_container { float: right; position: relative; z-index:11; top:10px; }
aside#left_colum .dk_container  { float:left;}

.department { width:160px;}
.atoz { width:160px;}

.dk_toggle { display: -moz-inline-stack; display: inline-block;  *display: inline; position: relative; zoom: 1; }
.dk_open { position: relative; z-index:111; }
.dk_open .dk_options { display: block; }
.dk_open .dk_label { color: inherit; }
.dk_options { display: none; margin-top: -1px; position: absolute; right: 0; width: 100%; }
.dk_options a,  .dk_options a:link,  .dk_options a:visited { display: block; }
.dk_options_inner { overflow: auto; position: relative; }
.dk_touch .dk_options { overflow: hidden; }
.dk_touch .dk_options_inner { max-height: none; overflow: visible; }
.dk_fouc select { position: relative; top: -99999em; visibility: hidden; }

.aside_form .dk_container { float:right !important; margin-top:-55px; margin-right:0;}

/***** End Critical to the continued enjoyment of working dropdowns ******/

