/* /////////// News Pagination  //////////////////*/

.pagination_search {margin-top:45px; clear:both;}
.pagination_search {
    margin-bottom: 15px;
    margin-top: 0 !important;
}
.pagination_search ul { list-style:none; }
.pagination_search li { background: url(../../img/front_images/pagination-devider.gif) no-repeat right 3px !important; display:inline; background:none !important; padding:0 !important; display: block; margin-right:0px; float: left; }
 
.pagination_search li a {
    background: url("../../img/front_images/pagination-devider.gif") no-repeat scroll right 4px transparent;
    line-height: 12px;
    color: #9A9A91;
    display: block;
    float: left;
    font-family: "PFDinDisplayProRegular",Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding: 0 8px 0 6px;
}

.pagination_search li a.currentpage {
    color: #1E1E1E;   
}
.pagination_search li.current_last {color:#1e1e1e; padding: 0 7px !important; line-height:12px; font-weight: normal; font-family: "PFDinDisplayProMedium",Arial,Helvetica,sans-serif;}

.pagination_search li a.prev02 { background:url(../../img/front_images/readmore02-left.gif) no-repeat left top; height:15px; display:block; margin-right:7px;}

.pagination_search li a.next02 { background:url(../../img/front_images/readmore02.gif) no-repeat left top; height:15px; display:block; margin-left:7px;}

.pagination_search li a.prev02:hover, .pagination_search li a.next02:hover {
    background-position: left -16px;
}
.pagination_search li a.prev02:active,.pagination_search li a.next02:active  { background-position:left -32px;}
.pagination_search li a.before_next {  background: none !important;}