/*                                                    */
/*  main 'top-level' form elements                    */
/*                                                    */

.cform .cf_hidden { display: none; }

#content ol.cf-ol { 
	list-style: none;
	margin: 20px 0;
	padding: 0;
	float: left;
	clear: both;
}

ol.cf-ol li	{
	margin: 0; 
	padding: 5px;
	float: left;
	clear: both;
	min-width: 500px;
}


/*                                                    */
/* global definitions for field labels                */
/*                                                    */

.cform label {
	width: 100px;
	float: left;
	font-size: 12px;
	color: #4B3F30;
	margin-right: 10px;
}

/*                                                    */
/*   FORM FIELDS general formatting                   */
/*                                                    */

.cform input.single,
.cform input.text,
.cform textarea,
.cform select { 
	border: 1px solid #BAB9B9;
	font-size: 15px; 
	float: left;
}
.cform textarea {
	width: 360px;
	height: 70px;
}

.fldrequired{
	border: 1px solid #E78E4A !important;
	background: #FFFDFB;
}

SPAN.reqtxt,
SPAN.emailreqtxt{
	float: left;
	font-size: 20px;
	display: inline;
	margin-left: 10px;
	margin-top: 5px;
	color: #E78E4A;
	line-height: 100%;
}

.cform input.single,
.cform input.text {
	padding: 2px 5px;
	width: 205px;
}

.cform input#cforms_captcha {
	width: 60px;
	float: left;
}

.cform img#cf_captcha_img {
	float: left;
	display: inline;
	margin-left: 10px;
}

.cform select { cursor: pointer; }  

.cform input.sendbutton{
	font-weight: bold;
	font-size: 15px;
	padding: 5px;
	margin-left: 110px;
	cursor: pointer;
}  

/*                                                    */
/*   FORM FIELDS enhanced error display               */
/*                                                    */

#region_country_form_6{
	float: left;
}

ol.cf-ol li.cf_li_err,
ol.cf-ol li.validation-error { background: #F3E9EA; }

/*                                                    */
/* 'visitor verification' related styles              */
/*                                                    */

img.captcha	{
	vertical-align:text-bottom;
	margin:0 0 0 10px!important;
	padding:0!important;
	border:none!important;
	float:none!important;
}

img.captcha-reset {
	vertical-align:text-bottom;
	background:	url(captcha_reset_grey.gif) no-repeat;
	margin:0 0 2px 3px;
	width:21px;
	height:21px;
	border:none;
}

/*                                                    */
/* change formatting of response msgs here            */
/*                                                    */

div.cf_info {
	padding: 10px 0 0;
	font-size: 13px;
	font-weight: bold;
}

div.failure { color: #E26C14; }


