
div.datepicker {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	width: 100%;
	height: 100%;
	position: absolute;
	cursor: default;
	top: 0;
	left: 0;
	display: none;
}
.datepickerContainer {
	/*position: absolute;*/
	top: 10px;
	left: 10px;
}
.datepickerHidden {
	display: none;
}
div.datepicker table {
	border-collapse:collapse;
}
div.datepicker a {

	text-decoration: none;
	cursor: default;
	outline: none;
}
div.datepicker table td {
	text-align: right;
	padding: 0;
	margin: 0;
}
div.datepicker th {
	text-align: center;
	color: #999;
	font-weight: normal;
}
div.datepicker tbody th {
	text-align: left;
}
div.datepicker tbody a {
	display: block;
}
.datepickerDays a {
	width:45px;
	line-height: 16px;
	height:28px;
	text-align:center;
	padding-top:12px;
	border-bottom:1px dotted #e0dfda;
	color: #e0dfda;
	font-size:20px;
	font-family:"PFDinDisplayProLight", Arial, Helvetica, sans-serif;
}
.datepickerYears a,
.datepickerMonths a{
	width: 44px;
	line-height: 36px;
	height: 36px;
	text-align: center;
  
}


td.datepickerNotInMonth a {
	color: #666;
	display:none !important;
}
tbody.datepickerDays td.datepickerSelected a {
	color:#9e1b32;
	font-family:"PFDinDisplayProBold", Arial, Helvetica, sans-serif;
	
}

/* New Code */
tbody.datepickerDays td.datepickerSelected a:hover {
	/*color:#5b6363;
    color:black;*/
	font-family:"PFDinDisplayProBold", Arial, Helvetica, sans-serif;
	
}
/* End */

tbody.datepickerDays td.datepickerNotInMonth.datepickerSelected {
	/*background: #17384d;*/
}
tbody.datepickerYears td.datepickerSelected,
tbody.datepickerMonths td.datepickerSelected{
	background: #17384d;
}

/*div.datepicker a:hover,*/
div.datepicker a:hover {
  /*  font-weight: bold;
	color: #5b6363;
    color:black;*/
}
div.datepicker td.datepickerNotInMonth a:hover {
	color: #999;
}
div.datepicker tbody th {
	text-align: left;
}
.datepickerSpace div {
	width: 20px;
}
.datepickerGoNext a,
.datepickerGoPrev a,
.datepickerMonth a span {
	line-height: 20px;
	color:#9e1b32 !important;
	font-family:"PFDinDisplayProBold", Arial, Helvetica, sans-serif;
	font-size:18px;
	text-transform:uppercase;
}
.datepickerGoNext a {
	background:url(../../img/front_images/next01.gif) no-repeat left top; height:13px; width:13px; display:block;
	margin-left:10px;
    
}
.datepickerGoPrev a {
	background:url(../../img/front_images/prev01.gif) no-repeat left top; height:13px; width:13px; display:block; margin-right:10px;
}
.datepickerGoPrev a:hover { background-position:left bottom; cursor:pointer;}
.datepickerGoNext a:hover { background-position:left bottom; cursor:pointer;}

table.datepickerViewDays tbody.datepickerMonths,
table.datepickerViewDays tbody.datepickerYears {
	display: none;
}
table.datepickerViewMonths tbody.datepickerDays,
table.datepickerViewMonths tbody.datepickerYears,
table.datepickerViewMonths tr.datepickerDoW {
	display: none;
}
table.datepickerViewYears tbody.datepickerDays,
table.datepickerViewYears tbody.datepickerMonths,
table.datepickerViewYears tr.datepickerDoW {
	display: none;
}
td.datepickerDisabled a,
td.datepickerDisabled.datepickerNotInMonth a{
	color: #e0dfda;
	font-size:20px;
	font-family:"PFDinDisplayProLight", Arial, Helvetica, sans-serif;

}
td.datepickerDisabled a { }
td.datepickerDisabled a:hover {
/*	color: #333;*/
}
td.datepickerSpecial a {
	background: url(../../img/front_images/date-bg.gif) repeat-x left top;
	color:#5b6363;
	/*color:#9e1b32;
	font-family:"PFDinDisplayProBold", Arial, Helvetica, sans-serif;*/
	
}
td.datepickerSpecial.datepickerSelected a {
	/*background: #a00;*/
	position:relative;
}
.datepickerViewDays thead tr.datepickerDoW  th  { padding:0;}
.datepickerDoW th span { text-align:center !important;}
.datepickerDoW th span { display:block; height:40px; padding-top:15px; text-align:center; color:#5b6363; text-transform:uppercase; font-size:28px; font-family:"DIN1451StdEngschrift", Arial, Helvetica, sans-serif;  margin:0 8px; } 
 

.datepickerDays td { padding:0 11px !important; background:url(../../img/front_images/date-devider.gif) no-repeat right top;}
.datepickerDays tr td:last-child { background:none;}
.datepickerViewDays a.red_btn { display:inline !Important;}


#date2 { /*height:331px; margin-left:-10px;*/ position:relative; margin-top:15px;}

#date2 a.eve_btn { position:absolute; right:0; top:10px; z-index:111;}
#date2 a.eve_btn span {position:relative;}

.filterbox { width:127px; height:100px; background:#e0dfda; visibility:hidden; display:none; position:absolute; top:0px; right:-22px; z-index:0; border-radius:15px;}
a.eve_btn:hover .filterbox { width:127px; height:100px; background:#e0dfda; visibility:visible; display:block; border-radius:15px; }

.datepickerViewDays thead tr th{ padding:6px 0 15px 0; vertical-align: middle;}
.datepickerViewDays thead tr { border-bottom:1px dotted #e0dfda;}

.datepickerViewDays { border-bottom:1px dotted #dfdfdd;}

	
.datepickerMonths td,.datepickerYears td { padding:0 11px !important; background:url(../../img/front_images/date-devider.gif) no-repeat right top;}
.datepickerMonths a,.datepickerYears a {
	width:45px;
	line-height: 16px;
	height:28px;
	text-align:center;
	padding-top:12px;
	border-bottom:1px dotted #e0dfda;
	color: #e0dfda;
	font-size:20px;
	color:#5b6363;
	font-family:"PFDinDisplayProBold", Arial, Helvetica, sans-serif;
	text-transform:uppercase;
}
.no_border tr{
    border: none !important;
}
.tt_black_text{
    color:black !important;
}