@charset "utf-8";
/* CSS Document */

		#slides_two {position:relative;}
		#slides_two .slides_container{
			position:relative;
			z-index:1;
			width:475px;
			/*display:none;*/
		}
		#slides_two .slides_container .slide {
			/*min-height:1150px;*/
			width:475px;

		}
		#slides_two .slides_control { height:auto;}
		

		#slides_two .date_block  { width:140px !important; float:left;}
		#slides_two .date_block .event_date_time { background:#9e1b32; height:122px; color:#fff; padding:15px 8px 3px 10px;}
		#slides_two  .date_block .event_date_time .time { font-family:"PFDinDisplayProBold", Arial, Helvetica, sans-serif; font-size:16px; color:#e0dfda;}
		#slides_two .date_block .event_date_time .time small { font-family:"PFDinDisplayProRegular", Arial, Helvetica, sans-serif; font-size:10px;}
		#slides_two .date_block .event_date_time .date { font-family:"PFDinDisplayProMedium", Arial, Helvetica, sans-serif; text-transform:uppercase;font-size:14px; display:block; margin-top:15px; text-align:right; float:right; margin-top:17px; color:#e0dfda;}
		#slides_two .date_block .event_date_time .date span {  font-family:"PFDinDisplayProMedium", Arial, Helvetica, sans-serif; color:#e0dfda; font-size:87px; display:block; line-height:70px;}
		
		
		a.prev { position:absolute; left:156px; top:0px; background:url(../../img/front_images/prev001.gif) no-repeat left top; height:13px; width:13px; text-indent:-5555px; z-index:10; }
		a.prev:hover { background-position:left -13px;} 
		a.prev:active { background-position:left bottom;} 
		a.next { position:absolute; left:222px; top:0px; background:url(../../img/front_images/next001.gif) no-repeat left top; height:13px; width:13px; text-indent:-5555px; z-index:10;}
		a.next:hover { background-position:left -13px;} 
		a.next:active { background-position:left bottom;} 
		
		.work a.next { position:absolute; right:0px; bottom:-30px; background:url(../../img/front_images/next-btn2.png) no-repeat left top; height:59px; width:60px; text-indent:-5555px; z-index:11;}
		.work a.next:hover { background-position:left bottom;}
		
		#slides_two ul.pagination { position:absolute; top:-2px; left:175px; z-index:111; margin-top:0;} 
		#slides_two ul.pagination li { display:none; position:absolute; right:-45px; top:0;} 
		#slides_two ul.pagination li.current { position:absolute; left:0; top:0; display:inline-block;font-weight:normal; padding:0 !important; background: none !important;}
		#slides_two ul.pagination li.current a { color:#1e1e1e; font-family:"PFDinDisplayProMedium", Arial, Helvetica, sans-serif; font-size:14px; text-decoration:none; text-transform:uppercase; background:none;}
		#slides_two ul.pagination li:last-cild {  position:absolute; right:0; top:0;}
		 	#slides_two ul.pagination li.current a span { color: #5b6363;}
		#slides_two .title { width:320px; float:left; color:#1d1d1d; font-family:"AdobeCaslonProRegular", Georgia, Times New Roman, Times, serif; font-size:30px; position:relative; top:35px; left: 15px;/*margin:35px 0 0 15px;*/}
		#slides_two p {font-family:"dinpro-Regular", Arial, Helvetica, sans-serif; font-size:14px; color:#9a9a91; line-height:17px; padding-bottom:15px;}
	
	
/*@media screen and (-webkit-min-device-pixel-ratio:0)
{	
	#slides_two .slides_control { height:1200px;}
}*/