@charset "utf-8";
/* CSS Document */


aside #slides { overflow:hidden;}
aside #slides .slides_container { width:55px !important; margin-left:15px;}
aside #slides .slides_container a { font-family:"PFDinDisplayProBold", Arial, Helvetica, sans-serif; color:#9a9a91; text-decoration:none; margin:0 10px !important; display:inline-block; font-size:20px;}
aside #slides a.prev { background:url(../../img/front_images/readmore02-left.gif) no-repeat left top; height:15px; width:13px; display:block; float:left; margin-top:-17px; text-indent:-5555px;}
aside #slides a.prev:hover { background-position:left -15px;}
aside #slides a.prev:active { background-position:left -30px;}
aside #slides a.next { background:url(../../img/front_images/readmore02.gif) no-repeat left top; height:15px; width:13px; display:block; float:right; margin-top:-17px; text-indent:-5555px; margin-right:115px;}
aside #slides a.next:hover { background-position:left -15px;}
aside #slides a.next:active { background-position:left -30px;}




		#slides {position:relative;}
		#slides .slides_container{
			position:relative;
			z-index:1;
			/*width:265px;*/
			width:420px;
			height:auto;
			/*display:none;*/
		}
		#slides .slides_container div {
			/*width:265px;
			height:275px;*/
			display:block;
		}
		
		.evetext {width: 265px; position:relative; top:38px; left: 15px;/*margin-left: 15px;*/}
		
		a.prev { position:absolute; left:155px; top:0px; background:url(../../img/front_images/prev001.gif) no-repeat left top; height:13px; width:13px; text-indent:-5555px; z-index:111; }
		a.prev:hover { background-position:left -13px;} 
		a.prev:active { background-position:left bottom;} 
		a.next { position:absolute; left:215px; top:0px; background:url(../../img/front_images/next001.gif) no-repeat left top; height:13px; width:13px; text-indent:-5555px; z-index:111;}
		a.next:hover { background-position:left -13px;} 
		a.next:active { background-position:left bottom;} 
		
		.work a.next { position:absolute; right:0px; bottom:-30px; background:url(../../img/front_images/next-btn2.png) no-repeat left top; height:59px; width:60px; text-indent:-5555px; z-index:111;}
		.work a.next:hover { background-position:left bottom;}
		
		ul.pagination { position:absolute; top:0; left:155px; z-index:111; margin-top:-2px; margin-left: 17px;} 
		ul.pagination li { display:none; position:absolute; right:-42px; top:0; background: none; padding: 0 !important;}
		ul.pagination li a { padding-right: -5px;} 
		ul.pagination li.current { position:absolute; left:0; top:0; display:inline-block; background: none!important; padding: 0 !important;}
		ul.pagination li.current a { color:#1e1e1e; font-family:"PFDinDisplayProMedium",Arial,Helvetica,sans-serif; font-size:14px; text-decoration:none; text-transform:uppercase;  background: none;}
		ul.pagination li:last-cild {  position:absolute; right:0; top:0;}
	    ul.pagination li.current a span { color: #5B6363;}	 
		#slides .title{ color:#1d1d1d; font-family:"AdobeCaslonProRegular", Georgia, Times New Roman, Times, serif; font-size:27px; display:block; margin-bottom:10px;}
		#slides p {font-family:"dinpro-Regular", Arial, Helvetica, sans-serif; font-size:13px; color:#9a9a91; line-height:17px; text-align:left;}
	