@charset "utf-8";
/* CSS Document */

.datepickerGoPrev a {
    position: relative;
    top: -13px;
}
.datepickerGoNext a {

    position: relative;
    top: -13px;
    
}

ul#topnav  { margin-bottom:30px;}

#topnav .menu01 { left:-78px; }
#topnav .menu02 { left:4px; }
#topnav .menu03 { left:-0px; }
#topnav .menu04 { left:-0px; }
#topnav .menu05 { left:-0px; }

#topnav .subcategories img.ddpointe01 { margin:0 0 -2px 170px; position: relative; z-index: 1;} 
#topnav .subcategories img.ddpointe001 { margin:0 0 -2px 57px;}
#topnav .subcategories img.ddpointe002 { margin-bottom:-2px; }
#topnav .subcategories img.ddpointe003 { margin-bottom:-2px; }
#topnav .subcategories img.ddpointe004 { margin:0 0 -2px 539px;}

#topnav li.last-item .col-1 { left:-63px;}
#topnav li.last-item .col-1 img.ddpointe004 { margin:0 0 -1px 150px;}

/*
#topnav .menu01 { left:-91px; }
#topnav .menu02 { left:-187px; }
#topnav .menu03 { left:-256px; }
#topnav .menu04 { left:-346px; }
#topnav .menu05 { left:-448px; }

#topnav .subcategories img.ddpointe01 { margin:0 0 -2px 175px;}
#topnav .subcategories img.ddpointe02 { margin:0 0 -2px 245px;}
#topnav .subcategories img.ddpointe03 { margin:0 0 -2px 335px;}
#topnav .subcategories img.ddpointe04 { margin:0 0 -2px 435px;}
#topnav .subcategories img.ddpointe05 { margin:0 0 -2px 535px;}
*/

#header_area #searchform input#s { 
  border: none;
  height: 30px;
}
#header_area #searchform input#s:focus { padding:10px 30px 0px  10px !important;  line-height: 0.8em !important; height: 20px;}

.message textarea { width:270px; height:98px;}

.title input[type=text] { width:285px;}
.degrees input[type=text] {width:644px;}
.url input[type=text] { width:295px;}
.position input[type=text] { width:530px;}
.pullquote textarea { width: 253px;}