.letter-container {
	font-family: "AdobeCaslonProBold", Georgia, Times New Roman, Times, serif;
	width:940px;
	margin: 40px auto 0px auto;
	padding: 0px;
	height: 80px;text-align:center;
}
.letter-container a,.letter-container a:hover {background-color:transparent; }
.letter-container h2 {
	text-align: center;
	font-family: "AdobeCaslonProBold", Georgia, Times New Roman, Times, serif;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.6);
}
.letter-container h2 a {
	text-align: center;
	font-size: 30px;
	line-height: 35px;
	display: block;
	padding-bottom: 0px;
	-webkit-mask: url(../../style/images/mask.png) repeat;
	-o-mask: url(../../style/images/mask.png) repeat;
	-moz-mask: url(../../style/images/mask.png) repeat;
	-ms-mask: url(../../style/images/mask.png) repeat;
	mask: url(../../style/images/mask.png) repeat;
}
.letter-container h2 a span {
	color: #555;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.6);
   	opacity: 1;font-weight:700;
   	letter-spacing: 0.02em;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	transition: all 0.3s linear;
	-webkit-animation: sharpen 0.9s linear backwards;
	-moz-animation: sharpen 0.9s linear backwards;
	-ms-animation: sharpen 0.9s linear backwards;
	animation: sharpen 0.9s linear backwards;
}
.letter-container h2 a span:hover{
	text-shadow: 1px 1px 1px rgba(255,255,255,0.6);
}
.letter-container h2 a span:nth-child(1) {
	-webkit-animation-delay: 0s;
	-moz-animation-delay: 0s;
	-ms-animation-delay: 0s;
	animation-delay: 0s;
}
.letter-container h2 a span:nth-child(2) {
	-webkit-animation-delay: 0.1s;
	-moz-animation-delay: 0.1s;
	-ms-animation-delay: 0.1s;
	animation-delay: 0.1s;
}
.letter-container h2 a span:nth-child(3) {
	-webkit-animation-delay: 0.2s;
	-moz-animation-delay: 0.2s;
	-ms-animation-delay: 0.2s;
	animation-delay: 0.2s;
}
.letter-container h2 a span:nth-child(4) {
	-webkit-animation-delay: 0.3s;
	-moz-animation-delay: 0.3s;
	-ms-animation-delay: 0.3s;
	animation-delay: 0.3s;
}
.letter-container h2 a span:nth-child(5) {
	-webkit-animation-delay: 0.4s;
	-moz-animation-delay: 0.4s;
	-ms-animation-delay: 0.4s;
	animation-delay: 0.4s;
}
.letter-container h2 a span:nth-child(6) {
	-webkit-animation-delay: 0.5s;
	-moz-animation-delay: 0.5s;
	-ms-animation-delay: 0.5s;
	animation-delay: 0.5s;
}
.letter-container h2 a span:nth-child(7) {
	-webkit-animation-delay: 0.6s;
	-moz-animation-delay: 0.6s;
	-ms-animation-delay: 0.6s;
	animation-delay: 0.6s;
}
.letter-container h2 a span:nth-child(8) {
	-webkit-animation-delay: 0.7s;
	-moz-animation-delay: 0.7s;
	-ms-animation-delay: 0.7s;
	animation-delay: 0.7s;
}
.letter-container h2 a span:nth-child(9) {
	-webkit-animation-delay: 0.8s;
	-moz-animation-delay: 0.8s;
	-ms-animation-delay: 0.8s;
	animation-delay: 0.8s;
}
.letter-container h2 a span:nth-child(10) {
	-webkit-animation-delay: 0.9s;
	-moz-animation-delay: 0.9s;
	-ms-animation-delay: 0.9s;
	animation-delay: 0.9s;
}
.letter-container h2 a span:nth-child(11) {
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	-ms-animation-delay: 1s;
	animation-delay: 1s;
}
.letter-container h2 a span:nth-child(12) {
	-webkit-animation-delay: 1.1s;
	-moz-animation-delay: 1.1s;
	-ms-animation-delay: 1.1s;
	animation-delay: 1.1s;
}
.letter-container h2 a span:nth-child(13) {
	-webkit-animation-delay: 1.2s;
	-moz-animation-delay: 1.2s;
	-ms-animation-delay: 1.2s;
	animation-delay: 1.2s;
}
.letter-container h2 a span:nth-child(14) {
	-webkit-animation-delay: 1.3s;
	-moz-animation-delay: 1.3s;
	-ms-animation-delay: 1.3s;
	animation-delay: 1.3s;
}
.letter-container h2 a span:nth-child(15) {
	-webkit-animation-delay: 1.4s;
	-moz-animation-delay: 1.4s;
	-ms-animation-delay: 1.4s;
	animation-delay: 1.4s;
}
.letter-container h2 a span:nth-child(16) {
	-webkit-animation-delay: 1.5s;
	-moz-animation-delay: 1.5s;
	-ms-animation-delay: 1.5s;
	animation-delay: 1.5s;
}
.letter-container h2 a span:nth-child(17) {
	-webkit-animation-delay: 1.6s;
	-moz-animation-delay: 1.6s;
	-ms-animation-delay: 1.6s;
	animation-delay: 1.6s;
}
.letter-container h2 a span:nth-child(17) {
	-webkit-animation-delay: 1.6s;
	-moz-animation-delay: 1.6s;
	-ms-animation-delay: 1.6s;
	animation-delay: 1.6s;
}
.letter-container h2 a span:nth-child(18) {
	-webkit-animation-delay: 1.7s;
	-moz-animation-delay: 1.7s;
	-ms-animation-delay: 1.7s;
	animation-delay: 1.7s;
}
.letter-container h2 a span:nth-child(19) {
	-webkit-animation-delay: 1.8s;
	-moz-animation-delay: 1.8s;
	-ms-animation-delay: 1.8s;
	animation-delay: 1.8s;
}
.letter-container h2 a span:nth-child(20) {
	-webkit-animation-delay: 1.9s;
	-moz-animation-delay: 1.9s;
	-ms-animation-delay: 1.9s;
	animation-delay: 1.9s;
}
.letter-container h2 a span:nth-child(21) {
	-webkit-animation-delay: 2s;
	-moz-animation-delay: 2s;
	-ms-animation-delay: 2s;
	animation-delay: 2s;
}
.letter-container h2 a span:nth-child(22) {
	-webkit-animation-delay: 2.1s;
	-moz-animation-delay: 2.1s;
	-ms-animation-delay: 2.1s;
	animation-delay: 2.1s;
}
.letter-container h2 a span:nth-child(23) {
	-webkit-animation-delay: 2.2s;
	-moz-animation-delay: 2.2s;
	-ms-animation-delay: 2.2s;
	animation-delay: 2.2s;
}
.letter-container h2 a span:nth-child(24) {
	-webkit-animation-delay: 2.3s;
	-moz-animation-delay: 2.3s;
	-ms-animation-delay: 2.3s;
	animation-delay: 2.3s;
}
.letter-container h2 a span:nth-child(25) {
	-webkit-animation-delay: 2.4s;
	-moz-animation-delay: 2.4s;
	-ms-animation-delay: 2.4s;
	animation-delay: 2.4s;
}
.letter-container h2 a span:nth-child(26) {
	-webkit-animation-delay: 2.5s;
	-moz-animation-delay: 2.5s;
	-ms-animation-delay: 2.5s;
	animation-delay: 2.5s;
}
.letter-container h2 a span:nth-child(27) {
	-webkit-animation-delay: 2.6s;
	-moz-animation-delay: 2.6s;
	-ms-animation-delay: 2.6s;
	animation-delay: 2.6s;
}
.letter-container h2 a span:nth-child(28) {
	-webkit-animation-delay: 2.7s;
	-moz-animation-delay: 2.7s;
	-ms-animation-delay: 2.7s;
	animation-delay: 2.7s;
}
.letter-container h2 a span:nth-child(29) {
	-webkit-animation-delay: 2.8s;
	-moz-animation-delay: 2.8s;
	-ms-animation-delay: 2.8s;
	animation-delay: 2.8s;
}
.letter-container h2 a span:nth-child(30) {
	-webkit-animation-delay: 2.9s;
	-moz-animation-delay: 2.9s;
	-ms-animation-delay: 2.9s;
	animation-delay: 2.9s;
}
.letter-container h2 a span:nth-child(31) {
	-webkit-animation-delay: 3s;
	-moz-animation-delay: 3s;
	-ms-animation-delay: 3s;
	animation-delay: 3s;
}
.letter-container h2 a span:nth-child(32) {
	-webkit-animation-delay: 3.1s;
	-moz-animation-delay: 3.1s;
	-ms-animation-delay: 3.1s;
	animation-delay: 3.1s;
}
.letter-container h2 a span:nth-child(33) {
	-webkit-animation-delay: 3.2s;
	-moz-animation-delay: 3.2s;
	-ms-animation-delay: 3.2s;
	animation-delay: 3.2s;
}
.letter-container h2 a span:nth-child(34) {
	-webkit-animation-delay: 3.3s;
	-moz-animation-delay: 3.3s;
	-ms-animation-delay: 3.3s;
	animation-delay: 3.3s;
}

.letter-container h2 a span:nth-child(35) {
	-webkit-animation-delay: 3.4s;
	-moz-animation-delay: 3.4s;
	-ms-animation-delay: 3.4s;
	animation-delay: 3.4s;
}

.letter-container h2 a span:nth-child(35) {
	-webkit-animation-delay: 3.5s;
	-moz-animation-delay: 3.5s;
	-ms-animation-delay: 3.5s;
	animation-delay: 3.5s;
}
.letter-container h2 a span:nth-child(36) {
	-webkit-animation-delay: 3.6s;
	-moz-animation-delay: 3.6s;
	-ms-animation-delay: 3.6s;
	animation-delay: 3.6s;
}
.letter-container h2 a span:nth-child(37) {
	-webkit-animation-delay: 3.7s;
	-moz-animation-delay: 3.7s;
	-ms-animation-delay: 3.7s;
	animation-delay: 3.7s;
}
.letter-container h2 a span:nth-child(38) {
	-webkit-animation-delay: 3.8s;
	-moz-animation-delay: 3.8s;
	-ms-animation-delay: 3.8s;
	animation-delay: 3.8s;
}

.letter-container h2 a span:nth-child(39) {
	-webkit-animation-delay: 3.9s;
	-moz-animation-delay: 3.9s;
	-ms-animation-delay: 3.9s;
	animation-delay: 3.9s;
}
.letter-container h2 a span:nth-child(40) {
	-webkit-animation-delay: 4s;
	-moz-animation-delay: 4s;
	-ms-animation-delay: 4s;
	animation-delay: 4s;
}
.letter-container h2 a span:nth-child(41) {
	-webkit-animation-delay: 4.1s;
	-moz-animation-delay: 4.1s;
	-ms-animation-delay: 4.1s;
	animation-delay: 4.1s;
}
.letter-container h2 a span:nth-child(42) {
	-webkit-animation-delay: 4.2s;
	-moz-animation-delay:  4.2s;
	-ms-animation-delay:  4.2s;
	animation-delay:  4.2s;
}
.letter-container h2 a span:nth-child(43) {
	-webkit-animation-delay:  4.3s;
	-moz-animation-delay:  4.3s;
	-ms-animation-delay:  4.3s;
	animation-delay:  4.3s;
}
.letter-container h2 a span:nth-child(44) {
	-webkit-animation-delay: 4.4s;
	-moz-animation-delay:  4.4s;
	-ms-animation-delay:  4.4s;
	animation-delay:  4.4s;
}
.letter-container h2 a span:nth-child(45) {
	-webkit-animation-delay:  4.5s;
	-moz-animation-delay: 4.5s;
	-ms-animation-delay: 4.5s;
	animation-delay: 4.5s;
}

.letter-container h2 a span:nth-child(46) {
	-webkit-animation-delay: 4.6s;
	-moz-animation-delay:  4.6s;
	-ms-animation-delay:  4.6s;
	animation-delay:  4.6s;
}

.letter-container h2 a span:nth-child(47) {
	-webkit-animation-delay: 4.7s;
	-moz-animation-delay:  4.7s;
	-ms-animation-delay:4.7s;
	animation-delay: 4.7s;
}
.letter-container h2 a span:nth-child(48) {
	-webkit-animation-delay:4.8s;
	-moz-animation-delay:4.8s;
	-ms-animation-delay: 4.8s;
	animation-delay: 4.8s;
}
.letter-container h2 a span:nth-child(48) {
	-webkit-animation-delay: 4.9s;
	-moz-animation-delay:4.9s;
	-ms-animation-delay:4.9s;
	animation-delay:4.9s;
}
.letter-container h2 a span:nth-child(49) {
	-webkit-animation-delay: 5s;
	-moz-animation-delay: 5s;
	-ms-animation-delay: 5s;
	animation-delay: 5s;
}
.letter-container h2 a span:nth-child(50) {
	-webkit-animation-delay: 5.1s;
	-moz-animation-delay: 5.1s;
	-ms-animation-delay: 5.1s;
	animation-delay: 5.1s;
}


@keyframes sharpen {
 0% {
   	opacity: 0;
   	text-shadow: 0px 0px 100px #fff;
   	color: transparent;
 }
 90% {
   	opacity: 0.9;
   	text-shadow: 0px 0px 10px #fff;
   	color: transparent;
 }
 100% {
    color: #fff;
   	opacity: 1;
   	text-shadow: 0px 0px 2px #fff, 1px 1px 4px rgba(0,0,0,0.7);
 }
}
@-moz-keyframes sharpen {
 0% {
   	opacity: 0;
   	text-shadow: 0px 0px 100px #fff;
   	color: transparent;
 }
 90% {
   	opacity: 0.9;
   	text-shadow: 0px 0px 10px #fff;
   	color: transparent;
 }
 100% {
    color: #fff;
   	opacity: 1;
   	text-shadow: 0px 0px 2px #fff, 1px 1px 4px rgba(0,0,0,0.7);
 }
}
@-webkit-keyframes sharpen {
 0% {
   	opacity: 0;
   	text-shadow: 0px 0px 100px #fff;
   	color: transparent;
 }
 90% {
   	opacity: 0.9;
   	text-shadow: 0px 0px 10px #fff;
   	color: transparent;
 }
 100% {
    color: #fff;
   	opacity: 1;
   	text-shadow: 0px 0px 2px #fff, 1px 1px 4px rgba(0,0,0,0.7);
 }
}
@-ms-keyframes sharpen {
 0% {
   	opacity: 0;
   	text-shadow: 0px 0px 100px #fff;
   	color: transparent;
 }
 90% {
   	opacity: 0.9;
   	text-shadow: 0px 0px 10px #fff;
   	color: transparent;
 }
 100% {
    color: #fff;
   	opacity: 1;
   	text-shadow: 0px 0px 2px #fff, 1px 1px 4px rgba(0,0,0,0.7);
 }
}
