
#topnav { float:right; width:455px; list-style:none; }
/*.mac.gecko #topnav {
float:right;
list-style:none outside none;
width:476px;
}*/

#topnav li.cp a.active span { background:url(/themes/jam3/img/front_images/menu-dd-arrow.png) no-repeat right -26px; }
#topnav li.cp a.active { color:#999990;}
#topnav li.cp { float:left; position:absolute; z-index:1112; top: 0; right: 0; }
#topnav li.cp a { padding:10px 0px 9px 0px; margin-left:12px; float:left; outline:none; color:#e0dfda;	text-decoration:none; font-family:"PFDinDisplayProMedium", Arial, Helvetica, sans-serif; font-size:14px; text-transform:uppercase; font-style:normal; }
#topnav li.cp a:hover, 
#topnav li.cp a.selected  { color:#999990; /*border-top:3px solid #999;*/ padding:10px 0px 0 0px; margin-left:12px;}
#topnav li.cp a span { background:url(/themes/jam3/img/front_images/menu-dd-arrow.png) no-repeat right top; height:12px; padding-right:18px; display:inline-block; padding-top:1px; vertical-align:top;}
#topnav li.cp a:hover span, 
#topnav li.cp a.selected span { background:url(/themes/jam3/img/front_images/menu-dd-arrow.png) no-repeat right -13px;}

#topnav li.topcategory a.active span { background:url(/themes/jam3/img/front_images/menu-dd-arrow.png) no-repeat right -26px; }
#topnav li.topcategory a.active { color:#999990;}
#topnav li.topcategory { float:left; position:relative; z-index:1111; }
#topnav li.topcategory.last-item { margin-right:0; margin-top: 33px; }
#topnav li.topcategory a { padding:58px 0px 9px 0px; margin-left:12px; float:left; outline:none; color:#e0dfda;	text-decoration:none; font-family:"PFDinDisplayProMedium", Arial, Helvetica, sans-serif; font-size:14px; text-transform:uppercase; font-style:normal; }
#topnav li.topcategory.last-item a { padding-top: 25px; }
#topnav li.topcategory a:hover, 
#topnav li.topcategory a.selected  { color:#999990; /*border-top:3px solid #999;*/ padding:58px 0px 0 0px; margin-left:12px;}
#topnav li.topcategory.last-item a:hover, 
#topnav li.topcategory.last-item a.selected  { padding-top: 25px; }
#topnav li.topcategory a span { background:url(/themes/jam3/img/front_images/menu-dd-arrow.png) no-repeat right top; height:12px; padding-right:18px; display:inline-block; padding-top:1px; vertical-align:top;}
#topnav li.topcategory a:hover span, 
#topnav li.topcategory a.selected span { background:url(/themes/jam3/img/front_images/menu-dd-arrow.png) no-repeat right -13px;}

#topnav .subcategories ul li:hover > #topnav .topcategory a:hover span { background:url(/themes/jam3/img/front_images/menu-dd-arrow.png) no-repeat right -13px;}

#topnav .subcategories  {
	position:absolute;
	top:42px;
	overflow:hidden;
	width:600px;
	z-index:1111; 
	display:none; 
	left:-1px;
}
#topnav li.cp .subcategories  { top:27px; }
#topnav .subcategories ul {	
	background: url(/themes/jam3/img/front_images/menu-dd-bg.gif) repeat left top;
	z-index:100;
	/*padding:30px 18px 18px 15px;*/
	padding: 11px 18px 0px 15px;
	list-style:none;
	margin:0;
}

#topnav li.cp .col-1 { width:200px !important; }
.col-1 { width:215px !important; }
.col-2 {}
.col-3 { width:100%; }

.col-1 img.ddpointe000 { margin:0 0 -1px 189px;}
.col-1 img.ddpointe001 { margin:0 0 -1px 61px;}
.col-1 img.ddpointe002 { margin:0 0 -1px 83px;}
.col-1 img.ddpointe003 { margin:0 0 -1px 98px;}
#topnav li:last-child .col-1 img.ddpointe004 { margin:0 0 -1px 157px;}

#topnav .menu00 { left:-57px; }
#topnav .menu01 { left:-89px; }
#topnav .menu02 { left:-1px; }
#topnav .menu03 { left:-0px; }
#topnav .menu04 { left:-2px; }
#topnav .menu05 { left:-0px; }

#topnav li:last-child .col-1 { left:-70px;}

#topnav .subcategories ul:after {content:".";display:block;	height:0;clear:both;visibility:hidden;}

#topnav .subcategories img.ddpointe00 { margin:0 0 -1px 177px; position: relative; z-index: 1;}
#topnav .subcategories img.ddpointe01 { margin:0 0 -1px 178px; position: relative; z-index: 1;} 
#topnav .subcategories img.ddpointe02 { margin:0 0 -1px 57px;}
#topnav .subcategories img.ddpointe03 { margin:0 0 -1px 337px;}
#topnav .subcategories img.ddpointe04 { margin:0 0 -1px 440px;}
#topnav .subcategories img.ddpointe05 { margin:0 0 -1px 539px;}

#topnav .subcategories ul li.col {	float:left; width:175px; padding-right:18px;}
#topnav .subcategories ul li.col.last { padding-right:0;}
#topnav .subcategories ul li.col ul.families, #topnav .subcategories ul li.col ul.families02 { position:static;}
#topnav .subcategories ul.families,#topnav .subcategories ul.families02{ margin:0; padding:0;}
#topnav .subcategories ul.families li,#topnav .subcategories ul.families02 li {background:url(/themes/jam3/img/front_images/menu-dd-hr-line.gif) no-repeat left bottom; float:none;	padding:0;	margin-left:0;	padding-left:0!important; display:block;}
#topnav .subcategories ul.families li:last-child, #topnav .subcategories ul.families02 li:last-child { background:none}

.even { background:none;}
.odd { background:url(/themes/jam3/img/front_images/menu-dd-odd-even.png) repeat-y center top;}

#topnav .subcategories ul.families li a { background:none; float:none;	height:auto; text-indent:0; font-family:"PFDinDisplayProBold", Arial, Helvetica, sans-serif;	font-size:12px;	color:#5b6363;	font-weight:normal;	display:block; line-height:12px; padding:7px 0; margin-left:0;}
#topnav .subcategories ul.families li a:hover { background:url(/themes/jam3/img/front_images/menu-dd-odd-even.png) repeat-y center top; color:#3f3e3e;	padding:7px 0;	border-top:none; }
/* */
#topnav .subcategories ul.families li a.child01 { background:url(/themes/jam3/img/front_images/accountancy-icon.gif) no-repeat left top; padding:9px 0 15px 30px; margin-left:0; margin-bottom:3px; color:#e0dfda;}
#topnav .subcategories ul.families li a.child01:hover { padding:9px 0 15px 30px;  margin-bottom:3px; color:#3f3e3e;}

#topnav .subcategories ul.families li a.child02 { background:url(/themes/jam3/img/front_images/economics-icon.gif) no-repeat left 4px; padding:4px 0 9px 30px; margin-left:0; margin-bottom:3px; color:#e0dfda;}
#topnav .subcategories ul.families li a.child02:hover { padding:4px 0 9px 30px;  margin-bottom:3px; color:#3f3e3e;}

#topnav .subcategories ul.families li a.child03 { background:url(/themes/jam3/img/front_images/business-icon.gif) no-repeat left 4px; padding:6px 0 12px 30px; margin-left:0; margin-bottom:3px; color:#e0dfda;}
#topnav .subcategories ul.families li a.child03:hover { padding:6px 0 12px 30px;  margin-bottom:3px; color:#3f3e3e;}

#topnav .subcategories ul.families li a.child04 { background:url(/themes/jam3/img/front_images/information-icon.gif) no-repeat left 6px; padding:6px 0 8px 30px; margin-left:0; margin-bottom:3px; color:#e0dfda;}
#topnav .subcategories ul.families li a.child04:hover { padding:6px 0 8px 30px;  margin-bottom:3px; color:#3f3e3e;}

#topnav .subcategories ul.families li a.child05 { background:url(/themes/jam3/img/front_images/management-icon.gif) no-repeat left 6px; padding:6px 0 8px 30px; margin-left:0; margin-bottom:3px; color:#e0dfda;}
#topnav .subcategories ul.families li a.child05:hover { padding:6px 0 8px 30px;  margin-bottom:3px; color:#3f3e3e;}

#topnav .subcategories ul.families li a.child06,#topnav .subcategories ul.families02 li a.child06 { background:url(/themes/jam3/img/front_images/programs-icon.gif) no-repeat left 3px; padding:6px 0 13px 30px; margin-left:0; color:#e0dfda;}
#topnav .subcategories ul.families li a.child06:hover,#topnav .subcategories ul.families02 li a.child06:hover { padding:6px 0 13px 30px; color:#3f3e3e;}

#topnav .subcategories ul.families li a.child07,#topnav .subcategories ul.families02 li a.child07 { background:url(/themes/jam3/img/front_images/online-icon.gif) no-repeat left 3px; padding:6px 0 13px 30px; margin-left:0; color:#e0dfda;}
#topnav .subcategories ul.families li a.child07:hover,#topnav .subcategories ul.families02 li a.child07:hover { padding:6px 0 13px 30px; color:#3f3e3e;}

#topnav .subcategories ul.families li a span.arrow,#topnav .subcategories ul.families02 li a span.arrow { background:url(/themes/jam3/img/front_images/sub-menu-arrow.gif) no-repeat left bottom; height:12px; width:13px; display:block; float:right; padding-right:0 !important; }


#topnav .subcategories ul.families02 li a { background:none; float:none;	height:auto; text-indent:0; font-family:"PFDinDisplayProMedium", Arial, Helvetica, sans-serif;	font-size:12px;	color:#e0dfda;	font-weight:normal;	display:block; line-height:12px; padding:9px 0; margin-left:0;}
#topnav .subcategories ul.families02 li a:hover { background:url(/themes/jam3/img/front_images/menu-dd-odd-even.png) repeat-y center top; color:#3f3e3e;	padding:9px 0;	border-top:none; }


/* ---------------- 
Only Safari Style 
------------------- */

@media screen and (-webkit-min-device-pixel-ratio:0){
	
	#topnav .topcategory a { font-style:normal;}
	
	
	#topnav .menu01 { left:-87px; }
	#topnav .menu04 { left:-2px; }
	#topnav .menu05 { left:-450px; }
	
	#topnav .subcategories img.ddpointe04 { margin:0 0 -2px 440px;}
	#topnav .subcategories img.ddpointe05 { margin:0 0 -2px 637px;}
	
}

/******************************************************
Only Mac's Firefox Style 
*****************************************************/


.mac.gecko #topnav .menu01 { left:-64px; }

.mac.gecko #topnav .subcategories img.ddpointe01 { margin:0 0 -1px 153px;}
.mac.gecko #topnav .subcategories img.ddpointe02 { margin:0 0 -2px 247px;}
.mac.gecko #topnav .subcategories img.ddpointe03 { margin:0 0 -2px 336px;}
.mac.gecko #topnav .subcategories img.ddpointe04 { margin:0 0 -2px 438px;}
.mac.gecko #topnav .subcategories img.ddpointe05 { margin:0 0 -2px 540px;}

/******************************************************
Only Mac's Chrome Style 
*****************************************************/

.mac.chrome #topnav .menu01 { left:-61px; }
.mac.chrome #topnav .menu02 { left:-1px; }
.mac.chrome #topnav .menu03 { left:-0px; }
.mac.chrome #topnav .menu04 { left:-2px; }
.mac.chrome #topnav .menu05 { left:-0px; }

.mac.chrome #topnav .subcategories img.ddpointe01 { margin:0 0 -2px 152px;}
.mac.chrome #topnav .subcategories img.ddpointe02 { margin:0 0 -2px 244px;}
.mac.chrome #topnav .subcategories img.ddpointe03 { margin:0 0 -2px 334px;}
.mac.chrome #topnav .subcategories img.ddpointe04 { margin:0 0 -2px 437px;}
.mac.chrome #topnav .subcategories img.ddpointe05 { margin:0 0 -2px 536px;}

/******************************************************
Only Mac's Safari Chrome Style 
*****************************************************/

.mac.safari #topnav .menu01 { left:-61px; }
.mac.safari #topnav .menu02 { left:-1px; }
.mac.safari #topnav .menu03 { left:-0px; }
.mac.safari #topnav .menu04 { left:-2px; }
.mac.safari #topnav .menu05 { left:-0px; }


.mac.safari #topnav .subcategories img.ddpointe01 { margin: 0 0 -1px 152px; }
.mac.safari #topnav .subcategories img.ddpointe02 { margin:0 0 -2px 235px;}
.mac.safari #topnav .subcategories img.ddpointe03 { margin:0 0 -2px 330px;}
.mac.safari #topnav .subcategories img.ddpointe04 { margin:0 0 -2px 439px;}
.mac.safari #topnav .subcategories img.ddpointe05 { margin:0 0 -2px 544px;}

#topnav .subcategories ul.families li a#school_link_button { background:url(/themes/jam3/img/front_images/school_link_icon.png) no-repeat left 8px; padding:6px 0 8px 30px; margin-left:0; margin-bottom:3px; color:#E0DFDA;}
#topnav .subcategories ul.families li a#school_link_button:hover { color:#3f3e3e}