
#topnav { float:right; width:467px; list-style:none;}
#topnav li.topcategory { float:left; position:relative; z-index:1111;}
#topnav li.topcategory.last-item { margin-right:0; }

#topnav li.topcategory a { padding:58px 0px 9px 0px; margin-left:12px; float:left; outline:none; color:#e0dfda;	text-decoration:none; font-family:"PFDinDisplayProMedium", Arial, Helvetica, sans-serif; font-size:13px; text-transform:uppercase; font-style:normal;}
#topnav li.topcategory a:hover { color:#999990; border-top:3px solid #999; padding:55px 0px 0 0px; margin-left:12px;}
#topnav li.topcategory a span { background:url(../../img/front_images/menu-dd-arrow.png) no-repeat right top; height:12px; padding-right:18px; display:inline-block; padding-top:1px; vertical-align:top;}
#topnav li.topcategory a:hover span { background:url(../../img/front_images/menu-dd-arrow.png) no-repeat right -13px;}

#topnav .subcategories ul li:hover > #topnav .topcategory a:hover span { background:url(../../img/front_images/menu-dd-arrow.png) no-repeat right -13px;}

#topnav .subcategories  {position:absolute;top:75px;overflow:hidden; width:600px; z-index:1111; display:none;}
#topnav .subcategories ul {	background: url(../../img/front_images/menu-dd-bg.gif) repeat left top;	z-index:100;	padding:30px 18px;	list-style:none;	margin:0;}

.col-1 { width:215px !important; }
.col-2 {}
.col-3 { width:100%; }

.col-1 img.ddpointe001 { margin:0 0 -1px 57px;}
.col-1 img.ddpointe002 { margin:0 0 -1px 79px;}
.col-1 img.ddpointe003 { margin:0 0 -1px 93px;}
#topnav li:last-child .col-1 img.ddpointe004 { margin:0 0 -1px 157px;}

#topnav .menu01 { left:-93px; }
#topnav .menu02 { left:0; }
#topnav .menu03 { left:-258px; }
#topnav .menu04 { left:-349px; }
#topnav .menu05 { left:-454px; }

#topnav li:last-child .col-1 { left:-70px;}

#topnav .subcategories ul:after {content:".";display:block;	height:0;clear:both;visibility:hidden;}

#topnav .subcategories img.ddpointe01 { margin:0 0 -1px 178px; position: relative; z-index: 1;} 
#topnav .subcategories img.ddpointe02 { margin:0 0 -1px 57px;}
#topnav .subcategories img.ddpointe03 { margin:0 0 -1px 337px;}
#topnav .subcategories img.ddpointe04 { margin:0 0 -1px 440px;}
#topnav .subcategories img.ddpointe05 { margin:0 0 -1px 539px;}

#topnav .subcategories ul li.col {	float:left; width:175px; padding-right:18px;}
#topnav .subcategories ul li.col.last { padding-right:0;}
#topnav .subcategories ul li.col ul.families { position:static;}
#topnav .subcategories ul.families { margin:0; padding:0;background:none;}
#topnav .subcategories ul.families li {background:url(../../img/front_images/menu-dd-hr-line.gif) no-repeat left bottom; float:none;	padding:0;	margin-left:0;	padding-left:0!important; display:block;}
#topnav .subcategories ul.families li:last-child { background:none}

.even { background:none;}
.odd { background:url(../../img/front_images/menu-dd-odd-even.png) repeat-y center top;}

#topnav .subcategories ul.families li a { background:none; float:none;	height:auto; text-indent:0; font-family:"PFDinDisplayProMedium", Arial, Helvetica, sans-serif;	font-size:12px;	color:#5b6363;	font-weight:normal;	display:block; line-height:12px; padding:9px 0; margin-left:0;}
#topnav .subcategories ul.families li a:hover { background:url(../../img/front_images/menu-dd-odd-even.png) repeat-y center top; color:#3f3e3e;	padding:9px 0;	border-top:none; }

#topnav .subcategories ul.families li a.child01 { background:url(../../img/front_images/accountancy-icon.gif) no-repeat left top; padding:4px 0 15px 30px; margin-left:0; margin-bottom:3px; color:#e0dfda;}
#topnav .subcategories ul.families li a.child01:hover { padding:4px 0 15px 30px;  margin-bottom:3px; color:#3f3e3e;}

#topnav .subcategories ul.families li a.child02 { background:url(../../img/front_images/economics-icon.gif) no-repeat left 4px; padding:4px 0 9px 30px; margin-left:0; margin-bottom:3px; color:#e0dfda;}
#topnav .subcategories ul.families li a.child02:hover { padding:4px 0 9px 30px;  margin-bottom:3px; color:#3f3e3e;}

#topnav .subcategories ul.families li a.child03 { background:url(../../img/front_images/business-icon.gif) no-repeat left 4px; padding:6px 0 12px 30px; margin-left:0; margin-bottom:3px; color:#e0dfda;}
#topnav .subcategories ul.families li a.child03:hover { padding:6px 0 12px 30px;  margin-bottom:3px; color:#3f3e3e;}

#topnav .subcategories ul.families li a.child04 { background:url(../../img/front_images/information-icon.gif) no-repeat left 6px; padding:6px 0 8px 30px; margin-left:0; margin-bottom:3px; color:#e0dfda;}
#topnav .subcategories ul.families li a.child04:hover { padding:6px 0 8px 30px;  margin-bottom:3px; color:#3f3e3e;}

#topnav .subcategories ul.families li a.child05 { background:url(../../img/front_images/management-icon.gif) no-repeat left 6px; padding:6px 0 8px 30px; margin-left:0; margin-bottom:3px; color:#e0dfda;}
#topnav .subcategories ul.families li a.child05:hover { padding:6px 0 8px 30px;  margin-bottom:3px; color:#3f3e3e;}

#topnav .subcategories ul.families li a.child06 { background:url(../../img/front_images/programs-icon.gif) no-repeat left 3px; padding:6px 0 13px 30px; margin-left:0; color:#e0dfda;}
#topnav .subcategories ul.families li a.child06:hover { padding:6px 0 13px 30px; color:#3f3e3e;}

#topnav .subcategories ul.families li a.child07 { background:url(../../img/front_images/online-icon.gif) no-repeat left 3px; padding:6px 0 13px 30px; margin-left:0; color:#e0dfda;}
#topnav .subcategories ul.families li a.child07:hover { padding:6px 0 13px 30px; color:#3f3e3e;}

#topnav .subcategories ul.families li a span.arrow { background:url(../../img/front_images/sub-menu-arrow.gif) no-repeat left bottom; height:12px; width:13px; display:block; float:right; padding-right:0 !important; }



/* ---------------- 
Only Safari Style 
------------------- */

@media screen and (-webkit-min-device-pixel-ratio:0){
	
	#topnav .topcategory a { font-style:normal;}
	
	
	#topnav .menu04 { left:-348px; }
	#topnav .menu05 { left:-450px; }
	
	#topnav .subcategories img.ddpointe04 { margin:0 0 -2px 440px;}
	#topnav .subcategories img.ddpointe05 { margin:0 0 -2px 637px;}
	
}

/******************************************************
Only Mac's Firefox Style 
*****************************************************/

.mac.gecko #topnav .subcategories img.ddpointe01 { margin:0 0 -2px 176px;}
.mac.gecko #topnav .subcategories img.ddpointe02 { margin:0 0 -2px 247px;}
.mac.gecko #topnav .subcategories img.ddpointe03 { margin:0 0 -2px 336px;}
.mac.gecko #topnav .subcategories img.ddpointe04 { margin:0 0 -2px 438px;}
.mac.gecko #topnav .subcategories img.ddpointe05 { margin:0 0 -2px 540px;}


/******************************************************
Only Mac's Chrome Style 
*****************************************************/

.mac.chrome #topnav .menu01 { left:-91px; }
.mac.chrome #topnav .menu02 { left:-187px; }
.mac.chrome #topnav .menu03 { left:-256px; }
.mac.chrome #topnav .menu04 { left:-345px; }
.mac.chrome #topnav .menu05 { left:-448px; }

.mac.chrome #topnav .subcategories img.ddpointe01 { margin:0 0 -2px 175px;}
.mac.chrome #topnav .subcategories img.ddpointe02 { margin:0 0 -2px 244px;}
.mac.chrome #topnav .subcategories img.ddpointe03 { margin:0 0 -2px 334px;}
.mac.chrome #topnav .subcategories img.ddpointe04 { margin:0 0 -2px 437px;}
.mac.chrome #topnav .subcategories img.ddpointe05 { margin:0 0 -2px 536px;}

/******************************************************
Only Mac's Safari Chrome Style 
*****************************************************/

.mac.safari #topnav .menu01 { left:-91px; }
.mac.safari #topnav .menu02 { left:-187px; }
.mac.safari #topnav .menu03 { left:-256px; }
.mac.safari #topnav .menu04 { left:-345px; }
.mac.safari #topnav .menu05 { left:-448px; }

.mac.safari #topnav .subcategories img.ddpointe01 { margin:0 0 -2px 162px;}
.mac.safari #topnav .subcategories img.ddpointe02 { margin:0 0 -2px 235px;}
.mac.safari #topnav .subcategories img.ddpointe03 { margin:0 0 -2px 330px;}
.mac.safari #topnav .subcategories img.ddpointe04 { margin:0 0 -2px 439px;}
.mac.safari #topnav .subcategories img.ddpointe05 { margin:0 0 -2px 544px;}