/*  
 
 RoyalSlider
 
 */
 #banner-rotator { width: 100%; height:397px !important; }
.royalSlider { position:relative; /* set width and height of slider here, in px, % or em*/
	width:600px; height:300px; /* Used to prevent content "jumping" on page load. this property is removed when javascript is loaded and slider is instanciated */
	overflow:hidden; }
/**
*  Slides area (set background here)
*/

.royalSlider .royalWrapper { overflow:hidden; position:relative; width:100%; height:100%; }
.royalSlider .royalSlide, .royalSlider .royalWrapper { /* Bakground behind slides */
	background:#fff;}
/* slides holder, grabbing container */
.royalSlider .royalSlidesContainer { position: relative; left: 0; top: 0 !important; list-style:none !important; margin:0 !important; padding:0 !important; border: 0 !important; }
/* slide item */
.royalSlider .royalSlide { padding: 0 !important; margin: 0 !important; border: 0 !important; list-style: none !important; position:relative; float:left; overflow:hidden; }
/* 

	Control navigation (bullets, thumbnails)
	
*/
.royalSlider .royalControlNavOverflow a { background:#0C0 none no-repeat scroll 0 0; width:20px; height:20px; float:left; cursor:pointer; position:relative; display:block; text-indent: -9999px; }
/* Current control navigation item */
.royalSlider .royalControlNavOverflow a.current { background-color: #C00; }
/* Hover state navigation item */
.royalSlider .royalControlNavOverflow a:hover { background-color: #00C; }
/* Thumbnails */
.royalSlider .royalControlNavOverflow a.royalThumb { /*background: none no-repeat 0 0;*/
	/*background-color: ;*/
	width:144px; height:60px; /* thumbnails spacing, use margin-right only */	
	margin-right:4px; }
.royalSlider .royalControlNavOverflow a.royalThumb.current { background-position: -3px -3px !important; border:3px solid #C00 !important; width:138px; height:54px; }
.royalSlider .royalControlNavOverflow a.royalThumb:hover { background-position: -3px -3px; border:3px solid #00C; width:138px; height:54px; }
/* 

.royalSlider.minimal { }
/* Slider with thumbs (used to add padding based on thumbnails size)*/
.royalSlider.minimal.with-thumbs { padding-bottom: 62px; }
/* 
*/
.royalSlider.minimal .royalControlNavOverflow a { background: url(/img/front_images/gallery-btn.png) no-repeat; width:17px; height:16px; margin-left:4px; }
/* Current bullet */
.royalSlider.minimal .royalControlNavOverflow a.current { background-position:left bottom !important; }
/* Bullet hover state */
.royalSlider.minimal .royalControlNavOverflow a:hover { }
/* Bullets nav sub-container */
.royalSlider.minimal .royalControlNavCenterer { }
/* Bullets nav container */
.royalSlider.minimal .royalControlNavOverflow { margin-top:-20px; right:30px; bottom:25px; position:absolute; }
/* Thumbnails main container */
.royalSlider.minimal .thumbsAndArrowsContainer { float:left; background: #E8EDEE; margin-top: 5px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
.royalSlider.minimal .royalControlNavOverflow.royalThumbs { margin-top:4px; }
/* Thumbnails */
.royalSlider.minimal .royalControlNavOverflow a.royalThumb { background-color: transparent; background-position: 0 0; width:80px; height:45px; /* thumbnails spacing, use margin-right only */	
	margin-right:4px; -moz-opacity: 1; -khtml-opacity: 1; opacity: 1; border: 2px solid #FFF; }
/* Thumbnail hover state*/
.royalSlider.minimal .royalControlNavOverflow a.royalThumb:hover { background-position: 0 0; border: 2px solid #9fbdc3; }
/* Current thumbnail */
.royalSlider.minimal .royalControlNavOverflow a.royalThumb.current { background-position: 0 0 !important; border:2px solid #9fbdc3 !important; }
/* 
