/* One container to bind them... */
.dk_container { border-radius:30px; -moz-border-radius:30px; -webkit-border-radius:30px; }
/*.dk_container:hover {  background: #e0dfda url(/themes/jam3/img/front_images/readmore-icon02-down.gif) no-repeat 92% 10px;}*/
/*.dk_container:hover a span { color: #9d1c32;}
.form_field .dk_container { background:#9d1c32 url(/themes/jam3/img/front_images/filter-arrow.gif) no-repeat 94% 8px ; margin-top:10px; }*/
.dk_container:focus { outline: 0; }
.dk_label { font-family:"PFDinDisplayProBold", Arial, Helvetica, sans-serif; text-transform:uppercase; font-size: 12px; }
.dk_container a { cursor: pointer; text-decoration: none; }


#dk_container_dptmnt { background:#9d1c32 url(/themes/jam3/img/front_images/filter-arrow.gif) no-repeat 94% 50%; margin-bottom:10px; }
#dk_container_dptmnt:hover {  background: #e0dfda url(/themes/jam3/img/front_images/readmore-icon02-down.gif) no-repeat 94% 50%;}
#dk_container_dptmnt:hover a span{color: #9d1c32;}
#dk_container_dptmnt .dk_label { font-family:"PFDinDisplayProBold", Arial, Helvetica, sans-serif; text-transform:uppercase; font-size:12px; display:block; width:140px; }


#dk_container_atoz { background:#9d1c32 url(/themes/jam3/img/front_images/filter-arrow.gif) no-repeat 94% 50%; margin-bottom:10px;}
#dk_container_atoz:hover {  background: #e0dfda url(/themes/jam3/img/front_images/readmore-icon02-down.gif) no-repeat 94% 50%;}
#dk_container_atoz:hover a span{color: #9d1c32;}
#dk_container_atoz .dk_label { font-family:"PFDinDisplayProBold", Arial, Helvetica, sans-serif; text-transform:uppercase; font-size:12px; display:block; width:140px; }


/* Opens the dropdown and holds the menu label */

.dk_toggle {
  background-repeat: no-repeat; background-position: 80% center; color: #deddd9; padding:9px 8px 9px 15px; border-radius:30px; -moz-border-radius:30px; -webkit-border-radius: 30px;  text-transform:uppercase;}
  
.dk_toggle_subject {
  background-repeat: no-repeat; background-position: 80% center; color: #deddd9; padding:7px 8px 8px 15px; border-radius:30px; -moz-border-radius:30px; -webkit-border-radius: 30px;  text-transform:uppercase; width: 90px !important;}  
  
/***************************
Only Mac's Safari Style
****************************/
/*.mac.safari .dk_toggle { min-width:70px } */


.dk_open { z-index: 10;}
.dk_open .dk_toggle { background: #e0dfda url(/themes/jam3/img/front_images/readmore-icon02-down.gif) no-repeat 92% 49%; color: #9f1b33; border-radius: 13px 13px 0 0; -moz-border-radius: 13px 13px 0 0; -webkit-border-radius: 13px 13px 0 0; }
#dk_container_subject a.dk_open .dk_toggle { background: #e0dfda url(/themes/jam3/img/front_images/readmore-icon02-down.gif) no-repeat 94% 8px; width:127px !important;  border:1px solid #E0DFDA;}
#left_colum .dk_open .dk_toggle { background: #e0dfda url(/themes/jam3/img/front_images/readmore-icon02-down.gif) no-repeat 94% 8px; }
/* The outer container of the options */

.dk_options { border-radius: 0 0 17px 17px; -moz-border-radius: 0 0 17px 17px; background:#e0dfda; -webkit-border-radius: 0 0 17px 17px; padding: 0 0 10px 0; border:1px solid #E0DFDA; border-width:1px 0px 0px 0; }

.dk_options a { background-color: #e0dfda; padding:3px 0px; color:#5d6363; border-bottom:1px dotted #cfcec9; font-family:"PFDinDisplayProBold", Arial, Helvetica, sans-serif; text-transform:uppercase; font-size: 10px;}
.dk_options li:last-child a { border-bottom: none; }
.dk_options a:hover /*.dk_option_current a*/ { color: #9a9994 !important; text-decoration: none; }
.dk_options a:active { color: #1e1e1e !important; text-decoration: none; }

.dk_options_inner { margin:0; padding:0; color: #333; max-height:250px; border-radius:20px; -moz-border-radius:15px; -webkit-border-radius: 0 0 15px 15px; list-style:none; }
.dk_options_inner li { padding-bottom:0!important; background:none !important; padding-left:0 !important; margin:0 16px; }
.dk_options_inner /* Set a max-height on the options inner */
.dk_options_inner, .dk_touch .dk_options { max-height: 250px; }

.school_affi .dk_container { top:0; float:left !important; margin-top:10px !important; }
.dk_container { position: relative; z-index:11; top:10px;}
aside#left_colum .dk_container  { float:left;}

.department { width:160px;}
.atoz { width:160px;}


.dk_toggle { display: -moz-inline-stack; display: inline-block;  *display: inline; position: relative; zoom: 1; }
.dk_open { position: relative; z-index:111; }
.dk_open .dk_options { display: block; }
.dk_open .dk_label { color: inherit; }
.dk_options { display: none; margin-top: -1px; position: absolute; right: 0; width: 100%; }
.dk_options a,  .dk_options a:link,  .dk_options a:visited { display: block; }
.dk_options_inner { overflow: auto; position: relative; }
.dk_touch .dk_options { overflow: hidden; }
.dk_touch .dk_options_inner { max-height: none; overflow: visible; }
.dk_fouc select { position: relative; top: -99999em; visibility: hidden; }

.aside_form .dk_container { /*float:right !important;*/ margin-top:-55px; margin-right:0;}

/***** End Critical to the continued enjoyment of working dropdowns ******/

/* ========/ Degree Filter \==========*/

#dk_container_degree { background:#9d1c32 url(/themes/jam3/img/front_images/filter-arrow.gif) no-repeat 92% 8px; line-height: 14px; margin-bottom: 18px; border-radius:30px; -moz-border-radius:30px; -webkit-border-radius:30px; float: right; width: 150px;}  
#dk_container_degree:hover { background: #e0dfda url(/themes/jam3/img/front_images/readmore-icon02-down.gif) no-repeat 92% 8px; }
#dk_container_degree:hover a span { color: #9d1c32;}
#dk_container_degree .dk_toggle {width:127px !important;	}
#dk_container_degree .dk_options { 	width:150px !important; } 	
#dk_container_degree .dk_toggle span.dk_label {display: block; width: 105px;}

/* ========/ Event Filter \==========*/

#dk_container_eve_cat_filter { background:#9d1c32 url(/themes/jam3/img/front_images/filter-arrow.gif) no-repeat 92% 49%; line-height: 14px; margin-top: -15px; border-radius:30px; -moz-border-radius:30px; -webkit-border-radius:30px; width: 116px; position:absolute; right:0; top:15px;}  

#dk_container_eve_cat_filter:hover { background: #e0dfda url(/themes/jam3/img/front_images/readmore-icon02-down.gif) no-repeat 92% 49%; }
#dk_container_eve_cat_filter:hover a span { color: #9d1c32;}

#dk_container_eve_cat_filter .dk_toggle {
	width:93px !important;
	
}
#dk_container_eve_cat_filter .dk_options { 	width:116px !important; } 	

/* ========/ Day \======== */

#dk_container_day { float:left; width:75px; background:#727272 url(/themes/jam3/img/front_images/input-aro.png) no-repeat 90% 50% ; margin-top:10px; margin-right:10px;}
#dk_container_day:hover {  background: #e0dfda url(/themes/jam3/img/front_images/readmore-icon02-down.gif) no-repeat 90% 50%}
#dk_container_day:hover a span{ color:#9d1c32 !important;}
#dk_container_day .dk_toggle {width:52px !important;	}
#dk_container_day .dk_options {	width:75px !important; } 

/* ========/ Month \======== */

#dk_container_month { float:left; width:93px; background:#727272 url(/themes/jam3/img/front_images/input-aro.png) no-repeat 90% 50%; margin-top:10px;  margin-right:10px;}
#dk_container_month:hover {  background: #e0dfda url(/themes/jam3/img/front_images/readmore-icon02-down.gif) no-repeat 90% 50%;}
#dk_container_month:hover a span{ color:#9d1c32 !important;}
#dk_container_month .dk_toggle {width:70px !important;	}
#dk_container_month .dk_options { 	width:93px !important; } 

/* ========/ Year \======== */

#dk_container_year { float:left; width:79px; background:#727272 url(/themes/jam3/img/front_images/input-aro.png) no-repeat 90% 50%; margin-top:10px;  margin-right:10px;}
#dk_container_year:hover {  background: #e0dfda url(/themes/jam3/img/front_images/readmore-icon02-down.gif) no-repeat 90% 50%;}
#dk_container_year:hover a span{ color:#9d1c32 !important;}
#dk_container_year .dk_toggle {width:56px !important;	}
#dk_container_year .dk_options { 	width:79px !important; } 


#dk_container_dgr_year {
    background: url("/themes/jam3/img/front_images/filter-arrow.gif") no-repeat scroll 92% 50% #9D1C32;
    border-radius: 30px 30px 30px 30px;
    /*float: right;*/
    line-height: 14px;
    margin-bottom: 18px;
    width: 160px;
	position:absolute; top:60px; left: 180px;
}
#dk_container_dgr_year:hover {  background: #e0dfda url(/themes/jam3/img/front_images/readmore-icon02-down.gif) no-repeat 92% 50%;}
#dk_container_dgr_year:hover a span{ color:#9d1c32 !important;}
#dk_container_dgr_year .dk_toggle { width: 137px !important;}



#dk_container_dgr {
    background: url("/themes/jam3/img/front_images/filter-arrow.gif") no-repeat scroll 92% 50% #9D1C32;
    border-radius: 30px 30px 30px 30px;
    /*float: right;*/
    line-height: 14px;
    margin-bottom: 18px;
    width: 160px;
	margin-right:20px;
	position:absolute; top:60px;
}
#dk_container_dgr:hover {  background: #e0dfda url(/themes/jam3/img/front_images/readmore-icon02-down.gif) no-repeat 92% 50%;}
#dk_container_dgr:hover a span{ color:#9d1c32 !important;}
#dk_container_dgr .dk_toggle { width:137px !important; }


#dk_container_v_subject{
    background: url("/themes/jam3/img/front_images/filter-arrow.gif") no-repeat scroll 92% 50% #9D1C32;
    border-radius: 30px 30px 30px 30px;
    float: right;
    line-height: 14px;
    margin-bottom: 18px;
    width: 140px;
}
#dk_container_v_subject:hover {  background: #e0dfda url(/themes/jam3/img/front_images/readmore-icon02-down.gif) no-repeat 92% 50%;}
#dk_container_v_subject:hover a span{ color:#9d1c32 !important;}
#dk_container_v_subject .dk_toggle { width: 117px !important;}

#dk_container_dgr .dk_label {
    display: block;
    font-family: "PFDinDisplayProBold",Arial,Helvetica,sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    width: 115px;
}