html, body, div, span, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,abbr, address, cite, code,del, dfn, em, img, ins, kbd, q, samp,small, strong, sub, sup, var,b, i,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary,time, mark, audio, video { margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent;font-family:"DINPro-Regular", Arial, Helvetica, sans-serif;}
body { line-height:1; color:#9A9A91; font-size:14px;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display:block;}
footer {}
nav ul { list-style:none;}
blockquote, q { quotes:none;}
blockquote:before, blockquote:after,q:before, q:after { content:''; content:none;}
a { 
	margin:0; 
	padding:0; 
	font-size:100%; 
	vertical-align:baseline; 
	background:transparent; 
	text-decoration:none;
    color: #9E1B32;
}
/* change colours to suit your needs */
p strong { font-family:"DINPro-Medium", Arial, Helvetica, sans-serif; font-weight:normal;}
ins { background-color:#ff9;color:#000; text-decoration:none;}
/* change colours to suit your needs */
mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold;}
del { text-decoration: line-through;}
abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help;}
table { border-collapse:collapse; border-spacing:0;}
/* change border colour to suit your needs */
hr { display:block; height:1px; border:0; border-top:1px solid #cccccc; margin:1em 0; padding:0;}
input, select { vertical-align:middle;}
.clear { clear:both; line-height:1%;}
*:focus { outline:none;}
/*input[type=text],textarea,select{-webkit-appearance: none !important; border-radius: 0; border:none;}*/
*{-webkit-font-smoothing: antialiased;}
.left { float:left;}
.right { float:right;}

h1 { font-family:"DIN1451StdEngschrift", Arial, Helvetica, sans-serif; text-transform:uppercase; font-size:40px; color:#1d1d1d; font-weight:normal; margin-bottom:17px; }
h2, h2 span { font-family:"AdobeCaslonProRegular", Georgia, Times New Roman, Times, serif; font-size:35px; color:#1d1d1d; font-weight:normal; margin-bottom:15px; line-height:35px;}
h3{ font-family: Helvetica, sans-serif; font-size:16px; color:#1d1d1d; font-weight:normal; margin-bottom:12px; }
h4{}
h5{}
.article IMG {}
.article hover IMG{} 

.heading01 { font-family:"DIN1451StdEngschrift", Arial, Helvetica, sans-serif; text-transform:uppercase; font-size:40px; color:#1d1d1d; font-weight:normal; margin-bottom:20px; display:block;}

#slides_two p a{ color:#9E1B32; background:url(/themes/jam3/img/front_images/readmore-icon02.png) center right no-repeat; padding-right:18px; }
#slides_two p a:hover{ background:url(/themes/jam3/img/front_images/readmore-icon02.gif) center right no-repeat; padding-right:18px; }
#half_right #slides_two p a, #half_right #slides_two p a:hover { background: no-repeat right top;
color: #9E1B32;
text-transform: uppercase;
font-family: "PFDinDisplayProBold", Arial, Helvetica, sans-serif;
font-size: 12px;
height: 14px;
padding-right: 0px;
text-decoration: none;
line-height: normal; }

/*---------------------------------- Reset Style End ---------------------------------------*/

.bg1col { background:url(/themes/jam3/img/front_images/bg1col.gif) repeat-y center top; }
.bg2col { background:url(/themes/jam3/img/front_images/bg2col.gif) repeat-y right top; }
.bg3col { background:url(/themes/jam3/img/front_images/bg3col.gif) repeat-y right top; }

#index_wrapper { width:100%; min-width:1000px; overflow: hidden; }

#index_wrapper header { background:url(/themes/jam3/img/front_images/blk-noise-bg.gif) repeat-x left top; min-height:720px; min-width:1000px; }

#header_area { width:1000px; margin:0 auto; position:relative;}

#index_wrapper header a#logo { background:url(/themes/jam3/img/front_images/logo.png) no-repeat left top; height:195px; width:300px; display:block; position:absolute; left:0; top:0; z-index:11;}
#inner_wrapper header a#logo { background:url(/themes/jam3/img/front_images/logo-inner.gif) no-repeat left top; height:53px; width:243px; display:block; float:left; margin-top:30px;}


/*-------------------------------
SEACH AREA STYLE
---------------------------------*/

#header_area #searchform { /*position:absolute; right:0; top:47px;*/ padding-top:49px; float:right; margin-left:10px; display:inline-block;}
#header_area #searchform #s {
   
	
	/*-moz-transition-property: width, background, padding;
	-moz-transition-duration: 400ms;
    -moz-transition-timing-function: ease;
    -moz-transition-delay: 500ms;
	
	-webkit-transition-property: width, background, padding;
	-webkit-transition-duration: 400ms;
    -webkit-transition-timing-function: ease;
    -webkit-transition-delay: 500ms;*/
	
	
   
    float: right;
    width:30px;
	text-indent:-99999px;
	border-radius:15px;
	-webkit-border-radius:15px;	
	-moz-border-radius:15px;	
}
#header_area #searchform input#s { 
   background: url("/themes/jam3/img/front_images/search-default-icon.png") no-repeat scroll right top transparent;
    height:30px;
    line-height: 1.2em;
	border:none;
	width:30px;
    cursor: pointer; 
	padding:0;
}
#header_area #searchform input#s.focus {
	
	
	background:#5b6363 url("/themes/jam3/img/front_images/search-default-icon.png") no-repeat scroll right top;
	/*width:110px;*/
	-webkit-appearance: none;
	border-radius:15px;
	-webkit-border-radius:15px;	
	-moz-border-radius:15px;	
	color:#e0dfda;
	text-indent:0;
	padding:0 30px 0 10px;
	font-family:"PFDinDisplayProMedium", Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	font-size:10px;
	letter-spacing:1px;
    cursor: text;
	}
#header_area #searchform #searchsubmit {
    display: none;
}


.search_no_rec
{
    color: #9E1B32;
    font-size: 16px;
    margin-left: 193px !important;
    margin-top:50px;
   
}	

/*-------------------------------
BANNER AREA STYLE
---------------------------------*/

#banner_area { height:420px; margin:20px 0 36px 0; width:1000px; height:420px; position:relative; overflow:hidden;}

.banner_images_box{ margin:0; padding:0; position:absolute; left:0; top:0; height:420px;}
.banner_images_box .active{ left:0; top:0;}
.banerImage{ margin:0; padding:0; position:absolute; left:0; top:0; width:1000px; height:420px;}


#banner_action{ background:#efeeec; position:absolute; width:280px; bottom:20px; right:0px;}
.banner_controller_box{ background:url(/themes/jam3/img/front_images/baner_action_bg.jpg) left top repeat; height:40px; position:relative;}
.banner_controller_box a{ width:40px; height:40px; position:absolute;}
.banner_controller_box a:hover{ background-position:left -40px;}
.banner_controller_box a.active{ background-position:left bottom;}
.g_icons_00{top:0; background:url(/themes/jam3/img/front_images/g_icons_00.png) left top no-repeat;}
.g_icons_01{top:0; background:url(/themes/jam3/img/front_images/g_icons_01.png) left top no-repeat;}
.g_icons_02{top:0; background:url(/themes/jam3/img/front_images/g_icons_02.png) left top no-repeat;}
.g_icons_03{top:0; background:url(/themes/jam3/img/front_images/g_icons_03.png) left top no-repeat;}
.g_icons_04{top:0; background:url(/themes/jam3/img/front_images/g_icons_05.png) left top no-repeat;}
.g_icons_05{top:0; background:url(/themes/jam3/img/front_images/g_icons_04.png) left top no-repeat;}
.g_icons_06{top:0; background:url(/themes/jam3/img/front_images/g_icons_06.png) left top no-repeat;}

.banner_timer{ width:0; height:2px; position:absolute; left:0px; bottom:0; background:#9e1b32;}


.banner_text{ background:url(/themes/jam3/img/front_images/noise-bg01.gif) repeat left top; position:relative; overflow:hidden; width:280px; height:111px;  cursor:pointer;}
.banner_text .text_row{ position:absolute; left:30px; top:20px; width:230px; height:80px; display:none; }
.banner_text:hover .text_row p{color:#9c1a32; }
/*.banner_text:hover .text_row span{color:#9c1a32;}*/

.hinttext{ background:#9c1930; position:absolute; left:0px; top:-15px; padding:5px 15px; color:#e0dfda; -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; font-family:"PFDinDisplayProBold", Arial, Helvetica, sans-serif; text-transform:uppercase; font-size:10px}
.hinttext .bullateoutside{ position:absolute; bottom:-4px; width:4px; height:4px; background:url(/themes/jam3/img/front_images/bullateoutside.png) left top no-repeat;}

.banner_text .text_row span { color:#1d1d1d; font-family:"AdobeCaslonProBold", Georgia, Times New Roman, Times, serif; display:block; letter-spacing:1px; margin-bottom:5px; font-size:13px; text-transform:uppercase;}
.banner_text .text_row p { font-family:"PFDinDisplayProRegular", Arial, Helvetica, sans-serif; font-size:13px; color:#5b6363; line-height:17px;}
#banner_area_text { font-family:"AdobeCaslonProSemibold", Georgia, Times New Roman, Times, serif; color:#e0dfda; font-size:41px; text-transform:uppercase; text-align:center; letter-spacing:5px;}
#banner_area_text span { font-family:"AdobeCaslonProItalic", Georgia, Times New Roman, Times, serif; font-size:20px; color:#9a9a91; display:block; text-transform:none; letter-spacing:1px; line-height:normal; font-weight:normal; margin-top:6px;}

/*-------------------------------
ALL READ MORE STYLE
---------------------------------*/

.readmore01 { font-family:"AdobeCaslonProBold", Georgia, Times New Roman, Times, serif; font-size:14px; color:#9e1b32; letter-spacing:normal; text-decoration:none; display:inline-block; margin-left:10px; text-align:left; vertical-align:middle;}
.readmore01 span { background:url(/themes/jam3/img/front_images/readmore-icon01.gif) no-repeat left top; height:13px; width:13px; display:inline-block; vertical-align:middle; margin:2px 0 0 4px!important; float:right;}
.readmore01:hover span { background-position:left bottom; }
.readmore01:hover { color:#e0dfda;}
.readmore01:active { color:#9a9a91;}

.readmore02 { background:url(/themes/jam3/img/front_images/readmore01.gif) no-repeat left top; height:16px; width:89px; display:inline-block;  vertical-align:middle; margin-top: 2px;}
.readmore02:hover { background-position:left -16px;}
.readmore02:active { background-position:left -32px;}

.readmore03 { font-family:"PFDinDisplayProBold", Arial, Helvetica, sans-serif; font-size:12px; color:#9e1b32; text-transform:uppercase; letter-spacing:normal; text-decoration:none; display:inline-block; text-align:left; vertical-align:middle;}
.readmore03 span { background:url(/themes/jam3/img/front_images/readmore-icon01.png) no-repeat left top; height:13px; width:13px; display:inline-block; vertical-align:middle; margin:0px 0 0 4px!important; float:right;}
.readmore03:hover span { background-position:left bottom;}

.readmore04 { font-family:"PFDinDisplayProBold", Arial, Helvetica, sans-serif; font-size:11px; color:#e0dfda; text-transform:uppercase; letter-spacing:normal; text-decoration:none; display:inline-block; text-align:left; vertical-align:bottom; margin-right:15px;}
.readmore04:hover { color:#9a9a91; margin-right:15px; background:url(/themes/jam3/img/front_images/readmore-icon03.gif) no-repeat right top; height:13px; display:inline-block; padding-right:13px;}
.readmore04:active { color:#5b6363;}
.readmore04 img { vertical-align:top;}
.readmore04:hover img { visibility:hidden; display:none;}

.readmore04:hover {font-size:11px;}
@media screen and (-webkit-min-device-pixel-ratio:0)
{	
    .readmore04:hover {font-size:11px; line-height: 15px;}
}
p .readmore_arw {margin-top:-5px;vertical-align:middle; }
.readmore_arw { background:url(/themes/jam3/img/front_images/readmore02.gif) no-repeat left top; width:14px; height:15px; display:inline-block; vertical-align:bottom;}
.readmore_arw:hover { background-position:left -14px;}
.readmore_arw:active { background-position:left -28px;}

.readmore05 { background:url(/themes/jam3/img/front_images/readmore-icon01.gif	) no-repeat right top; height:13px; padding-right:17px; font-family:"PFDinDisplayProBold", Arial, Helvetica, sans-serif; font-size:12px; color:#9e1b32; display:inline-block;  vertical-align:bottom; text-transform:uppercase; margin-top: 10px;}
.readmore05:hover { background-position:right -13px; color:#e0dfda;}
.readmore05:active { background-position:right -13px; color:#9a9a91;}

img.logo_seal { position:absolute; left:43%; top:104%;}
img.logo_seal2 { position:absolute; left:46%; top:90px; z-index:50;}

.red_btn { background:url(/themes/jam3/img/front_images/red-btn-left.png) no-repeat left top; height:30px; float:left; padding:0px 10px 0 15px; color:#e0dfda;  text-transform:uppercase; font-size:12px; text-decoration:none; margin-right:23px; cursor:pointer !important;}
.red_btn span { background:url(/themes/jam3/img/front_images/red-btn-right.gif) no-repeat right top; height:20px; float:left; padding:10px 32px 0 0; margin-right:-32px;font-family:"PFDinDisplayProBold", Arial, Helvetica, sans-serif;}
.red_btn:hover { background-position:left -30px;}
.red_btn:active { background-position:left -60px;}
.red_btn:hover span { background-position:right -30px;}
.red_btn:active span { background-position:right -60px;}

.mac.gecko .red_btn { background:url(/themes/jam3/img/front_images/red-btn-left.png) no-repeat left top; height:30px; float:left; padding:0px 10px 0 15px; color:#e0dfda;  text-transform:uppercase; font-size:12px; text-decoration:none; margin-right:23px; cursor:pointer !important;}
.mac.gecko .red_btn span { background:url(/themes/jam3/img/front_images/red-btn-right.gif) no-repeat right top; height:22px; float:left; padding:8px 32px 0 0; margin-right:-32px;font-family:"PFDinDisplayProBold", Arial, Helvetica, sans-serif;}
.mac.gecko .red_btn:hover { background-position:left -30px;}
.mac.gecko .red_btn:active { background-position:left -60px;}
.mac.gecko .red_btn:hover span { background-position:right -30px;}
.mac.gecko .red_btn:active span { background-position:right -60px;}

.red_btn_active { background:url(/themes/jam3/img/front_images/red-btn-left.png) no-repeat left -30px; height:30px; float:left; padding:0px 10px 0 15px; color:#e0dfda;  text-transform:uppercase; font-size:12px; text-decoration:none; margin-right:23px; cursor:pointer !important;}
.red_btn_active span { background:url(/themes/jam3/img/front_images/red-btn-right.gif) no-repeat right -30px; height:21px; float:left; padding:9px 32px 0 0; margin-right:-32px;font-family:"PFDinDisplayProBold", Arial, Helvetica, sans-serif;}


.back_btn { margin:14px 23px 5px 0; }

.grey_btn { background:url(/themes/jam3/img/front_images/grey-btn-left.png) no-repeat left top; height:30px; float:left; padding:0px 10px 0 15px; color:#e0dfda;  text-transform:uppercase; font-size:12px; text-decoration:none; margin-right:23px; cursor:pointer !important;}
.grey_btn span { background:url(/themes/jam3/img/front_images/grey-btn-right.gif) no-repeat right top; height:21px; float:left; padding:9px 32px 0 0; margin-right:-32px;font-family:"PFDinDisplayProBold", Arial, Helvetica, sans-serif;}
.grey_btn:hover { background-position:left -30px;}
.grey_btn:active { background-position:left -60px;}
.grey_btn:hover span { background-position:right -30px;}
.grey_btn:active span,.grey_btn.current span { background-position:right -60px;}



.grey_btn_active { background:url(/themes/jam3/img/front_images/grey-btn-left.png) no-repeat left -30px; height:30px; float:left; padding:0px 10px 0 15px; color:#e0dfda;  text-transform:uppercase; font-size:12px; text-decoration:none; margin-right:23px; cursor:pointer !important;}
.grey_btn_active span { background:url(/themes/jam3/img/front_images/grey-btn-right.png) no-repeat right -30px; height:21px; float:left; padding:9px 32px 0 0; margin-right:-32px;font-family:"PFDinDisplayProBold", Arial, Helvetica, sans-serif;}

/*-------------------------------
NEWS AREA STYLE
---------------------------------*/

section#news_section { background:url(/themes/jam3/img/front_images/noise-bg01.gif) repeat left top; width:100%; min-width:1000px; padding-bottom:23px;}

#news_area { width:1000px; margin:0 auto;}

.news_block01,.news_block02 { background:url(/themes/jam3/img/front_images/vr-line.gif) repeat-y right top;  float:left; padding-top:90px}
.news_block01 { width:273px; padding-right:30px;}
.news_block02 { width:320px; padding-right:40px; padding-left:40px;}

.newswriting,.comment_writing { background:url(/themes/jam3/img/front_images/wht-dot-line.gif) repeat-x left bottom; padding-bottom:25px; margin-bottom:25px;}
.newswriting:last-child { background:none;}

.news_title { margin-bottom:4px;}
.news_title a { font-family:"AdobeCaslonProBold", Georgia, Times New Roman, Times, serif; color:#1d1d1d; letter-spacing:1px; text-transform:uppercase; font-size:16px; text-decoration:none; line-height:20px;}
.newswriting p img[align="left"],.news_block02 p img[align="left"] { border:4px solid #5b6463; margin:3px 10px 0 0; float:left;}
.newswriting p img[alt="png"] { border:none;}

.newswriting p,.newswriting p { font-family:"DINPro-Regular", Arial, Helvetica, sans-serif; font-size:14px; color:#9a9a91; line-height:17px;}

/*--- NEW BLOCK HOVER STYLE ---*/

.newswriting:hover .news_title a { color:#9c1a32;}
.newswriting:hover p { color:#5b6363; cursor:default;}
.newswriting:hover p img[align="left"]{ border:4px solid #9e1b32;}
.newswriting:hover p img[alt="png"] { border:none;}
.newswriting:hover a.readmore02 {background-position:left -16px;}


/*--- NEW BLOCK FOCUS STYLE ---*/

.newswriting:active .news_title a { color:#424242;}
.newswriting:active p { color:#5b6363;}
.newswriting:active p img[align="left"]{ border:4px solid #1d1d1d;}
.newswriting:active p img[alt="png"]{ border:none;}
.newswriting:active a.readmore02 {background-position:left -32px;}

/*-------------------------------
COMMENT AREA STYLE
---------------------------------*/

.comment_block { width:260px; padding:90px 0 0 35px; float:left; }
.comment_writing { font-family:"AdobeCaslonProItalic", Georgia, Times New Roman, Times, serif; color:#5b6363; font-size:30px; line-height:30px; margin-bottom:10px !important;}


.comment_writing a { font-family:"AdobeCaslonProItalic", Georgia, Times New Roman, Times, serif; color:#5b6363; font-size:30px; line-height:30px; }
.comment_writing a:hover { color:#9c1a32;}
.comment_writing a:active { color:#5A6264;}


.comment_writing:hover { color:#9c1a32; cursor:default;}
.comment_writing:hover .author_sign { color:#5b6363;}
.comment_writing:hover .readmore02 { background-position:left -16px;}
.comment_writing:active { color:#1d1d1d;}
.comment_writing:active .author_sign { color:#5b6363;}
.author_sign { 
    background:url(/themes/jam3/img/front_images/man-icon.png) no-repeat left 6px; 
    font-family:"PFDinDisplayProLight", Arial, Helvetica, sans-serif; 
    font-size:14px; 
    line-height:normal; 
    margin-top:10px;
}
.author_sign span {
    color: #5B6363;
    display: block;
    font-family: "PFDinDisplayProRegular",Arial,Helvetica,sans-serif;
    font-size: 18px;
    padding-left:13px;
}
.comment_block a.red_btn { float:right;}

/*-------------------------------
Event Area Style
---------------------------------*/

section#event_section { background:#fff url(/themes/jam3/img/front_images/zigzag03.gif) repeat-x left bottom; background-size: 10px 10px; /*height:395px;*/ padding:50px 0 35px 0;}
#event_area { width:1000px; margin:0 auto;}
#event_calender { width:470px; float:left; margin-left:10px;}
#event_block_slider { background:url(/themes/jam3/img/front_images/noise-bg01.gif) repeat left top; width:420px; height:298px; float:right; padding:30px; margin-bottom:22px;}

.title01 { font-family:"DIN1451StdEngschrift", Arial, Helvetica, sans-serif; color:#5b6363; font-size:40px; text-transform:uppercase;}
.title01 span { font-family:"DIN1451StdEngschrift", Arial, Helvetica, sans-serif; color:#9a9a91; font-size:27px; text-transform:uppercase; display:block;}
.title02 { font-family:"DIN1451StdEngschrift", Arial, Helvetica, sans-serif; color:#fff; font-size:40px; text-transform:uppercase;}

a.link01 { color:#5b6363; font-size:12px; font-family:"PFDinDisplayProBold", Arial, Helvetica, sans-serif; text-transform:uppercase; text-decoration:none; line-height:normal; display:inline-block;}
a.link01 img { text-align:right; vertical-align:top;}
a.link01:hover { color:#1d1d1d; background:url(/themes/jam3/img/front_images/readmore-icon02.gif) no-repeat right top; height:14px; display:block; padding-right:14px; display:inline-block;}
a.link01:hover img { visibility:hidden; display:none;}

a.link01.left {padding-left:10px;}

.date_block, #slides_two .date_block  { width:140px; float:left;}
.date_block .event_date_time,#slides_two .date_block .event_date_time { background:#9e1b32; height:122px; color:#fff; padding:15px 8px 3px 10px;}
.date_block .event_date_time .time,#slides_two  .date_block .event_date_time .time { font-family:"PFDinDisplayProBold", Arial, Helvetica, sans-serif; font-size:16px; color:#e0dfda;}
.date_block .event_date_time .time small,#slides_two .date_block .event_date_time .time small { font-family:"PFDinDisplayProRegular", Arial, Helvetica, sans-serif; font-size:10px;}
.date_block .event_date_time .date,#slides_two .date_block .event_date_time .date { font-family:"PFDinDisplayProMedium", Arial, Helvetica, sans-serif; text-transform:uppercase;font-size:14px; display:block; margin-top:15px; text-align:right; float:right; margin-top:17px; color:#e0dfda;}
.date_block .event_date_time .date span,#slides_two .date_block .event_date_time .date span {  font-family:"PFDinDisplayProMedium", Arial, Helvetica, sans-serif; color:#e0dfda; font-size:87px; display:block; line-height:70px; margin-right:-3px;}

.social_icon { margin-top:20px;}
.social_icon span { float:left; display:block; font-family:"PFDinDisplayProMedium", Arial, Helvetica, sans-serif; color:#5b6363;  text-transform:uppercase; font-size:14px;  }
.social_icon a.twtr {margin-top: -3px; background:url(/themes/jam3/img/front_images/twtr-icon.png) no-repeat left -40px !important; height:20px; width:20px; display:block; float:left; margin-left:3px;}
.social_icon a.twtr:hover { background-position:left -20px;}
.social_icon a.twtr:active { background-position:left -60px;}
.social_icon a.fb {margin-top: -3px; background:url(/themes/jam3/img/front_images/fb-icon.png) no-repeat left -40px !important; height:20px; width:20px; display:block; float:left;  margin-left:3px;}
.social_icon a.fb:hover { background-position:left -20px;}
.social_icon a.fb:active { background-position:left -60px;}
.social_icon a.email {margin-top: -3px; background:url(/themes/jam3/img/front_images/email-icon.png) no-repeat left top !important; height:20px; width:20px; display:block; float:left;  margin-left:3px;}
.social_icon a.email:hover { background-position:left -20px;}
.social_icon a.email:active { background-position:left -40px;}

.social_icon .stButton {  height:22px !important; width:20px !important; margin-left:0px !important;}

.event_wirting_block { width:280px; float:right;}

#date2 .datepickerDays td.datepickerSelected a { position:relative !important;}

.ttp{ background:#9c1930; position:absolute; left:0px; top:-20px; padding:5px 10px 6px 10px;  -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px;  z-index:111; /*display:none;*/ font-family:"PFDinDisplayProBold", Arial, Helvetica, sans-serif; text-transform:uppercase; font-size:10px; color:#e0dfda; display:inline-block;}
.ttp img {
    bottom: -11px;
    left: -40px;
    position: relative;
}

#menu_btm_section { background:url(/themes/jam3/img/front_images/noise-bg01.gif) repeat left top; height:125px;  width:100%; margin-bottom:-3px;} 
#menu_btm_area { width:1000px; margin:0 auto; padding-top:47px; position:relative;}
#menu_btm_area .left { width:50%; float:left;}
#menu_btm_area .right { width:50%; float:right;}
#menu_btm_area .right a { float:right;}
#menu_btm_area .left a { margin-right:30px;}
#menu_btm_area .right a { margin-left:8px;}

#footer_section { background:url(/themes/jam3/img/front_images/noise-bg02.gif) repeat left top; /*height:480px;*/ width:100%; padding-bottom:65px;}
#footer_zigzag { background:url(/themes/jam3/img/front_images/zigzag04.gif) repeat-x left top; background-size: 10px 4px; padding-top:45px;  width:100%; top:-1px; position:relative; margin-top:-0px; }
#footer_content { width:1000px; margin:0 auto;}
#ftr_blocks { margin-bottom:35px; width: 1025px;}
.ftr_block { width:180px; float:left; margin:0 25px 25px 0; background:url(/themes/jam3/img/front_images/zigzag-line.gif) repeat-x left top; padding-top:25px; min-height:130px; position:relative;}
.ftr_block:last-child { margin-right:0;}

.ftr_block span { font-family:"AdobeCaslonProBold", Georgia, Times New Roman, Times, serif; color:#e0dfda; font-size:12px; letter-spacing:1px; text-transform:uppercase; display:block; line-height:20px;}
.ftr_block p { color:#9a9a91; font-family:"DINPro-Regular", Arial, Helvetica, sans-serif; font-size:13px; line-height:16px;}

.ftr_block .readmore03 { font-family:"PFDinDisplayProBold", Arial, Helvetica, sans-serif; font-size:12px; color:#9e1b32; text-transform:uppercase; letter-spacing:normal; text-decoration:none; display:inline-block; position:absolute; left:0; bottom:0; }
.ftr_block .readmore03 img { text-align:right; vertical-align:top;}


#ftr_bottom { background:url(/themes/jam3/img/front_images/blk-dot-line.png) repeat-x left top; height:45px; padding-top:35px;}
#ftr_bottom .ftr_bottom_left { width:50%; float:left;}
#ftr_bottom .ftr_bottom_right { width:50%;  float:right;}


.ftr_bottom_right a { font-family:"PFDinDisplayProBold", Arial, Helvetica, sans-serif; font-size:12px; color:#e0dfda; text-transform:uppercase; text-decoration:none; padding:0px; margin-left:10px; float:right;}

.ftr_bottom_right a.twtr01 span,.ftr_bottom_right a.fb01 span,.ftr_bottom_right a.ld01 span { height:20px; width:20px; display:block; float:left; margin-right:5px; margin-top:-4px;}
a.twtr01:hover,a.fb01:hover,a.ld01:hover {color:#9a9a91;}
a.twtr01:active,a.fb01:active,a.ld01:active {color:#5b6363;}

.ftr_bottom_right a.twtr01 span { background:url(/themes/jam3/img/front_images/twtr-icon.png) no-repeat left -20px; }
.ftr_bottom_right a.twtr01:hover span { background-position:left top; }

.ftr_bottom_right a.fb01 span { background:url(/themes/jam3/img/front_images/fb-icon.png) no-repeat left -20px; }
.ftr_bottom_right a.fb01:hover span { background-position:left top; }

.ftr_bottom_right a.ld01 span { background:url(/themes/jam3/img/front_images/in-icon.png) no-repeat left -20px;}
.ftr_bottom_right a.ld01:hover span { background-position:left top;} 


/*-----------------------------------------------
INNER PAGE STYLE START
-------------------------------------------------*/


#inner_wrapper { width:100%; min-width: 1000px; overflow: hidden; }
#inner_wrapper header{ background:url(/themes/jam3/img/front_images/blk-noise-innbg.gif) repeat-x left top; min-height:111px; margin-bottom:-1px;}
#inner_content_wapper {background:#fff url(/themes/jam3/img/front_images/zigzag03.gif) repeat-x left bottom; background-size: 10px 10px; margin-bottom:-3px;  /*height:1700px;*/}

#inner_contaienr { width:980px; margin:0 auto; }
/*#left_colum { width:205px; float:left; /*background:url(/themes/jam3/img/front_images/vr-line02.gif) repeat-y right top; padding:85px 5px 100px 0;} */


/*#left_colum {float: left;padding: 85px 20px 100px 0;width: 170px;} */
#left_colum {
    float: left;
    padding: 89px 20px 100px 0;
    /*85px would be in line with the h1 - why we lower? */
    width: 170px;
}


#middle_colum { width:540px; float:left; /*background:url(/themes/jam3/img/front_images/vr-line02.gif) repeat-y right top;*/ padding:85px 25px 100px 25px;}
.safari .space_s {display:block; height:53px;}

/*#middle_fullcolum { width:730px; float:left; /*background:url(/themes/jam3/img/front_images/vr-line02.gif) repeat-y right top; padding:85px 30px 100px 30px; position:relative;} */

#middle_fullcolum {
    float: left;
    padding: 85px 30px 100px;
    position: relative;
    width: 730px;
}


#middle_fullcolum02 { width:510px; float:left;/*background:url(/themes/jam3/img/front_images/vr-line02.gif) repeat-y right top;*/ padding:85px 40px 100px 40px;}
#right_colum { width:160px; float:right; /*background:url(/themes/jam3/img/front_images/vr-line02.gif) repeat-y right top;*/ padding:85px 20px 100px 20px;}
.online_block{ width:530px !important; padding-right:35px !important;}
#middle_fullcolum aside { width:325px; background:url(/themes/jam3/img/front_images/vr-line02.gif) repeat-y right top; padding:0px 25px 0px 0; float:left; margin-right:35px;}
#middle_fullcolum aside#second { margin-right:0; padding:0; background:none;}
#middle_fullcolum02 aside#aside_full { width:512px;}

.aside_title,.aside_title02,.aside_title03 { font-family:"DIN1451StdEngschrift", Arial, Helvetica, sans-serif; text-transform:uppercase;  }
/*.aside_title { color:#9e1b32; font-size:40px; margin-bottom:16px;} */
.aside_title, .aside_title a, .aside_title a:hover, .aside_title a:active  {color: #9E1B32;font-size: 40px;margin-bottom: 21px;}
.aside_title img {  margin-top: 4px; margin-bottom:5px;}
div.aside_title { margin-top: -4px;}
.aside_title02 { color:#1d1d1d; font-size:27px; margin-bottom:23px;}
.aside_title03 { color:#1d1d1d; font-size:40px; margin-bottom:23px;}

ul.aside_submenu { margin:0; padding:0; list-style:none;}
ul.aside_submenu li { background:url(/themes/jam3/img/front_images/aside-hr-linr.gif) no-repeat left bottom;}
ul.aside_submenu li:last-child { background:none;}
ul.aside_submenu li a { color:#9a9a91; font-family:"PFDinDisplayProMedium", Arial, Helvetica, sans-serif; font-size:14px; display:block; text-decoration:none; padding:8px 0; text-transform:uppercase; }
ul.aside_submenu li a:hover { color:#1d1d1d;}
ul.aside_submenu li a:active { color:#5b6363;}
ul.aside_submenu li a.active { font-family:"PFDinDisplayProBold", Arial, Helvetica, sans-serif; color:#9e1b32;}

#middle_colum p,#middle_fullcolum p,#middle_fullcolum02 p  { font-size:14px; line-height:20px; color:#9a9a91; margin-bottom:12px;}
#middle_colum p.error { color: #fff; }
#middle_colum p.success { color: #fff; }
#middle_colum td { margin: 0; padding: 4px 8px; }
#middle_colum table.mceLayout td { margin: 0; padding: 0; }

.news_text {  font-size:12px; letter-spacing:1px; line-height:16px; text-transform:uppercase; background:url(/themes/jam3/img/front_images/zigzag-sml.gif) no-repeat left bottom; padding-bottom:18px; margin-bottom:18px; cursor:default;}

.news_text a{color: #5B6363;}
.news_text p {font-family:"AdobeCaslonProBold", Georgia, Times New Roman, Times, serif; color:#5b6363; margin-bottom:3px;}
.news_text p:hover { color:#9a9a91;}
.news_text p:active { color:#1d1d1d;}
.news_text:hover .readmore02 { background-position:left -16px;}
.news_text:active .readmore02{ background-position:left -32px;}

.event_text {  background:url(/themes/jam3/img/front_images/zigzag-sml.gif) no-repeat left bottom; padding-bottom:18px; margin-bottom:18px; cursor:default;}
.event_text p {font-family:"AdobeCaslonProRegular", Georgia, Times New Roman, Times, serif; color:#9a9a91; font-size:14px; line-height:20px;}
.event_text span { color:#5b6463; font-family:"PFDinDisplayProMedium", Arial, Helvetica, sans-serif; font-size:13px; margin-bottom:3px; text-transform:uppercase; display:block;}
.event_text:hover p { color:#5b6463;}
.event_text:active p { color:#1d1d1d;}
.event_text:hover .readmore_arw { background-position:left -16px;}
.event_text:active .readmore_arw{ background-position:left -32px;}

.link02 { background:url(/themes/jam3/img/front_images/readmore03.gif) no-repeat right top; color:#9e1b32; text-transform:uppercase; font-family:"DINPro-Medium", Arial, Helvetica, sans-serif; font-size:12px; height:14px; padding-right:17px; text-decoration:none; line-height:normal;}
.link02:hover { background-position:right -16px; color:#303030;}
.link02:active { background-position:right -32px; color:#787a6f;}

.link002 { background:url(/themes/jam3/img/front_images/readmore03.gif) no-repeat right 4px; color:#9e1b32; font-family:"DINPro-Medium", Arial, Helvetica, sans-serif; font-size:14px; height:14px; padding-right:17px; text-decoration:none; line-height:normal; letter-spacing:0.5px; overflow:hidden}
.link002:hover { background-position:right -12px; color:#303030;}
.link002:active { background-position:right -28px; color:#787a6f;}

.link03 { background:url(/themes/jam3/img/front_images/readmore03.gif) no-repeat right top; color:#9e1b32; text-transform:uppercase; font-family:"PFDinDisplayProBold", Arial, Helvetica, sans-serif; font-size:12px; height:14px; padding-right:17px; text-decoration:none; line-height:normal;}
.link03:hover { background-position:right -16px; color:#303030;}
.link03:active { background-position:right -32px; color:#787a6f;}

#middle_colum ul,#middle_fullcolum ul, div#news_desc ul { margin:0 0 10px 0; padding:0; list-style:none;}
#middle_colum li,#middle_fullcolum li, div#news_desc ul li { background:url(/themes/jam3/img/front_images/ul-blt.gif) no-repeat left 3px; color:#9A9A91; font-family:"DINPro-Regular", Arial, Helvetica, sans-serif; font-size:14px; padding-left:17px; padding-bottom:8px;}
#middle_colum li,#middle_fullcolum li, div#news_desc ul li, div#content_desc ul li {margin:0 !important; line-height:14px !important;}

#middle_colum a.red_btn,#middle_fullcolum a.red_btn{ float:right !important;}
#middle_colum a {
	/*
	background:url(/themes/jam3/img/front_images/readmore03.gif) no-repeat right top;
	color:#9e1b32;
	text-transform:uppercase;
	font-family:"DINPro-Medium", Arial, Helvetica, sans-serif;
	font-size:12px;
	height:14px;
	padding-right:17px;
	text-decoration:none;
	line-height:normal;
	*/
}
#middle_colum a:hover { background-position:right -16px; color:#303030;}
#middle_colum a:active { background-position:right -32px; color:#787a6f;}
#middle_colum p a, #middle_colum p a:hover { background-image: none; padding-right: 0px; } 

#middle_colum a.red_btn,#middle_fullcolum a.red_btn{ 
	float:right !important;
	background: url("/themes/jam3/img/front_images/red-btn-left.png") no-repeat scroll left top transparent;
    color: #E0DFDA;
    cursor: pointer !important;
    float: left;
    font-size: 12px;
    height: 30px;
    margin-right: 23px;
    padding: 0 10px 0 15px;
    text-decoration: none;
    text-transform: uppercase;
}

#middle_colum a.red_btn:hover, #middle_fullcolum a.red_btn:hover {
    background: url("/themes/jam3/img/front_images/red-btn-left.png") no-repeat scroll left top transparent;
    color: #E0DFDA;
	background-position: left -30px;
	
}
#middle_colum a.red_btn:active { background-position:right -32px; color:#E0DFDA; background-position: left -60px;}

.addnew_story { font-family:"DINPro-Regular", Arial, Helvetica, sans-serif; color:#9a9a91; font-size:13px; line-height:16px; margin-bottom:15px;}
.addnew_story span { font-family:"PFDinDisplayProBold", Arial, Helvetica, sans-serif; color:#5b6363; text-transform:uppercase; display:block; font-size:17px; margin-bottom:2px;}

.aside_hrline { background:url(/themes/jam3/img/front_images/aside-hr-linr.gif) no-repeat left top; margin:15px 0 25px 0; height:1px;}

ul.aside_archives { margin:0 0 25px 0; padding:0; list-style:none;}
ul.aside_archives li { background:url(/themes/jam3/img/front_images/aside-hr-linr.gif) no-repeat left bottom;}
ul.aside_archives li a { font-family:"PFDinDisplayProBold", Arial, Helvetica, sans-serif; color:#9e1b32; font-size:14px; display:block; text-decoration:none; padding:8px 0; text-transform:uppercase; }
ul.aside_archives li a:hover { color:#5b6463;}
ul.aside_archives li a.non_link:hover { color:#9e1b32;}
ul.aside_archives li a.active { color:#1d1d1d;}

/*aside #slides { height:18px; overflow:hidden;}
aside #slides .slides_container { width:55px !important; margin-left:15px;}
aside #slides .slides_container a { font-family:"PFDinDisplayProBold", Arial, Helvetica, sans-serif; color:#9a9a91; text-decoration:none; margin:0 10px !important; display:inline-block; font-size:20px;}
aside #slides a.prev { background:url(/themes/jam3/img/front_images/readmore02-left.gif) no-repeat left top; height:16px; width:14px; display:block; float:left; margin-top:-17px; text-indent:-5555px;}
aside #slides a.prev:hover { background-position:left -16px;}
aside #slides a.prev:active { background-position:left -32px;}
aside #slides a.next { background:url(/themes/jam3/img/front_images/readmore02.gif) no-repeat left top; height:16px; width:14px; display:block; float:right; margin-top:-17px; text-indent:-5555px; margin-right:115px;}
aside #slides a.next:hover { background-position:left -16px;}
aside #slides a.next:active { background-position:left -32px;}*/


.list_carousel { position:relative;}
.list_carousel ul { height:20px !important; margin-top:-2px !important;}
.list_carousel img { position:absolute; right:0; top:0; z-index:11;}
aside #foo2 { height:18px; overflow:hidden;}
aside #foo2  {  margin-left:15px;}
aside #foo2 li:first-child { margin-right:20px;}
aside #foo2 li { display:inline; margin:0 16px 0 5px;  }
aside #foo2 a { font-family:"PFDinDisplayProRegular", Arial, Helvetica, sans-serif; color:#9a9a91; text-decoration:none; margin:0 !important; display:inline-block; font-size:20px;}

aside #foo2 li:first-child a { color:#9a9a91; text-decoration:none; margin:0 !important; display:inline-block; font-size:20px; cursor:default;}

aside .list_carousel a.prev01:hover { background-position:left -16px;}
aside .list_carousel a.prev01:active { background-position:left -32px;}


aside .list_carousel a.next01:hover { background-position:left -16px;}
aside .list_carousel a.next01:active { background-position:left -32px;}

aside .list_carousel a.prev { 
background:url(/themes/jam3/img/front_images/readmore02-left.gif) no-repeat left top; 
height:15px; 
width:14px; 
display:block; 
float:left; 
position:absolute; 
top:1px; 
left:0; 
text-indent:-5555px;
}

aside .list_carousel a.prev:hover { background-position:left -16px;}
aside .list_carousel a.prev:active { background-position:left -32px;}

aside .list_carousel a.next { 
background:url(/themes/jam3/img/front_images/readmore02.gif) no-repeat left top; 
height:15px; 
width:14px; 
display:block; 
float:right; 
position:absolute; 
top:1px; 
right:0;
text-indent:-5555px;
margin-right:88px;
z-index:11;
}

aside .list_carousel a.next01 {
    background: url("/themes/jam3/img/front_images/readmore02.gif") no-repeat scroll left top transparent;
    display: block;
    float: right;
    height: 15px;
    position:absolute; 
    top:1px; 
    right:90px;
    text-indent: -5555px;
    width: 14px;
    z-index: 11;
}


aside .list_carousel a.prev01 {
    background: url("/themes/jam3/img/front_images/readmore02-left.gif") no-repeat scroll left top transparent;
    display: block;
    float: left;
    height: 15px;
    position:absolute; 
    top:1px; 
    left:0;
    text-indent: -5555px;
    width: 14px;
}

.mac.chrome aside .list_carousel a.prev01 {top:0;}
.mac.chrome aside .list_carousel a.next01 {top:0;}

.red_btn span {
    background: url("/themes/jam3/img/front_images/red-btn-right.gif") no-repeat scroll right top transparent;
    float: left;
    font-family: "PFDinDisplayProBold",Arial,Helvetica,sans-serif;
    height: 21px;
    margin-right: -32px;
    padding: 9px 32px 0 0;
}



.mac.gecko aside #slides a.next { margin-right:112px;}
.mac.chrome aside #slides a.next { margin-right:112px;}
.mac.safari aside #slides a.next { margin-right:112px;}

.badcrum { background:url(/themes/jam3/img/front_images/dotline-big.gif) no-repeat left bottom; padding:0 0 20px 0; margin-bottom:20px; vertical-align:middle;}
.badcrum a { font-size:13px; background:url(/themes/jam3/img/front_images/badcrum-devider.gif) no-repeat right 3px; padding-right:10px; font-family:"PFDinDisplayProBold", Arial, Helvetica, sans-serif; text-transform:uppercase; color:#9e1b32; margin-left:10px; margin-right:10px; text-decoration:underline;}
.badcrum .reddot { background:url(/themes/jam3/img/front_images/reddot.gif) no-repeat left -3px; height:10px; width:2px; display:inline-block; }
.badcrum a:last-child { background:none;}
.badcrum a:hover { color:#1d1d1d;}
.badcrum a:active { color:#999a92;text-decoration:none;}
.badcrum a.all { color:#9a9a91; text-decoration:none;}
.badcrum a.all:hover { color:#5a6362;}
.badcrum a.all:active { color:#9e1b32;}

article { background:url(/themes/jam3/img/front_images/zigzag-sml-dark.gif) no-repeat left bottom; padding-bottom:20px; margin-bottom:25px; cursor:default;}
article span.date,article a.title,article span.title { font-family:"AdobeCaslonProRegular", Georgia, Times New Roman, Times, serif; display:block; margin-bottom:5px;}
article span.date { color:#5b6363; font-size:16px; }
article a.title,article span.title { color:#1d1d1d; font-size:35px; }
article img {border:6px solid #fff; margin:5px 0 15px 0;}
p span.highlight01 { font-family:"DINPro-Medium",Arial,Helvetica,sans-serif; color:#5b6363;} 
.bot_bgnone{ background:none;}

article span.author_writing { font-family:"AdobeCaslonProItalic",Georgia,Times New Roman,Times,serif; color:#1d1d1d; font-size:30px;}
article .author_sign { background:url(/themes/jam3/img/front_images/man-icon2.png) no-repeat left 7px; padding-left:0; font-family:"PFDinDisplayProLight", Arial, Helvetica, sans-serif; font-size:14px; line-height:normal; margin-top:10px; color:#9a9a91;}
article .author_sign span {font-family:"PFDinDisplayProRegular", Arial, Helvetica, sans-serif; color:#5b6363; font-size:18px; display:block; padding-left:13px;}



article span.author_writing a { font-family:"AdobeCaslonProItalic",Georgia,Times New Roman,Times,serif; color:#1d1d1d; font-size:30px;}
article span.author_writing a:hover { color:#9E1B32; }


article span.author_writing a:active { color:#5A6264; }
article span.author_writing:active { color:#5A6264;}


article:hover span.date,article:hover a.title{ color:#9a9a92;}
article:hover img { border:6px solid #9d1c32; }
article:hover a.readmore02 { background-position:left -16px;}


#aside_full a.red_btn { float:right;}

#aside_full article img { border:none;}
#aside_full article:hover img { border:none; }
#aside_full article:hover p {color:#9a9a91 !important;}
#aside_full article:hover span.date { color:#5b6363;}

#aside_full article { background:url(/themes/jam3/img/front_images/zigzag-red-sml.gif) no-repeat left bottom; padding-bottom:20px; margin-bottom:25px; cursor:default;}

.college_name { font-family:"PFDinDisplayProMedium", Arial, Helvetica, sans-serif; font-size:18px; color:#5b6363; display:block; margin-bottom:35px; }

article:active a.title{ color:#5a6264;}
article:active img { border:6px solid #5a6264; }
article:active a.readmore02 { background-position:left -32px;}
article:active p {}


#rss_link { position:absolute; top:85px; right:40px; z-index:1; margin-top:5px;}
#rss_link a.rss_icon {  background:url(/themes/jam3/img/front_images/rss-icon.png) no-repeat left top; width:45px; height:30px; display:block; position:relative; float:left; padding:0;}
#rss_link a.rss_icon:hover{ background-position:1px bottom;}
#rss_link a.rss_icon_open {background:url(/themes/jam3/img/front_images/rss-icon.png) no-repeat 1px top; width:45px; height:30px; display:block; position:relative; background-position:1px bottom;}
#rss_link { background:url(/themes/jam3/img/front_images/rss-open.png) no-repeat 13px 10px #9a9a92; border-radius:15px; -webkit-border-radius:15px; -moz-border-radius:15px; display:inline-block; padding:0px 10px 15px 0px; vertical-align:top;  height:15px; overflow:hidden;}
#rss_link a { background:url(/themes/jam3/img/front_images/rss-devider.gif) no-repeat right 6px; font-family:"PFDinDisplayProBold", Arial, Helvetica, sans-serif; font-size:10px;  color:#f5f4f0; display:inline-block; vertical-align:middle; margin:0px;text-transform:uppercase; line-height:25px; padding:2px 6px 0 5px; display:inline-block; float:left}
#rss_link a:last-child { background:none;}
#rss_link a:hover { color:#5b6363;} 

@media screen and (-webkit-min-device-pixel-ratio:0)
{	
.rss_link { padding:5px 10px 11px 40px;}
#middle_fullcolum,#middle_fullcolum02  { height:auto !important;  }
}


.back_link { background:url(/themes/jam3/img/front_images/readmore02-left.gif) no-repeat left 0px; height:16px; display:block; padding-left:20px; color:#9a9a91; font-family:"PFDinDisplayProMedium", Arial, Helvetica, sans-serif; font-size:14px; text-transform:uppercase;}
.back_link:hover { background-position:left -16px; color:#1d1d1d;}
.back_link:active { background-position:left -32px; color:#5b6463;}

.title_sml { font-family:"PFDinDisplayProMedium", Arial, Helvetica, sans-serif; font-size:16px; display:block; color:#5b6363; }
.title02_sml { font-family:"DINPro-Medium",Arial,Helvetica,sans-serif; font-size:18px; display:block; color:#5b6363; text-transform:uppercase;}

ul.numeric_ul { list-style:none; margin-bottom:15px;}
ul.numeric_ul li { color:#9d1c32; font-family:"PFDinDisplayProMedium", Arial, Helvetica, sans-serif;}
ul.numeric_ul li p{ font-family:"PFDinDisplayProRegular", Arial, Helvetica, sans-serif; font-size:14px; line-height:20px; color:#9a9a91; display:inline;}

ul.red_bullet { list-style:none; margin-bottom:15px;}
ul.red_bullet li { background:url(/themes/jam3/img/front_images/red-blt.gif) no-repeat left 7px; font-family:"PFDinDisplayProRegular", Arial, Helvetica, sans-serif; font-size:14px; line-height:20px; color:#9a9a91; padding-left:15px;}

article ul.red_bullet { list-style:none; margin:15px 0!important;}
article ul.red_bullet li { background:url(/themes/jam3/img/front_images/red-blt.gif) no-repeat left 7px!important; font-family:"DINPro-Regular", Arial, Helvetica, sans-serif!important; font-size:14px!important;; line-height:20px; color:#9a9a91 !important; padding-left:15px !important;}

.aside_form { width:47% !important; float:left !important;  background:none !important; padding:0px !important; margin:0px !important;}
.aside_form article { background:none !important; padding-bottom:0;}
.aside_form .form_title { font-family:"DIN1451StdEngschrift", Arial, Helvetica, sans-serif; font-size:27px; color:#5b6363; text-transform:uppercase; line-height:28px; display:block; margin-bottom:20px; position: relative; top:5px;}
.aside_form .form_subtitle { color:#1d1d1d; font-family:"PFDinDisplayProBold", Arial, Helvetica, sans-serif; text-transform:uppercase; font-size:13px; display:block; margin:20px 0 7px 0;}
.aside_form .form_subtitle b { font-weight:normal; color:#9a9a91; font-size:11px;}
.aside_form .bot_space{ margin-bottom:10px;}
.aside_form article p { line-height:20px; font-size:14px;}

.school_affi {position:relative; background:url(/themes/jam3/img/front_images/dotline2.gif) no-repeat left bottom; padding-bottom:20px; margin:35px 0 20px 0; height: 110px;}
.school_affi p { line-height:14px !important; font-size:12px !important;}

.upload_photo { background:url(/themes/jam3/img/front_images/dotline2.gif) no-repeat left bottom; padding-bottom:14px; margin:35px 0 20px 0;}
.upload_photo p { line-height:14px !important; font-size:12px !important;}
#file_upload { margin-top: 19px; }

/*--------------------
FORM STYLE START
----------------------*/


.date_position .dk_options_inner li a, .school_affi .dk_options_inner li a {
padding-left:14px; padding-top:4px;padding-bottom:4px;
}
#dk_container_v_subject li a{
padding-left:14px; padding-top:4px;padding-bottom:4px;
}


.form_field  { margin:20px 0;}

.form_field input[type=text] {border-width:0 0 1px 0;  -webkit-border-radius:none;}
.form_field textarea {border-width:0 0 0 0; resize: none; background:url(/themes/jam3/img/front_images/textare-line.gif) repeat left top; line-height:20px; float:right;  color: #5B6363;
    font-family: "PFDinDisplayProRegular",Arial,Helvetica,sans-serif;
    font-size: 13px;}

.fname,.sname,.lname,.phone,.email,.title,.url,.story,.cwid,.bama,.pnumber,.extension,.eadd,.confeadd,.companyname,.position,.degrees,.pullquote 
{ margin-bottom:10px;}


.date_position{margin-bottom: 30px;}
.fname label,.sname label,.lname label,.phone label,.email label,.title label,.url label,.story label,.message label,.cwid label,.bama label,.pnumber label,.extension label,.eadd label,.confeadd label,.companyname label,.position label,.degrees label,.date_position label,.pullquote label
{ font-family:"PFDinDisplayProBold", Arial, Helvetica, sans-serif; font-size:13px; color:#9a9a91; text-transform:uppercase; display:inline-block;  margin-top:8px; float:left; margin-right:10px; /*cursor:pointer;*/}

.date_position label { float:none !important;}

/*.fname:hover label,.sname:hover label,.lname:hover label,.phone:hover label,.email:hover label,.title:hover label,.url:hover label,.story:hover label,.message:hover label,.cwid:hover label,.bama:hover label,.pnumber:hover label,.extension:hover label,.eadd:hover label,.confeadd:hover label,.companyname:hover label,.position:hover label ,.degrees:hover label,.date_position:hover label,.pullquote:hover label  
{ color:#5b6363;}*/

/*
.fname:hover input[type=text],.sname:hover input[type=text],.lname:hover input[type=text],.phone:hover input[type=text],.email:hover input[type=text],.title:hover input[type=text],.url:hover input[type=text],.story:hover textarea,.message:hover textarea,.cwid:hover input[type=text],.bama:hover input[type=text],.pnumber:hover input[type=text],.extension:hover input[type=text],.eadd:hover input[type=text],.confeadd:hover input[type=text],.companyname:hover input[type=text],.position:hover input[type=text],.degrees:hover input[type=text],.pullquote textarea
{ border-bottom:1px dotted #5b6363;}

.fname input[type=text],.sname input[type=text],.lname input[type=text],.phone input[type=text],.email input[type=text],.title input[type=text],.url input[type=text],.story textarea,.message textarea,.cwid input[type=text],.bama input[type=text],.pnumber input[type=text],.extension input[type=text],.eadd input[type=text],.confeadd input[type=text],.companyname input[type=text],.position input[type=text],.degrees input[type=text],.date_position input[type=text],.pullquote textarea
{ border-bottom:1px dotted #9a9a91; float:right; font-family:"PFDinDisplayProRegular", Arial, Helvetica, sans-serif; font-size:13px; color:#5b6363;}

.form_field input[type=text]:focus,.form_field textarea:focus { color:#5b6363 !important;  border-bottom:1px dotted #5b6363;}
*/

/*ab 23*/
.fname:hover input[type=text],.sname:hover input[type=text],.lname:hover input[type=text],.phone:hover input[type=text],.email:hover input[type=text],.title:hover input[type=text],.url:hover input[type=text],.cwid:hover input[type=text],.bama:hover input[type=text],.pnumber:hover input[type=text],.extension:hover input[type=text],.eadd:hover input[type=text],.confeadd:hover input[type=text],.companyname:hover input[type=text],.position:hover input[type=text],.degrees:hover input[type=text]
{background:url(/themes/jam3/img/front_images/input-dotline-hover.gif) repeat-x left bottom;}


.fname input[type=text],.sname input[type=text],.lname input[type=text],.phone input[type=text],.email input[type=text],.title input[type=text],.url input[type=text],.story textarea,.cwid input[type=text],.bama input[type=text],.pnumber input[type=text],.extension input[type=text],.eadd input[type=text],.confeadd input[type=text],.companyname input[type=text],.position input[type=text],.degrees input[type=text],.date_position input[type=text]
{ background:url(/themes/jam3/img/front_images/input-dotline.gif) repeat-x left bottom; float:right; font-family:"PFDinDisplayProRegular", Arial, Helvetica, sans-serif; font-size:13px; color:#5b6363;}

.form_field input[type=text]:focus { color:#5b6363 !important;  background:url(/themes/jam3/img/front_images/input-dotline-hover.gif) repeat-x left bottom;}
/*ab 23*/

/*.fname label { width:85px; }*/
.fname input[type=text] { width:235px;}

/*.sname label { width:100px;}*/
.sname input[type=text] { width:233px;} 

/*.lname label { width:100px;}*/
.lname input[type=text] { width:243px;}

.lname.exdesignation input[type=text] { width:275px;}

/*.phone label { width:55px;}*/
.phone input[type=text] { width:265px;}

/*.email label { width:50px;}*/
.email input[type=text] { width:270px;} 

/*.title label { width:45px;}*/
.title input[type=text] { width:275px;}

/*.url label { width:37px;}*/
.url input[type=text] { width:279px;}

/*.story label { width:53px;}*/
.story textarea { width:290px; height:58px;}

/*.message label { width:53px;}*/
.message textarea { width:250px; height:118px;}

.pullquote textarea { width:273px; height:60px; overflow:auto; }

.cwid input[type=text] { width:295px;}

.bama input[type=text] { width:275px;}

.pnumber input[type=text]{ width:230px;}

.extension input[type=text]{ width:260px;}

.eadd input[type=text]{ width:230px;}

.confeadd input[type=text]{ width:176px;}

.companyname input[type=text] { width:210px;} 

.position input[type=text] { width:520px;}

.degrees input[type=text] { width:630px;}


@media screen and (-webkit-min-device-pixel-ratio:0)
{	
	.story textarea { width:275px; height:54px;}
	.message textarea { width:250px; height:114px; margin-bottom:7px;}
	.pullquote textarea { width:268px; height:60px;} 
}

/*-------------------------------
 	iPad Speciific Style Start
---------------------------------*/

@media only screen and (device-width: 768px) {
	/* For general iPad layouts */
 
	.form_field input,.form_field textarea { -webkit-border-radius:0; border-radius:0;}
		
	.fname input[type=text] { width:235px;}
	.sname input[type=text] { width: 220px;}
	.lname input[type=text] { width:233px;}
	.lname.exdesignation input[type=text] { width:265px;}
	.phone input[type=text] { width:266px;}
	.email input[type=text] { width:270px;}
	.title input[type=text] { width:273px;}
	.url input[type=text] { width:275px;}
	.message textarea { width:262px; height:98px;}
     
}


.mac.ipad.sname input[type="text"] {
    width: 225px;
	background:#000;
}

.mac.gecko .message textarea {
height:120px;
width:250px;
}

.mac.chrome .message textarea,.mac.safari .message textarea {
height:117px;
width:250px;
}

/*-------------------------------*/

.error label { color:#9e1b32;}
.error input { border-bottom:1px dotted #9e1b32 !important;}

.error_msg, .thanku_msg  { color:#9e1b32; font-size:14px; font-family:"DINPro-Regular",Arial,Helvetica,sans-serif; display:inline-block; margin-top:23px; margin-left:10px; }
/*
.thanku_msg { color:#000000; font-size:16px; font-family:"DINPro-Regular",Arial,Helvetica,sans-serif; display:inline-block; margin-top:23px; 
 margin-left: 15px;}*/

.upload_img { border:#e0dfda 3px solid; float:left; margin-right:10px;}

.gdot_line { border-top:1px dotted #e0dfda; display:block; height:1px; margin:50px 0; }

.submit_btn { 
    background:url(/themes/jam3/img/front_images/submit-btn.png) no-repeat left top; height:30px; width:92px; border:none; cursor:pointer; margin-top:15px;}
.submit_btn:hover { background-position:left -30px;}
.submit_btn:active { background-position:left -60px;}


ul.accordion { list-style:none;}
ul.accordion li { background-position:-5555px top !important; padding-left:0; padding-left:0 !important;} 
.accordionButton a {	
	font-family:"AdobeCaslonProRegular", Georgia, Times New Roman, Times, serif;
	font-size:35px;
	color:#5b6363;
	border: 3px solid #e0dfda;
	cursor: pointer;
	padding:28px 20px;
	background:url(/themes/jam3/img/front_images/acco-default.png) no-repeat 97% 18px;
	display:block;
	}
.accordionButton a:hover {	
	font-family:"AdobeCaslonProRegular", Georgia, Times New Roman, Times, serif;
	font-size:35px;
	color:#1e1e1e;
	border: 3px solid #999a92;
	cursor: pointer;
	padding:28px 20px;
	background:url(/themes/jam3/img/front_images/acco-hover.gif) no-repeat 97% 18px;
	display:block;
	}	
li.active .accordionButton a {	
	font-family:"AdobeCaslonProRegular", Georgia, Times New Roman, Times, serif;
	font-size:35px;
	color:#5b6363;
	border: 3px solid #e0dfda;
	cursor: pointer;
	padding:28px 20px;
	background:#e0dfda url(/themes/jam3/img/front_images/acco-open.png) no-repeat 97% 18px;
	}	 

.accordionContent { background:#e0dfda; padding:0 25px 15px 25px; }
.accordionContent .title { font-family:"AdobeCaslonProRegular", Georgia, Times New Roman, Times, serif; color:#5b6363; font-size:35px; display:block; margin-bottom:15px;}
.accordionContent .insidbox { width:100%; padding-bottom:10px;}
.accordionContent .insidbox .subbox { width:320px; float:left; display:block;}
.accordionContent .insidbox .subbox ul { margin-top: 0px !important; }
.accordionContent .insidbox .subtitle01 { font-family:"DINPro-Medium", Arial, Helvetica, sans-serif; font-size:16px; color:#1d1d1d; display:block; margin-bottom: 10px; }

.insidbox ul { margin:10px 0 !important; padding:0; list-style:none;}
.insidbox li span{ background:url(/themes/jam3/img/front_images/red-blt.png) no-repeat left 7px !important; padding-left:15px !important; color:#9e1b32 !important; font-size:14px; font-family:"DINPro-Medium", Arial, Helvetica, sans-serif; text-transform:uppercase;  display:block; line-height:20px;}
.insidbox li  { background:none!important; color:#5b6363 !important; font-family:"DINPro-Regular", Arial, Helvetica, sans-serif !important; font-size:14px; padding-left:0!important; text-transform:none !important;}

.dotline_big { background:url(/themes/jam3/img/front_images/dotline-big.gif) no-repeat left bottom; padding:0 0 20px 0; margin-bottom:20px; height:1px;}

.faculties_photo { margin:10px 0 30px 0}
.faculty_photo { width:138px; float:left; margin-right:9px; position:relative;}
.faculty_photo_last { width:140px; float:left; margin-right:0px; position:relative;}

.facultygoto img{ border:6px solid #e0dfda; margin-bottom:10px;}
.facultygoto:hover img { border:6px solid #9e1b32;}
.facultygoto:active img { border:6px solid #5b6363;}
.facultygoto:hover .photo_onHover{ background:#dfded9; opacity:0.8; filter:alpha(opacity=80); width:124px; height:136px; position:absolute; top:6px; left:6px;  cursor:pointer;}  
.onHover { display:none; visibility:hidden; position:absolute; top:70px; left:20px; z-index:1; cursor:pointer;}
.facultygoto:hover .onHover { display:block; visibility:visible;}
.facultygoto:hover a.link02 { background-position:right top; color:#9e1b32;}
.facultygoto:active a.link02{ background-position:right -16px; color:#1d1d1d;}
.facultygoto .designation { font-family:"PFDinDisplayProBold", Arial, Helvetica, sans-serif; font-size:12px; color:#9a9a91; text-transform:uppercase; display:block; margin:5px 0;}
.facultygoto .name {word-wrap: break-word; font-family:"AdobeCaslonProRegular", Georgia, Times New Roman, Times, serif; color:#1d1d1d; font-size:27px; display:block; margin:10px 0;}
.facultygoto:hover .designation { color:#9a9a91;}
.facultygoto:hover .name{ color:#5b6363;}
.facultygoto:active .name{ color:#a0a297;}
.facultygoto:hover a.link03 { background-position:right -16px; color:#1d1d1d;}
.facultygoto:active a.link03 { background-position:right -32px; color:#5c6564;}

div.doublecol, article.doublecol {
  -moz-column-count: 2;
  -moz-column-gap: 39px;
  -webkit-column-count: 2;
  -webkit-column-gap: 39px;
  column-count: 2;
  column-gap: 39px;
  margin-bottom:18px;
}/**/

.red_fac {
	 background-image:  url(/themes/jam3/img/red_fac_arrow.jpg) ;
	 background-repeat: no-repeat;
	 width:19px;
	 padding-left:20px;
	 height:19px;
	
}
        	


.add_block { width:165px; float:left; margin-right:15px; position: relative; min-height: 210px; height:auto; }
.add_block .line01 {font-family:"PFDinDisplayProBold", Arial, Helvetica, sans-serif; font-size:12px; color:#9a9a91; text-transform:uppercase; display:block; margin-bottom:18px;}
.add_block .line02 {font-family:"AdobeCaslonProRegular", Georgia, Times New Roman, Times, serif; font-size:25px; color:#1d1d1d; display:block; margin-bottom:5px;}
.add_block .line03 {font-family:"DINPro-Regular", Georgia, Times New Roman, Times, serif; font-size:14px; color:#9a9a91; display:block; margin-bottom:5px; line-height:20px;} 
.add_block .link02 { bottom: 0; left: 0; }


.bigtext { font-family:"DINPro-Regular", Georgia, Times New Roman, Times, serif; color:#9a9a91; font-size:20px; line-height:22px; display:block; margin-bottom:10px;}

.bgContent { background:#e0dfda; padding:0 25px 25px 25px; margin-bottom:25px;}
.bgContent .title { font-family:"AdobeCaslonProRegular", Georgia, Times New Roman, Times, serif; color:#5b6363; font-size:42px; display:block; margin-bottom:15px;}
.bgContent .insidbox { width:100%; }
.bgContent .insidbox .subbox { width:320px; float:left; display:block;}
.bgContent .insidbox .subtitle01 { font-family:"DINPro-Medium", Arial, Helvetica, sans-serif; font-size:16px; color:#1d1d1d; display:block;}

.bgContent .insidbox ul { margin:10px 0 !important; padding:0; list-style:none;}
.bgContent .insidbox li { background:url(/themes/jam3/img/front_images/red-blt.png) no-repeat left 4px !important; padding-left:15px !important; color:#9e1b32 !important; font-size:14px; font-family:"DINPro-Medium", Arial, Helvetica, sans-serif; text-transform:uppercase; }
.bgContent .insidbox li.odd { background:none!important; color:#5b6363 !important; font-family:"DINPro-Regular", Arial, Helvetica, sans-serif !important; font-size:14px; padding-left:0!important; text-transform:none !important;}

.bgContent .heading02 {	
	font-family:"AdobeCaslonProRegular", Georgia, Times New Roman, Times, serif;
	font-size:42px;
	color:#5b6363;
	border: 3px solid #e0dfda;
	padding:15px 0 0 0px;
	text-transform:capitalize;
	}	 

.hinttext2 { font-size:12px; color:#9a9a91; font-family:"DINPro-Regular", Arial, Helvetica, sans-serif ; margin-top:10px;}	

.aside_content { width:47% !important; float:left !important;  background:none !important; padding:0px !important; margin:0px !important;}
.que { color:#5b6363; font-size:24px; font-family:"AdobeCaslonProRegular", Georgia, Times New Roman, Times, serif; display:block; margin-bottom:15px;}
.answer b { font-family:"DINPro-Medium", Arial, Helvetica, sans-serif; color:#9e1b32; font-weight:normal;}


.space{ display:block; height:130px;}
.space2{ display:block; height:30px;}

#half_left  { width:475px; float:left; padding:85px 15px 30px 0px; /*background:url(/themes/jam3/img/front_images/vr-line02.gif) repeat-y right top;*/ }
#half_right { width:475px; float:right; padding:85px 0px 0 15px;}

#half_left #event_calender { background:url(/themes/jam3/img/front_images/dotline3.gif) no-repeat left bottom; padding-bottom:20px; margin-bottom:20px; margin-left:0;}
#half_left .datepickerViewDays { border-bottom:1px dotted #deddd8;}

.event_entry { background:url(/themes/jam3/img/front_images/dotline3-2.gif) no-repeat left bottom; padding-bottom:25px; margin-bottom:30px; cursor:default;}
.event_entry:last-child { background:none; margin-bottom:10px !important;}
.event_entry .event_date_block { background:#9a9a91; height:64px; width:64px; float:left; margin-right:18px; margin-top:4px; padding:8px;}
.event_date_block .entry_time { font-family:"PFDinDisplayProBold", Arial, Helvetica, sans-serif; color:#e0dfda; font-size:11px;}
.event_date_block .entry_date span { font-family:"PFDinDisplayProMedium", Arial, Helvetica, sans-serif; color:#e0dfda; font-size:11px; text-transform:uppercase; display:block; line-height:15px;}
.event_date_block .entry_date { font-family:"PFDinDisplayProMedium", Arial, Helvetica, sans-serif; color:#e0dfda; font-size:48px; text-align:right; line-height:38px;}

.event_entry .event_entry_text { width:360px; float:left; font-family:"AdobeCaslonProBold", Georgia, Times New Roman, Times, serif; color:#5b6363; font-size:15px; letter-spacing:1px; line-height:19px; text-transform:uppercase; font-weight:normal;}
.event_entry .event_entry_text p { font-size:14px; color:#9a9a91; font-family:"DINPro-Regular", Arial, Helvetica, sans-serif; letter-spacing:normal; text-transform:none; line-height:15px;}

.event_entry:hover .event_date_block { background:#5b6463;}
.event_entry:active .event_date_block { background:#9f1b32;}
.event_entry:hover .event_entry_text { color:#5b6463;}
.event_entry:active .event_entry_text { color:#5b6463;}
.event_entry:hover .event_entry_text p { color:#5b6463;}
.event_entry:hover .readmore02 { background-position:left -16px;}
.event_entry:active .readmore02 { background-position:left -32px;}

#event_entry_block {}
.entry_date_block { width:140px; float:left;}
.entry_date_block .event_date_time { background:#9e1b32; height:122px; color:#fff; padding:15px 8px 3px 10px;}
.entry_date_block .event_date_time .time { font-family:"PFDinDisplayProBold", Arial, Helvetica, sans-serif; font-size:16px; color:#e0dfda;}
.entry_date_block .event_date_time .time small { font-family:"PFDinDisplayProRegular", Arial, Helvetica, sans-serif; font-size:10px;}
.entry_date_block .event_date_time .date { font-family:"PFDinDisplayProMedium", Arial, Helvetica, sans-serif; text-transform:uppercase;font-size:14px; display:block; margin-top:15px; text-align:center; float:right; margin-top:17px; color:#e0dfda;}
.entry_date_block .event_date_time .date span {  font-family:"PFDinDisplayProMedium", Arial, Helvetica, sans-serif; color:#e0dfda; font-size:87px; display:block; line-height:70px;}

.entry_date_block .title {}

.height20 { height:20px;}
.height30 { height:30px;}
.height40 { height:40px;}
.dotline { background:url(/themes/jam3/img/front_images/dotline3.gif) no-repeat left top; padding-top:25px; }

.blockby2 { background:url(/themes/jam3/img/front_images/dotline4-2.gif) no-repeat left bottom; padding-bottom:20px; margin-bottom:20px;}
.blockby2 article { width:47% !important; float:left !important;  background:none !important; padding:0px !important; margin:0px !important;}
.blockby2 article p { margin-top:15px !important; }

.faculty_info { margin-bottom:30px;}
.profile_pic { width:240px; height:300px;  float:left; margin-right:20px;}
.profile_pic img { border:10px solid #e0dfda;}
.profile_detail { width:470px; float:left;}

.title04 {  font-family:"AdobeCaslonProRegular", Georgia, Times New Roman, Times, serif; color:#1d1d1d; font-size:56px; display:block; margin-bottom:15px;}
.line04 { font-family:"DINPro-Medium", Arial, Helvetica, sans-serif; font-size:14px; color:#9a9a91; text-transform:uppercase; display:block;}

.profile_detail .info { background:url(/themes/jam3/img/front_images/dotline-sml.gif) no-repeat left top; padding-top:15px; margin-top:11px; color:#5b6363 !important; font-size:15px; font-family:"DINPro-Medium", Arial, Helvetica, sans-serif; text-transform:uppercase; float:left; width:210px; margin-right:15px; line-height:20px;}
.profile_detail .info img { vertical-align:  baseline;}
.profile_detail .info2 { background:url(/themes/jam3/img/front_images/dotline-sml.gif) no-repeat left top; padding-top:15px; margin-top:15px; width:240px; float:left}
/***request info**/
.error_email,.error_phone,.error_captcha,.error_date { color:#9e1b32; font-size:14px; font-family:"DINPro-Regular",Arial,Helvetica,sans-serif; display:inline-block; margin-top:23px; }
.error_letters { color:#9e1b32; font-size:14px; font-family:"DINPro-Regular",Arial,Helvetica,sans-serif; display:inline-block; margin-top:23px; }

.error_url { color:#9e1b32; font-size:14px; font-family:"DINPro-Regular",Arial,Helvetica,sans-serif; display:inline-block; margin-top:23px; }
.error_letters { color:#9e1b32; font-size:14px; font-family:"DINPro-Regular",Arial,Helvetica,sans-serif; display:inline-block; margin-top:23px; }

.cross_img{background:url(/themes/jam3/img/front_images/cross.gif)no-repeat left top;}
.upload_img{background:url(/themes/jam3/img/front_images/upload-img.jpg)no-repeat left top;}

.no_rec { color:#9E1B32;font-size:20px; }
.datepicker_last_row { background: none !important;  border-bottom: none !important;}

.col2 { width:740px; }
.col_small_2 { width:685px; }
.col2 .last,.col_small_2 .last  { padding:0 0 12px 0px; }

/***** search css **************/
.bgcol { background:url(/themes/jam3/img/front_images/bgcol.gif) repeat-y center top; }
#one_colum {  width:100%; padding:85px 25px 100px 25px;}
.heading_row {}

/*
.heading_row .heading_block { background:url(/themes/jam3/img/front_images/blk-dot-line1.gif) no-repeat left bottom; width:170px; float:left; margin-right:20px; }*/
.heading_row .heading_block {
    background: url("/themes/jam3/img/front_images/blk-dot-line1.gif") no-repeat scroll left bottom transparent;
    float: left;
    height: 65px;
    margin-right: 20px;
    width: 170px;
}

.heading_row .search_edit_block { background:url(/themes/jam3/img/front_images/calendar-dotline.gif) repeat-x left bottom; width:745px; float:left; /*padding:5px 0 14px 0;*/ height:65px; }
 

.search_edit_block .resultby_page { float:left; margin-top:12px;}
.search_edit_block .resultby_page span { font-family:"PFDinDisplayProBold", Arial, Helvetica, sans-serif; font-size:12px; color:#5a6463; text-transform:uppercase; float:left; display:block; margin-top:2px;}
.search_edit_block .resultby_page .pagination { margin-top:2px !important; padding-left:9px; float:left; clear:inherit;}
 
.search_edit_block .resultby_page .pagination li {
background: url(/themes/jam3/img/front_images/pagination-devider.gif) no-repeat right 3px !important;
display: inline;
background: none !important;
padding: 0 !important;
display: block;
margin-right: 5px;
float: left;
}
 
.search_edit_block .resultby_page .pagination li a {
background: url("/themes/jam3/img/front_images/pagination-devider.gif") no-repeat scroll right 4px transparent;
line-height: 12px;
color: #9A9A91;
display: block;
float: left;
font-family: "PFDinDisplayProRegular",Arial,Helvetica,sans-serif;
font-size: 14px;
font-weight: normal;
padding: 0 8px 0 6px;
}
 
.search_edit_block .resultby_page .pagination li a.currentpage {
color: #1E1E1E;
}
 
.search_edit { width:390px; float:right; margin-top:4px;}





.search_edit span {
    color: #5A6463;
    display: inline-block;
    font-family: "PFDinDisplayProBold",Arial,Helvetica,sans-serif;
    font-size: 12px;
    margin: 2px 7px 0 0;
   position:relative;
   top:1px;
    text-transform: uppercase;
}

/*.search_edit .search_input { background:#dfded9 url(/themes/jam3/img/front_images/search-icon.png) no-repeat 10px 8px; border:1px solid #cdcec9; -webkit-border-radius:25px; -moz-border-radius:25px; border-radius:25px; display:inline-block; padding:4px 0 4px 25px; width:245px;} */

.search_edit .search_input {
    background: url("/themes/jam3/img/front_images/search-icon.png") no-repeat scroll 11px 8px #DFDED9;
    border: 1px solid #CDCEC9;
    border-radius: 25px 25px 25px 25px;
    display: inline-block;
    padding: 4px 0 4px 25px;
    width: 245px;
}

.search_edit .search_input input { border:none; background:none; color:#9a9a92; width:230px; font-size:13px;}
/*  line 1168 - .search_result_row .cate_date { font-size 15px */  /* line 1167 .search_result_row .cate_date span {  color:#596264  */
.search_result_row { padding-top:33px; }
/*<<<<<<< HEAD*/
.search_result_row .cate_date span { font-family:"AdobeCaslonProRegular", Georgia, Times New Roman, Times, serif; color:#596264; font-size:20px; display:block; line-height:30px; /*text-align:left SFLTR*/}
.search_result_row .cate_date {  font-family:"AdobeCaslonProRegular", Georgia, Times New Roman, Times, serif; color:#9a9b95; font-size:15px; line-height:12px; width:170px; float:left; margin-right:20px; text-align:right; margin-top:8px; /* SFLTR */}
/*=======*/
.search_result_row .cate_date span {  color:#596264; font-family:"AdobeCaslonProRegular", Georgia, Times New Roman, Times, serif; color:#5a6463; font-size:20px; display:block; line-height:30px; /*text-align:left SFLTR*/}
.search_result_row .cate_date { font-size: 15px; font-family:"AdobeCaslonProRegular", Georgia, Times New Roman, Times, serif; color:#9a9b95; font-size:14px; width:170px; float:left; margin-right:20px; text-align:right; margin-top:8px; /* SFLTR */}
/*>>>>>>> bf36fe2149e54ff9d7f34962632b6d44ae65096b*/
.search_result_row .search_title { background:url(/themes/jam3/img/front_images/zigzag-sml-dark.gif) no-repeat left bottom; width:745px; float:left; font-family:"AdobeCaslonProRegular", Georgia, Times New Roman, Times, serif; color:#1e1e1e; font-size:40px; padding-bottom:20px; text-transform:inherit}

.search_result_row .search_title a{ font-family:"AdobeCaslonProRegular", Georgia, Times New Roman, Times, serif; color:#1e1e1e; font-size:35px; padding-bottom:20px; text-transform:inherit}

.margleft { margin-left:193px !important;}

.search_result_row .search_title p { color: #9A9A91;
	font-family: "DINPro-Regular",Arial,Helvetica,sans-serif;
	font-size: 14px;
	letter-spacing: normal;
	line-height: 20px;
    text-transform: none;
}
/* search css */
#bookcontent{ padding-bottom:40px}

#content_desc a, #news_desc a { background:no-repeat right top; color:#9e1b32; text-transform:uppercase; font-family:"PFDinDisplayProBold", Arial, Helvetica, sans-serif; font-size:12px; height:14px; padding-right:0px; text-decoration:none; line-height:normal;}
#content_desc a:hover, #news_desc a:hover { background-position:right -16px; color:#303030;}
#content_desc a:active, #news_desc a:active { background-position:right -32px; color:#787a6f;}
.upload_photo object{
    margin-top: 8px;
	height:32px;
} 

.testlinks { width:1000px; margin:15px auto;}

.course_line1{
	background: url("/themes/jam3/img/front_images/red-blt.png") no-repeat scroll left 7px transparent !important;
	color: #9E1B32 !important;
	display: block;
	font-family: "DINPro-Medium",Arial,Helvetica,sans-serif;
	font-size: 14px;
	line-height: 20px;
	padding-left: 15px !important;
	text-transform: uppercase;
}
.course_line2{
	color: #5B6363;
	font-family: "PFDinDisplayProMedium",Arial,Helvetica,sans-serif;
	font-size: 14px;
	padding-bottom: 8px;
}

.onegreenbox {
	background-color: #E0DFDA;
    border: 3px solid #E0DFDA;
    color: #5B6363;	
    font-family: "AdobeCaslonProRegular",Georgia,Times New Roman,Times,serif;
    font-size: 42px;
    padding: 15px 20px; 
}
.mtop_readmore{
    margin-top: 4px;
}
.mleft_readmore {
    margin-left: 0px;
} 
.stLarge { background-image: none !important;}
/* /////////// Event Pagination  //////////////////*/

.pagination_event {margin-top:45px; clear:both;}
#events_area .pagination_event {
    margin-bottom: 15px;
    margin-top: 0 !important;
    padding-left: 150px;
}
.pagination_event ul { list-style:none; }
.pagination_event li { background: url(/themes/jam3/img/front_images/pagination-devider.gif) no-repeat right 3px !important; display:inline; background:none !important; padding:0 !important; display: block; margin-right:0px; float: left; }
 
.pagination_event li a {
    background: url("/themes/jam3/img/front_images/pagination-devider.gif") no-repeat scroll right 4px transparent;
    line-height: 12px;
    color: #9A9A91;
    display: block;
    float: left;
    font-family: "PFDinDisplayProRegular",Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding: 0 8px 0 6px;
}

.pagination_event li.current {
    background: url("/themes/jam3/img/front_images/pagination-devider.gif") no-repeat scroll right 4px transparent !important;
    color: #1E1E1E;
    font-size: 14px;
    line-height: 12px;
    padding: 0 7px !important;
    font-weight: normal;
    font-family: "PFDinDisplayProMedium",Arial,Helvetica,sans-serif;
}
.pagination_event li.current_last {color:#1e1e1e; padding: 0 7px !important; line-height:12px; font-weight: normal; font-family: "PFDinDisplayProMedium",Arial,Helvetica,sans-serif;}

.pagination_event li.prev02 a { background:url(/themes/jam3/img/front_images/readmore02-left.gif) no-repeat left top; height:15px; display:block; margin-right:7px;}

.pagination_event li.next02 a { background:url(/themes/jam3/img/front_images/readmore02.gif) no-repeat left top; height:15px; display:block; margin-left:7px;}

.pagination_event li.prev02 a:hover, .pagination_event li.next02 a:hover {
    background-position: left -16px;
}
.pagination_event li.prev02 a:active,.pagination_event li.next02 a:active  { background-position:left -32px;}

.pagination_event li a.before_next {  background: none !important; color:#9a9a91; font-family:"PFDinDisplayProRegular", Arial, Helvetica, sans-serif; font-size:14px; padding:0 6px; display:block; float:left;}


/* /////////// News Pagination  //////////////////*/

.pagination_news {margin-top:45px; clear:both;}
.pagination_news {
    margin-bottom: 15px;
    margin-top: 0 !important;
}
.pagination_news ul { list-style:none; }
.pagination_news li { background: url(/themes/jam3/img/front_images/pagination-devider.gif) no-repeat right 3px !important; display:inline; background:none !important; padding:0 !important; display: block; margin-right:0px; float: left; }
 
.pagination_news li a {
    background: url("/themes/jam3/img/front_images/pagination-devider.gif") no-repeat scroll right 4px transparent;
    line-height: 15px;
    color: #9A9A91;
    display: block;
    float: left;
    font-family: "PFDinDisplayProRegular",Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding: 0 8px 0 6px;
}

.pagination_news li.current {
    background: url("/themes/jam3/img/front_images/pagination-devider.gif") no-repeat scroll right 4px transparent !important;
    color: #1E1E1E;
    font-size: 14px;
    line-height: 12px;
    padding: 0 7px !important;
    font-weight: normal;
    font-family: "PFDinDisplayProMedium",Arial,Helvetica,sans-serif;
}

.pagination_news li.current_last {color:#1e1e1e; padding: 1px 7px !important; line-height:12px; font-weight: normal; font-family: "PFDinDisplayProMedium",Arial,Helvetica,sans-serif;}
.pagination_news li.prev02 a { background:url(/themes/jam3/img/front_images/readmore02-left.gif) no-repeat left top; height:15px; display:block; margin-right:7px;}

.pagination_news li.next02 a { background:url(/themes/jam3/img/front_images/readmore02.gif) no-repeat left top; height:15px; display:block; margin-left:7px;}

.pagination_news li.prev02 a:hover, .pagination_news li.next02 a:hover {
    background-position: left -16px;
}
.pagination_news li.prev02 a:active,.pagination_news li.next02 a:active  { background-position:left -32px;}

.pagination_news li a.before_next {  background: none !important; color:#9a9a91; font-family:"PFDinDisplayProRegular", Arial, Helvetica, sans-serif; font-size:14px; padding:0px 6px; line-height: 15px; display:block; float:left;}

#header_area #searchform { padding-top:51px; float:right; margin-left:10px; display:inline-block;}
#header_area #searchform #searchsubmit {display: none;}	
a.handle { float:right; display:block;  position:absolute; right:0px; z-index:1;}
.scribblar{
background:#5b6363;
border-radius:50px;
-webkit-border-radius:50px;	
-moz-border-radius:50px;
float:left;

position:relative;
z-index:0;
right:0px;
}
.scribblar input { background:none; border:none; height:30px;    line-height: 1.2em; color:#e0dfda; font-family:"PFDinDisplayProMedium", Arial, Helvetica, sans-serif; text-transform: uppercase; padding:0 18px 0 10px;}

.at16nc{   background: none !important; }
.banner_text {
    cursor:default !important;
}


#header_area #searchform { position:relative; z-index:1111;}

.autocomplete-w1 {  position:absolute; top:-15px; left:-80px; margin:0px; z-index:111; }

.autocomplete { background:#5b6363; border-radius:0 0 15px 15px; -moz-border-radius:0 0 15px 15px; -webkit-border-radius:0 0 15px 15px; cursor:default; text-align:left; verflow:auto; margin:0; overflow-y: hidden; padding-top:15px;}

.autocomplete .selected { background:#687170; color:#989991;  cursor:pointer; }
.autocomplete div { padding:5px 12px 7px 12px; text-overflow: ellipsis; overflow:hidden; white-space:nowrap; border-bottom:1px solid #6a7070; color:#c8cac7;}
.autocomplete strong { font-weight:normal; color:#9E1B32; }
.autocomplete div:last-child { background: #9A9A92 url(/themes/jam3/img/front_images/readmore-icon02.png) no-repeat 122px 50% !important; color:#9E1B32 !important; font-size: 12px; font-family: "PFDinDisplayProBold",Arial,Helvetica,sans-serif; border-bottom: none !important; text-transform: uppercase; padding-top: 8px !important;}

address, address span {
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
}

#dgr_year, #dgr, #eve_cat_filter, #dptmnt, #atoz,
#frmrequestinfo  .v_subject,
.date_position .month,
.date_position .day,
.date_position .year{
	border-radius:50px;
	-webkit-border-radius:50px;	
	-moz-border-radius:50px;
	background-color: #9d1c32;
	height: 32px;
	height:32px; border:none;  
	font-family:"PFDinDisplayProBold", Arial, Helvetica, sans-serif; color:#e0dfda; font-size:12px; text-transform:uppercase; 
	padding:8px 0 0 16px;
	text-overflow: ellipsis;
}

.date_position .month,
.date_position .day,
.date_position .year{	
	background-color:#727272;
}


@media screen and (-webkit-animation) { 
	#dgr_year, #dgr, #eve_cat_filter, #dptmnt, #atoz,
	#frmrequestinfo  .v_subject,
	.date_position .month,
	.date_position .day,
	.date_position .year{
		-webkit-appearance: listbox;
		padding:0 0 0 16px;
	}
} 

#dgr_year{
	/*background: url(/themes/jam3/img/front_images/touch_select/year.png) no-repeat;*/
	width:160px;
	position: relative;
	top:0;
	left: 180px;
	margin-bottom: -35px;
}

#dgr{
	/*background: url(/themes/jam3/img/front_images/touch_select/degree.png) no-repeat;*/
	width: 160px;
	position: relative;
	top:0;
	left: -160px;
	margin-bottom: -35px;
}

#eve_cat_filter{
	/*background: url(/themes/jam3/img/front_images/touch_select/eventfilter.png) no-repeat;*/
	width: 120px;
	position: relative;
	top: 33px;
	left: 355px;
	z-index: 999;
}
#dptmnt{
	/*background: url(/themes/jam3/img/front_images/touch_select/department.png) no-repeat;*/
	margin: 10px 0 10px 0;
	width:184px;
}

#atoz {
	/*background: url(/themes/jam3/img/front_images/touch_select/lastname.png) no-repeat;*/
	width:184px;
}

.first.column {
	margin-right: 33px;
}
/*.column_layout {
	column-width: 321px;
	-webkit-column-width: 321px; 
	-moz-column-width: 321px;
	-moz-column-gap:29px; 
	-webkit-column-gap:29px;
	column-gap:29px;
	margin-bottom:12px;
} */

#frmrequestinfo  .v_subject{
	width:140px;
	margin-bottom:15px;
}

.date_position .month{
	width:93px;
	margin-top:15px;
}

.date_position .day{
	width:75px;
	margin-top:15px;
}

.date_position .year{
	width:79px;
	margin-top:15px;
}

#dk_container_dptmnt a.dk_toggle, #dk_container_atoz a.dk_toggle {
    width: 161px !important;
}

.red_btn span, .grey_btn span {
	height: 30px !important;
	line-height: 30px !important;
	padding-top: 0px !important;	
}
